
  {
	"swagger": "2.0",
	"info": {
		"title": "Google Cloud Billing",
		"description": "Allows developers to manage billing for their Google Cloud Platform projects    programmatically.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "cloudbilling.googleapis.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/v1/billingAccounts": {
			"get": {
				"summary": "Get Billing Accounts",
				"description": "Lists the billing accounts that the current authenticated usern[owns](https://support",
				"operationId": "cloudbilling.billingAccounts.list",
				"parameters": [{
					"in": "query",
					"name": "pageSize",
					"description": "Requested page size"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A token identifying a page of results to return"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Account"]
			}
		},
		"/v1/{name}": {
			"get": {
				"summary": "Get Billing Account",
				"description": "Gets information about a billing account",
				"operationId": "cloudbilling.billingAccounts.get",
				"parameters": [{
					"in": "path",
					"name": "name",
					"description": "The resource name of the billing account to retrieve"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Account"]
			}
		},
		"/v1/{name}/billingInfo": {
			"get": {
				"summary": "Get Billing Information",
				"description": "Gets the billing information for a project",
				"operationId": "cloudbilling.projects.getBillingInfo",
				"parameters": [{
					"in": "path",
					"name": "name",
					"description": "The resource name of the project for which billing information isnretrieved"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Billing"]
			},
			"put": {
				"summary": "Update Billing Information",
				"description": "Sets or updates the billing account associated with a project",
				"operationId": "cloudbilling.projects.updateBillingInfo",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "name",
					"description": "The resource name of the project associated with the billing informationnthat you want to update"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Billing"]
			}
		},
		"/v1/{name}/projects": {
			"get": {
				"summary": "Get Projects",
				"description": "Lists the projects associated with a billing account",
				"operationId": "cloudbilling.billingAccounts.projects.list",
				"parameters": [{
					"in": "path",
					"name": "name",
					"description": "The resource name of the billing account associated with the projects thatnyou want to list"
				},
				{
					"in": "query",
					"name": "pageSize",
					"description": "Requested page size"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A token identifying a page of results to be returned"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Project"]
			}
		}
	},
	"definitions": {
		"BillingAccount": {
			"properties": {
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"open": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListBillingAccountsResponse": {
			"properties": {
				"billingAccounts": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListProjectBillingInfoResponse": {
			"properties": {
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"projectBillingInfo": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProjectBillingInfo": {
			"properties": {
				"billingAccountName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"billingEnabled": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"projectId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}