swagger: "2.0"
info:
  title: Google Cloud Key Management Service (KMS)
  description: Manages encryption for your cloud services the same way you do on-premise.
    You can generate, use, rotate, and destroy AES256 encryption keys.
  contact:
    name: Google
    url: https://google.com
  version: v1
host: cloudkms.googleapis.com
basePath: /
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /v1/{name}:
    get:
      summary: Get Key
      description: Returns metadata for a given CryptoKeyVersion
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.get
      parameters:
      - in: path
        name: name
        description: The name of the CryptoKeyVersion to get
      responses:
        200:
          description: OK
      tags:
      - Key
    patch:
      summary: Update Key
      description: Update a CryptoKeyVersion's metadata
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: name
        description: Output only
      - in: query
        name: updateMask
        description: Required list of fields to be updated in this request
      responses:
        200:
          description: OK
      tags:
      - Key
  /v1/{name}/locations:
    get:
      summary: Get Locations
      description: Lists information about the supported locations for this service
      operationId: cloudkms.projects.locations.list
      parameters:
      - in: query
        name: filter
        description: The standard list filter
      - in: path
        name: name
        description: The resource that owns the locations collection, if applicable
      - in: query
        name: pageSize
        description: The standard list page size
      - in: query
        name: pageToken
        description: The standard list page token
      responses:
        200:
          description: OK
      tags:
      - Location
  /v1/{name}:decrypt:
    post:
      summary: Decrypt Data
      description: Decrypt data that was protected by Encrypt
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.decrypt
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: name
        description: Required
      responses:
        200:
          description: OK
      tags:
      - Location
  /v1/{name}:destroy:
    post:
      summary: Destroy Key
      description: Schedule a CryptoKeyVersion for destruction
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.destroy
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: name
        description: The resource name of the CryptoKeyVersion to destroy
      responses:
        200:
          description: OK
      tags:
      - Key
  /v1/{name}:encrypt:
    post:
      summary: Encrypt Data
      description: Encrypt data, so that it can only be recovered by a call to Decrypt
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.encrypt
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: name
        description: Required
      responses:
        200:
          description: OK
      tags:
      - Encryption
  /v1/{name}:restore:
    post:
      summary: Restore Key
      description: Restore a CryptoKeyVersion in thenDESTROY_SCHEDULED,nstate
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.restore
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: name
        description: The resource name of the CryptoKeyVersion to restore
      responses:
        200:
          description: OK
      tags:
      - Key
  /v1/{name}:updatePrimaryVersion:
    post:
      summary: Update Version
      description: Update the version of a CryptoKey that will be used in Encrypt
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.updatePrimaryVersion
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: name
        description: The resource name of the CryptoKey to update
      responses:
        200:
          description: OK
      tags:
      - Version
  /v1/{parent}/cryptoKeys:
    get:
      summary: List Keys
      description: Lists CryptoKeys
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.list
      parameters:
      - in: query
        name: pageSize
        description: Optional limit on the number of CryptoKeys to include in thenresponse
      - in: query
        name: pageToken
        description: Optional pagination token, returned earlier vianListCryptoKeysResponse
      - in: path
        name: parent
        description: Required
      responses:
        200:
          description: OK
      tags:
      - Key
    post:
      summary: Create Key
      description: Create a new CryptoKey within a KeyRing
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: cryptoKeyId
        description: Required
      - in: path
        name: parent
        description: Required
      responses:
        200:
          description: OK
      tags:
      - Key
  /v1/{parent}/cryptoKeyVersions:
    get:
      summary: List Key Versions
      description: Lists CryptoKeyVersions
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.list
      parameters:
      - in: query
        name: pageSize
        description: Optional limit on the number of CryptoKeyVersions toninclude
          in the response
      - in: query
        name: pageToken
        description: Optional pagination token, returned earlier vianListCryptoKeyVersionsResponse
      - in: path
        name: parent
        description: Required
      responses:
        200:
          description: OK
      tags:
      - Key Version
    post:
      summary: Create Key Version
      description: Create a new CryptoKeyVersion in a CryptoKey
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.cryptoKeyVersions.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: parent
        description: Required
      responses:
        200:
          description: OK
      tags:
      - Key Version
  /v1/{parent}/keyRings:
    get:
      summary: List Key Rings
      description: Lists KeyRings
      operationId: cloudkms.projects.locations.keyRings.list
      parameters:
      - in: query
        name: pageSize
        description: Optional limit on the number of KeyRings to include in thenresponse
      - in: query
        name: pageToken
        description: Optional pagination token, returned earlier vianListKeyRingsResponse
      - in: path
        name: parent
        description: Required
      responses:
        200:
          description: OK
      tags:
      - Key Ring
    post:
      summary: Create Key Ring
      description: Create a new KeyRing in a given Project and Location
      operationId: cloudkms.projects.locations.keyRings.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: keyRingId
        description: Required
      - in: path
        name: parent
        description: Required
      responses:
        200:
          description: OK
      tags:
      - Key Ring
  /v1/{resource}:getIamPolicy:
    get:
      summary: Get IAM Policy
      description: Gets the access control policy for a resource
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.getIamPolicy
      parameters:
      - in: path
        name: resource
        description: 'REQUIRED: The resource for which the policy is being requested'
      responses:
        200:
          description: OK
      tags:
      - IAM Policy
  /v1/{resource}:setIamPolicy:
    post:
      summary: Set IAM Policy
      description: Sets the access control policy on the specified resource
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.setIamPolicy
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: resource
        description: 'REQUIRED: The resource for which the policy is being specified'
      responses:
        200:
          description: OK
      tags:
      - IAM Policy
  /v1/{resource}:testIamPermissions:
    post:
      summary: Test IAM Permissions
      description: Returns permissions that a caller has on the specified resource
      operationId: cloudkms.projects.locations.keyRings.cryptoKeys.testIamPermissions
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: resource
        description: 'REQUIRED: The resource for which the policy detail is being
          requested'
      responses:
        200:
          description: OK
      tags:
      - IAM Permission
definitions:
  AuditConfig:
    properties:
      auditLogConfigs:
        description: This is a default description.
        type: post
      exemptedMembers:
        description: This is a default description.
        type: post
      service:
        description: This is a default description.
        type: post
  AuditLogConfig:
    properties:
      exemptedMembers:
        description: This is a default description.
        type: post
      logType:
        description: This is a default description.
        type: post
  Binding:
    properties:
      members:
        description: This is a default description.
        type: post
      role:
        description: This is a default description.
        type: post
  CloudAuditOptions:
    properties: []
  Condition:
    properties:
      iam:
        description: This is a default description.
        type: post
      op:
        description: This is a default description.
        type: post
      svc:
        description: This is a default description.
        type: post
      sys:
        description: This is a default description.
        type: post
      value:
        description: This is a default description.
        type: post
      values:
        description: This is a default description.
        type: post
  CounterOptions:
    properties:
      field:
        description: This is a default description.
        type: post
      metric:
        description: This is a default description.
        type: post
  CryptoKey:
    properties:
      createTime:
        description: This is a default description.
        type: post
      name:
        description: This is a default description.
        type: post
      nextRotationTime:
        description: This is a default description.
        type: post
      purpose:
        description: This is a default description.
        type: post
      rotationPeriod:
        description: This is a default description.
        type: post
  CryptoKeyVersion:
    properties:
      createTime:
        description: This is a default description.
        type: post
      destroyEventTime:
        description: This is a default description.
        type: post
      destroyTime:
        description: This is a default description.
        type: post
      name:
        description: This is a default description.
        type: post
      state:
        description: This is a default description.
        type: post
  DataAccessOptions:
    properties: []
  DecryptRequest:
    properties:
      additionalAuthenticatedData:
        description: This is a default description.
        type: post
      ciphertext:
        description: This is a default description.
        type: post
  DecryptResponse:
    properties:
      plaintext:
        description: This is a default description.
        type: post
  DestroyCryptoKeyVersionRequest:
    properties: []
  EncryptRequest:
    properties:
      additionalAuthenticatedData:
        description: This is a default description.
        type: post
      plaintext:
        description: This is a default description.
        type: post
  EncryptResponse:
    properties:
      ciphertext:
        description: This is a default description.
        type: post
      name:
        description: This is a default description.
        type: post
  KeyRing:
    properties:
      createTime:
        description: This is a default description.
        type: post
      name:
        description: This is a default description.
        type: post
  ListCryptoKeyVersionsResponse:
    properties:
      cryptoKeyVersions:
        description: This is a default description.
        type: post
      nextPageToken:
        description: This is a default description.
        type: post
      totalSize:
        description: This is a default description.
        type: post
  ListCryptoKeysResponse:
    properties:
      cryptoKeys:
        description: This is a default description.
        type: post
      nextPageToken:
        description: This is a default description.
        type: post
      totalSize:
        description: This is a default description.
        type: post
  ListKeyRingsResponse:
    properties:
      keyRings:
        description: This is a default description.
        type: post
      nextPageToken:
        description: This is a default description.
        type: post
      totalSize:
        description: This is a default description.
        type: post
  ListLocationsResponse:
    properties:
      locations:
        description: This is a default description.
        type: post
      nextPageToken:
        description: This is a default description.
        type: post
  Location:
    properties:
      labels:
        description: This is a default description.
        type: post
      locationId:
        description: This is a default description.
        type: post
      metadata:
        description: This is a default description.
        type: post
      name:
        description: This is a default description.
        type: post
  LogConfig:
    properties: []
  Policy:
    properties:
      auditConfigs:
        description: This is a default description.
        type: post
      bindings:
        description: This is a default description.
        type: post
      etag:
        description: This is a default description.
        type: post
      iamOwned:
        description: This is a default description.
        type: post
      rules:
        description: This is a default description.
        type: post
      version:
        description: This is a default description.
        type: post
  RestoreCryptoKeyVersionRequest:
    properties: []
  Rule:
    properties:
      action:
        description: This is a default description.
        type: post
      conditions:
        description: This is a default description.
        type: post
      description:
        description: This is a default description.
        type: post
      in:
        description: This is a default description.
        type: post
      logConfig:
        description: This is a default description.
        type: post
      notIn:
        description: This is a default description.
        type: post
      permissions:
        description: This is a default description.
        type: post
  SetIamPolicyRequest:
    properties:
      updateMask:
        description: This is a default description.
        type: post
  TestIamPermissionsRequest:
    properties:
      permissions:
        description: This is a default description.
        type: post
  TestIamPermissionsResponse:
    properties:
      permissions:
        description: This is a default description.
        type: post
  UpdateCryptoKeyPrimaryVersionRequest:
    properties:
      cryptoKeyVersionId:
        description: This is a default description.
        type: post