
  {
	"swagger": "2.0",
	"info": {
		"title": "Stackdriver Trace",
		"description": "Send and retrieve trace data from Stackdriver Trace. Data is generated and available by default for all App Engine applications. Data from other applications can be written to Stackdriver Trace for display, reporting, and analysis.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "cloudtrace.googleapis.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/v1/projects/{projectId}/traces": {
			"get": {
				"summary": "Get Traces",
				"description": "Returns of a list of traces that match the specified filter conditions",
				"operationId": "cloudtrace.projects.traces.list",
				"parameters": [{
					"in": "query",
					"name": "endTime",
					"description": "Start of the time interval (inclusive) during which the trace data wasncollected from the application"
				},
				{
					"in": "query",
					"name": "filter",
					"description": "An optional filter for the request"
				},
				{
					"in": "query",
					"name": "orderBy",
					"description": "Field used to sort the returned traces"
				},
				{
					"in": "query",
					"name": "pageSize",
					"description": "Maximum number of traces to return"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Token identifying the page of results to return"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "ID of the Cloud project where the trace data is stored"
				},
				{
					"in": "query",
					"name": "startTime",
					"description": "End of the time interval (inclusive) during which the trace data wasncollected from the application"
				},
				{
					"in": "query",
					"name": "view",
					"description": "Type of data returned for traces in the list"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Trace"]
			},
			"patch": {
				"summary": "Update Trace",
				"description": "Sends new traces to Stackdriver Trace or updates existing traces",
				"operationId": "cloudtrace.projects.patchTraces",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "ID of the Cloud project where the trace data is stored"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Trace"]
			}
		},
		"/v1/projects/{projectId}/traces/{traceId}": {
			"get": {
				"summary": "Get Trace",
				"description": "Gets a single trace by its ID",
				"operationId": "cloudtrace.projects.traces.get",
				"parameters": [{
					"in": "path",
					"name": "projectId",
					"description": "ID of the Cloud project where the trace data is stored"
				},
				{
					"in": "path",
					"name": "traceId",
					"description": "ID of the trace to return"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Trace"]
			}
		}
	},
	"definitions": {
		"Empty": {
			"properties": []
		},
		"ListTracesResponse": {
			"properties": {
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"traces": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Trace": {
			"properties": {
				"projectId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"spans": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"traceId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TraceSpan": {
			"properties": {
				"endTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"labels": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"parentSpanId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"spanId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startTime": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Traces": {
			"properties": {
				"traces": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}