swagger: "2.0"
info:
  title: Content API for Shopping
  description: Manages product items, inventory, and Merchant Center accounts for
    Google Shopping.
  contact:
    name: Google
    url: https://google.com
  version: v2
host: www.googleapis.com
basePath: /content/v2
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /accounts/authinfo:
    get:
      summary: Authenticated User
      description: Returns information about the authenticated user
      operationId: content.accounts.authinfo
      responses:
        200:
          description: OK
      tags:
      - Account
  /accounts/batch:
    post:
      summary: Account Batch
      description: Retrieves, inserts, updates, and deletes multiple Merchant Center
        (sub-)accounts in a single request
      operationId: content.accounts.custombatch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      responses:
        200:
          description: OK
      tags:
      - Account
  /accountshipping/batch:
    post:
      summary: Account Batches
      description: Retrieves and updates the shipping settings of multiple accounts
        in a single request
      operationId: content.accountshipping.custombatch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      responses:
        200:
          description: OK
      tags:
      - Account
  /accountstatuses/batch:
    post:
      summary: Account Status Batch
      description: Retrieves account batch status
      operationId: content.accountstatuses.custombatch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Account
  /accounttax/batch:
    post:
      summary: Account Taxes
      description: Retrieves and updates tax settings of multiple accounts in a single
        request
      operationId: content.accounttax.custombatch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      responses:
        200:
          description: OK
      tags:
      - Account
  /datafeeds/batch:
    post:
      summary: Data Feeds
      description: Retrieves data feed batches
      operationId: content.datafeeds.custombatch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      responses:
        200:
          description: OK
      tags:
      - Data Feed
  /datafeedstatuses/batch:
    post:
      summary: Data Feed Status
      description: Retrieves data feed batch status
      operationId: content.datafeedstatuses.custombatch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Data Feed
  /inventory/batch:
    post:
      summary: Inventory
      description: Updates price and availability for multiple products or stores
        in a single request
      operationId: content.inventory.custombatch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      responses:
        200:
          description: OK
      tags:
      - Inventory
  /orders/batch:
    post:
      summary: Orders
      description: Retrieves or modifies multiple orders in a single request
      operationId: content.orders.custombatch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Orders
  /products/batch:
    post:
      summary: Product Batches
      description: Retrieves, inserts, and deletes multiple products in a single request
      operationId: content.products.custombatch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      responses:
        200:
          description: OK
      tags:
      - Products
  /productstatuses/batch:
    post:
      summary: Product Batch
      description: Gets the statuses of multiple products in a single request
      operationId: content.productstatuses.custombatch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Products
  /shippingsettings/batch:
    post:
      summary: Shipping Settings
      description: Retrieves and updates the shipping settings of multiple accounts
        in a single request
      operationId: content.shippingsettings.custombatch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      responses:
        200:
          description: OK
      tags:
      - Shipping
  /{merchantId}/accounts:
    get:
      summary: Get Accounts
      description: Lists the sub-accounts in your Merchant Center account
      operationId: content.accounts.list
      parameters:
      - in: query
        name: maxResults
        description: The maximum number of accounts to return in the response, used
          for paging
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: query
        name: pageToken
        description: The token returned by the previous request
      responses:
        200:
          description: OK
      tags:
      - Merchant Account
    post:
      summary: Create Accounts
      description: Creates a Merchant Center sub-account
      operationId: content.accounts.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      - in: path
        name: merchantId
        description: The ID of the managing account
      responses:
        200:
          description: OK
      tags:
      - Merchant Account
  /{merchantId}/accounts/{accountId}:
    delete:
      summary: Delete Account
      description: Deletes a Merchant Center sub-account
      operationId: content.accounts.delete
      parameters:
      - in: path
        name: accountId
        description: The ID of the account
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      - in: path
        name: merchantId
        description: The ID of the managing account
      responses:
        200:
          description: OK
      tags:
      - Merchant Account
    get:
      summary: Get Account
      description: Retrieves a Merchant Center account
      operationId: content.accounts.get
      parameters:
      - in: path
        name: accountId
        description: The ID of the account
      - in: path
        name: merchantId
        description: The ID of the managing account
      responses:
        200:
          description: OK
      tags:
      - Merchant Account
    patch:
      summary: Update Account
      description: Updates a Merchant Center account
      operationId: content.accounts.patch
      parameters:
      - in: path
        name: accountId
        description: The ID of the account
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      - in: path
        name: merchantId
        description: The ID of the managing account
      responses:
        200:
          description: OK
      tags:
      - Merchant Account
    put:
      summary: Update Account
      description: Updates a Merchant Center account
      operationId: content.accounts.update
      parameters:
      - in: path
        name: accountId
        description: The ID of the account
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      - in: path
        name: merchantId
        description: The ID of the managing account
      responses:
        200:
          description: OK
      tags:
      - Merchant Account
  /{merchantId}/accountshipping:
    get:
      summary: Get Account Shipping
      description: Lists the shipping settings of the sub-accounts in your Merchant
        Center account
      operationId: content.accountshipping.list
      parameters:
      - in: query
        name: maxResults
        description: The maximum number of shipping settings to return in the response,
          used for paging
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: query
        name: pageToken
        description: The token returned by the previous request
      responses:
        200:
          description: OK
      tags:
      - Merchant Account
  /{merchantId}/accountshipping/{accountId}:
    get:
      summary: Get Account Shipping
      description: Retrieves the shipping settings of the account
      operationId: content.accountshipping.get
      parameters:
      - in: path
        name: accountId
        description: The ID of the account for which to get/update account shipping
          settings
      - in: path
        name: merchantId
        description: The ID of the managing account
      responses:
        200:
          description: OK
      tags:
      - Merchant Account
    patch:
      summary: Updat Account Shipping
      description: Updates the shipping settings of the account
      operationId: content.accountshipping.patch
      parameters:
      - in: path
        name: accountId
        description: The ID of the account for which to get/update account shipping
          settings
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      - in: path
        name: merchantId
        description: The ID of the managing account
      responses:
        200:
          description: OK
      tags:
      - Merchant Account
    put:
      summary: Updat Account Shipping
      description: Updates the shipping settings of the account
      operationId: content.accountshipping.update
      parameters:
      - in: path
        name: accountId
        description: The ID of the account for which to get/update account shipping
          settings
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      - in: path
        name: merchantId
        description: The ID of the managing account
      responses:
        200:
          description: OK
      tags:
      - Merchant Account
  /{merchantId}/accountstatuses:
    get:
      summary: Get Account Status
      description: Lists the statuses of the sub-accounts in your Merchant Center
        account
      operationId: content.accountstatuses.list
      parameters:
      - in: query
        name: maxResults
        description: The maximum number of account statuses to return in the response,
          used for paging
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: query
        name: pageToken
        description: The token returned by the previous request
      responses:
        200:
          description: OK
      tags:
      - Merchant Account
  /{merchantId}/accountstatuses/{accountId}:
    get:
      summary: Get Account Status
      description: Retrieves the status of a Merchant Center account
      operationId: content.accountstatuses.get
      parameters:
      - in: path
        name: accountId
        description: The ID of the account
      - in: path
        name: merchantId
        description: The ID of the managing account
      responses:
        200:
          description: OK
      tags:
      - Merchant Account
  /{merchantId}/accounttax:
    get:
      summary: Get Account Taxes
      description: Lists the tax settings of the sub-accounts in your Merchant Center
        account
      operationId: content.accounttax.list
      parameters:
      - in: query
        name: maxResults
        description: The maximum number of tax settings to return in the response,
          used for paging
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: query
        name: pageToken
        description: The token returned by the previous request
      responses:
        200:
          description: OK
      tags:
      - Merchant Account
  /{merchantId}/accounttax/{accountId}:
    get:
      summary: Get Account Tax
      description: Retrieves the tax settings of the account
      operationId: content.accounttax.get
      parameters:
      - in: path
        name: accountId
        description: The ID of the account for which to get/update account tax settings
      - in: path
        name: merchantId
        description: The ID of the managing account
      responses:
        200:
          description: OK
      tags:
      - Merchant Account
    patch:
      summary: Update Account Tax
      description: Updates the tax settings of the account
      operationId: content.accounttax.patch
      parameters:
      - in: path
        name: accountId
        description: The ID of the account for which to get/update account tax settings
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      - in: path
        name: merchantId
        description: The ID of the managing account
      responses:
        200:
          description: OK
      tags:
      - Merchant Account
    put:
      summary: Update Account Tax
      description: Updates the tax settings of the account
      operationId: content.accounttax.update
      parameters:
      - in: path
        name: accountId
        description: The ID of the account for which to get/update account tax settings
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      - in: path
        name: merchantId
        description: The ID of the managing account
      responses:
        200:
          description: OK
      tags:
      - Data Feed
  /{merchantId}/datafeeds:
    get:
      summary: Get Data Feeds
      description: Lists the datafeeds in your Merchant Center account
      operationId: content.datafeeds.list
      parameters:
      - in: query
        name: maxResults
        description: The maximum number of products to return in the response, used
          for paging
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: query
        name: pageToken
        description: The token returned by the previous request
      responses:
        200:
          description: OK
      tags:
      - Data Feed
    post:
      summary: Create Data Feed
      description: Registers a datafeed with your Merchant Center account
      operationId: content.datafeeds.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      - in: path
        name: merchantId
      responses:
        200:
          description: OK
      tags:
      - Data Feed
  /{merchantId}/datafeeds/{datafeedId}:
    delete:
      summary: Delete Data Feed
      description: Deletes a datafeed from your Merchant Center account
      operationId: content.datafeeds.delete
      parameters:
      - in: path
        name: datafeedId
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      - in: path
        name: merchantId
      responses:
        200:
          description: OK
      tags:
      - Data Feed
    get:
      summary: Get Data Feed
      description: Retrieves a datafeed from your Merchant Center account
      operationId: content.datafeeds.get
      parameters:
      - in: path
        name: datafeedId
      - in: path
        name: merchantId
      responses:
        200:
          description: OK
      tags:
      - Data Feed
    patch:
      summary: Update Data Feed
      description: Updates a datafeed of your Merchant Center account
      operationId: content.datafeeds.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: datafeedId
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      - in: path
        name: merchantId
      responses:
        200:
          description: OK
      tags:
      - Data Feed
    put:
      summary: Update Data Feed
      description: Updates a datafeed of your Merchant Center account
      operationId: content.datafeeds.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: datafeedId
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      - in: path
        name: merchantId
      responses:
        200:
          description: OK
      tags:
      - Data Feed
  /{merchantId}/datafeedstatuses:
    get:
      summary: Get Data Feed Status
      description: Lists the statuses of the datafeeds in your Merchant Center account
      operationId: content.datafeedstatuses.list
      parameters:
      - in: query
        name: maxResults
        description: The maximum number of products to return in the response, used
          for paging
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: query
        name: pageToken
        description: The token returned by the previous request
      responses:
        200:
          description: OK
      tags:
      - Data Feed
  /{merchantId}/datafeedstatuses/{datafeedId}:
    get:
      summary: Get Data Feed Status
      description: Retrieves the status of a datafeed from your Merchant Center account
      operationId: content.datafeedstatuses.get
      parameters:
      - in: path
        name: datafeedId
      - in: path
        name: merchantId
      responses:
        200:
          description: OK
      tags:
      - Data Feed
  /{merchantId}/inventory/{storeCode}/products/{productId}:
    post:
      summary: Update Price
      description: Updates price and availability of a product in your Merchant Center
        account
      operationId: content.inventory.set
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: path
        name: productId
        description: The ID of the product for which to update price and availability
      - in: path
        name: storeCode
        description: The code of the store for which to update price and availability
      responses:
        200:
          description: OK
      tags:
      - Inventory
  /{merchantId}/orders:
    get:
      summary: Get Orders
      description: Lists the orders in your Merchant Center account
      operationId: content.orders.list
      parameters:
      - in: query
        name: acknowledged
        description: Obtains orders that match the acknowledgement status
      - in: query
        name: maxResults
        description: The maximum number of orders to return in the response, used
          for paging
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: query
        name: orderBy
        description: The ordering of the returned list
      - in: query
        name: pageToken
        description: The token returned by the previous request
      - in: query
        name: placedDateEnd
        description: Obtains orders placed before this date (exclusively), in ISO
          8601 format
      - in: query
        name: placedDateStart
        description: Obtains orders placed after this date (inclusively), in ISO 8601
          format
      - in: query
        name: statuses
        description: Obtains orders that match any of the specified statuses
      responses:
        200:
          description: OK
      tags:
      - Orders
  /{merchantId}/orders/{orderId}:
    get:
      summary: Get Order
      description: Retrieves an order from your Merchant Center account
      operationId: content.orders.get
      parameters:
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: path
        name: orderId
        description: The ID of the order
      responses:
        200:
          description: OK
      tags:
      - Orders
  /{merchantId}/orders/{orderId}/acknowledge:
    post:
      summary: Acknowledge Order
      description: Marks an order as acknowledged
      operationId: content.orders.acknowledge
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: path
        name: orderId
        description: The ID of the order
      responses:
        200:
          description: OK
      tags:
      - Orders
  /{merchantId}/orders/{orderId}/cancel:
    post:
      summary: Cancel Order
      description: Cancels all line items in an order
      operationId: content.orders.cancel
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: path
        name: orderId
        description: The ID of the order to cancel
      responses:
        200:
          description: OK
      tags:
      - Orders
  /{merchantId}/orders/{orderId}/cancelLineItem:
    post:
      summary: Cancel Order Line Item
      description: Cancels a line item
      operationId: content.orders.cancellineitem
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: path
        name: orderId
        description: The ID of the order
      responses:
        200:
          description: OK
      tags:
      - Orders
  /{merchantId}/orders/{orderId}/refund:
    post:
      summary: Refund Order
      description: Refund a portion of the order, up to the full amount paid
      operationId: content.orders.refund
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: path
        name: orderId
        description: The ID of the order to refund
      responses:
        200:
          description: OK
      tags:
      - Orders
  /{merchantId}/orders/{orderId}/returnLineItem:
    post:
      summary: Return Line Item
      description: Returns a line item
      operationId: content.orders.returnlineitem
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: path
        name: orderId
        description: The ID of the order
      responses:
        200:
          description: OK
      tags:
      - Orders
  /{merchantId}/orders/{orderId}/shipLineItems:
    post:
      summary: Ship Line Item
      description: Marks line item(s) as shipped
      operationId: content.orders.shiplineitems
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: path
        name: orderId
        description: The ID of the order
      responses:
        200:
          description: OK
      tags:
      - Orders
  /{merchantId}/orders/{orderId}/updateMerchantOrderId:
    post:
      summary: Update Merchant Order ID
      description: Updates the merchant order ID for a given order
      operationId: content.orders.updatemerchantorderid
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: path
        name: orderId
        description: The ID of the order
      responses:
        200:
          description: OK
      tags:
      - Orders
  /{merchantId}/orders/{orderId}/updateShipment:
    post:
      summary: Update order Shippment
      description: Updates a shipment's status, carrier, and/or tracking ID
      operationId: content.orders.updateshipment
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: path
        name: orderId
        description: The ID of the order
      responses:
        200:
          description: OK
      tags:
      - Orders
  /{merchantId}/ordersbymerchantid/{merchantOrderId}:
    get:
      summary: Get Order
      description: Retrieves an order using merchant order id
      operationId: content.orders.getbymerchantorderid
      parameters:
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: path
        name: merchantOrderId
        description: The merchant order id to be looked for
      responses:
        200:
          description: OK
      tags:
      - Orders
  /{merchantId}/products:
    get:
      summary: Get Prudcts
      description: Lists the products in your Merchant Center account
      operationId: content.products.list
      parameters:
      - in: query
        name: includeInvalidInsertedItems
        description: Flag to include the invalid inserted items in the result of the
          list request
      - in: query
        name: maxResults
        description: The maximum number of products to return in the response, used
          for paging
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: query
        name: pageToken
        description: The token returned by the previous request
      responses:
        200:
          description: OK
      tags:
      - Products
    post:
      summary: Upload Product
      description: Uploads a product to your Merchant Center account
      operationId: content.products.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      - in: path
        name: merchantId
        description: The ID of the managing account
      responses:
        200:
          description: OK
      tags:
      - Products
  /{merchantId}/products/{productId}:
    delete:
      summary: Delete Product
      description: Deletes a product from your Merchant Center account
      operationId: content.products.delete
      parameters:
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: path
        name: productId
        description: The ID of the product
      responses:
        200:
          description: OK
      tags:
      - Products
    get:
      summary: Get Product
      description: Retrieves a product from your Merchant Center account
      operationId: content.products.get
      parameters:
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: path
        name: productId
        description: The ID of the product
      responses:
        200:
          description: OK
      tags:
      - Products
  /{merchantId}/productstatuses:
    get:
      summary: Get Product Status
      description: Lists the statuses of the products in your Merchant Center account
      operationId: content.productstatuses.list
      parameters:
      - in: query
        name: includeInvalidInsertedItems
        description: Flag to include the invalid inserted items in the result of the
          list request
      - in: query
        name: maxResults
        description: The maximum number of product statuses to return in the response,
          used for paging
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: query
        name: pageToken
        description: The token returned by the previous request
      responses:
        200:
          description: OK
      tags:
      - Products
  /{merchantId}/productstatuses/{productId}:
    get:
      summary: Get Product Status
      description: Gets the status of a product from your Merchant Center account
      operationId: content.productstatuses.get
      parameters:
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: path
        name: productId
        description: The ID of the product
      responses:
        200:
          description: OK
      tags:
      - Products
  /{merchantId}/shippingsettings:
    get:
      summary: Get Shipping Settings
      description: Lists the shipping settings of the sub-accounts in your Merchant
        Center account
      operationId: content.shippingsettings.list
      parameters:
      - in: query
        name: maxResults
        description: The maximum number of shipping settings to return in the response,
          used for paging
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: query
        name: pageToken
        description: The token returned by the previous request
      responses:
        200:
          description: OK
      tags:
      - Products
  /{merchantId}/shippingsettings/{accountId}:
    get:
      summary: Get Shipping Settings
      description: Retrieves the shipping settings of the account
      operationId: content.shippingsettings.get
      parameters:
      - in: path
        name: accountId
        description: The ID of the account for which to get/update shipping settings
      - in: path
        name: merchantId
        description: The ID of the managing account
      responses:
        200:
          description: OK
      tags:
      - Shipping
    patch:
      summary: Update Shipping Settings
      description: Updates the shipping settings of the account
      operationId: content.shippingsettings.patch
      parameters:
      - in: path
        name: accountId
        description: The ID of the account for which to get/update shipping settings
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      - in: path
        name: merchantId
        description: The ID of the managing account
      responses:
        200:
          description: OK
      tags:
      - Shipping
    put:
      summary: Update Shipping Settings
      description: Updates the shipping settings of the account
      operationId: content.shippingsettings.update
      parameters:
      - in: path
        name: accountId
        description: The ID of the account for which to get/update shipping settings
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: dryRun
        description: Flag to run the request in dry-run mode
      - in: path
        name: merchantId
        description: The ID of the managing account
      responses:
        200:
          description: OK
      tags:
      - Shipping
  /{merchantId}/supportedCarriers:
    get:
      summary: Get Supported Carriers
      description: Retrieves supported carriers and carrier services for an account
      operationId: content.shippingsettings.getsupportedcarriers
      parameters:
      - in: path
        name: merchantId
        description: The ID of the account for which to retrieve the supported carriers
      responses:
        200:
          description: OK
      tags:
      - Shipping Carrier
  /{merchantId}/testorders:
    post:
      summary: Create Test Order
      description: Sandbox only
      operationId: content.orders.createtestorder
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: merchantId
        description: The ID of the managing account
      responses:
        200:
          description: OK
      tags:
      - Test Order
  /{merchantId}/testorders/{orderId}/advance:
    post:
      summary: Update Test Order
      description: Sandbox only
      operationId: content.orders.advancetestorder
      parameters:
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: path
        name: orderId
        description: The ID of the test order to modify
      responses:
        200:
          description: OK
      tags:
      - Test Order
  /{merchantId}/testordertemplates/{templateName}:
    get:
      summary: Get Test Order
      description: Sandbox only
      operationId: content.orders.gettestordertemplate
      parameters:
      - in: path
        name: merchantId
        description: The ID of the managing account
      - in: path
        name: templateName
        description: The name of the template to retrieve
      responses:
        200:
          description: OK
      tags:
      - Test Order
definitions:
  Account:
    properties:
      adultContent:
        description: This is a default description.
        type: parameters
      adwordsLinks:
        description: This is a default description.
        type: parameters
      id:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      reviewsUrl:
        description: This is a default description.
        type: parameters
      sellerId:
        description: This is a default description.
        type: parameters
      users:
        description: This is a default description.
        type: parameters
      websiteUrl:
        description: This is a default description.
        type: parameters
  AccountAdwordsLink:
    properties:
      adwordsId:
        description: This is a default description.
        type: parameters
      status:
        description: This is a default description.
        type: parameters
  AccountIdentifier:
    properties:
      aggregatorId:
        description: This is a default description.
        type: parameters
      merchantId:
        description: This is a default description.
        type: parameters
  AccountShipping:
    properties:
      accountId:
        description: This is a default description.
        type: parameters
      carrierRates:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
      locationGroups:
        description: This is a default description.
        type: parameters
      rateTables:
        description: This is a default description.
        type: parameters
      services:
        description: This is a default description.
        type: parameters
  AccountShippingCarrierRate:
    properties:
      carrier:
        description: This is a default description.
        type: parameters
      carrierService:
        description: This is a default description.
        type: parameters
      modifierPercent:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      saleCountry:
        description: This is a default description.
        type: parameters
      shippingOrigin:
        description: This is a default description.
        type: parameters
  AccountShippingCondition:
    properties:
      deliveryLocationGroup:
        description: This is a default description.
        type: parameters
      deliveryLocationId:
        description: This is a default description.
        type: parameters
      deliveryPostalCode:
        description: This is a default description.
        type: parameters
      shippingLabel:
        description: This is a default description.
        type: parameters
  AccountShippingLocationGroup:
    properties:
      country:
        description: This is a default description.
        type: parameters
      locationIds:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      postalCodeRanges:
        description: This is a default description.
        type: parameters
      postalCodes:
        description: This is a default description.
        type: parameters
  AccountShippingPostalCodeRange:
    properties:
      end:
        description: This is a default description.
        type: parameters
      start:
        description: This is a default description.
        type: parameters
  AccountShippingRateTable:
    properties:
      content:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      saleCountry:
        description: This is a default description.
        type: parameters
  AccountShippingRateTableCell:
    properties: []
  AccountShippingShippingService:
    properties:
      active:
        description: This is a default description.
        type: parameters
      maxDaysInTransit:
        description: This is a default description.
        type: parameters
      minDaysInTransit:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      saleCountry:
        description: This is a default description.
        type: parameters
  AccountShippingShippingServiceCalculationMethod:
    properties:
      carrierRate:
        description: This is a default description.
        type: parameters
      excluded:
        description: This is a default description.
        type: parameters
      percentageRate:
        description: This is a default description.
        type: parameters
      rateTable:
        description: This is a default description.
        type: parameters
  AccountShippingShippingServiceCostRule:
    properties:
      children:
        description: This is a default description.
        type: parameters
  AccountStatus:
    properties:
      accountId:
        description: This is a default description.
        type: parameters
      dataQualityIssues:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  AccountStatusDataQualityIssue:
    properties:
      country:
        description: This is a default description.
        type: parameters
      detail:
        description: This is a default description.
        type: parameters
      displayedValue:
        description: This is a default description.
        type: parameters
      exampleItems:
        description: This is a default description.
        type: parameters
      id:
        description: This is a default description.
        type: parameters
      lastChecked:
        description: This is a default description.
        type: parameters
      location:
        description: This is a default description.
        type: parameters
      numItems:
        description: This is a default description.
        type: parameters
      severity:
        description: This is a default description.
        type: parameters
      submittedValue:
        description: This is a default description.
        type: parameters
  AccountStatusExampleItem:
    properties:
      itemId:
        description: This is a default description.
        type: parameters
      link:
        description: This is a default description.
        type: parameters
      submittedValue:
        description: This is a default description.
        type: parameters
      title:
        description: This is a default description.
        type: parameters
      valueOnLandingPage:
        description: This is a default description.
        type: parameters
  AccountTax:
    properties:
      accountId:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
      rules:
        description: This is a default description.
        type: parameters
  AccountTaxTaxRule:
    properties:
      country:
        description: This is a default description.
        type: parameters
      locationId:
        description: This is a default description.
        type: parameters
      ratePercent:
        description: This is a default description.
        type: parameters
      shippingTaxed:
        description: This is a default description.
        type: parameters
      useGlobalRate:
        description: This is a default description.
        type: parameters
  AccountUser:
    properties:
      admin:
        description: This is a default description.
        type: parameters
      emailAddress:
        description: This is a default description.
        type: parameters
  AccountsAuthInfoResponse:
    properties:
      accountIdentifiers:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  AccountsCustomBatchRequest:
    properties:
      entries:
        description: This is a default description.
        type: parameters
  AccountsCustomBatchRequestEntry:
    properties:
      accountId:
        description: This is a default description.
        type: parameters
      batchId:
        description: This is a default description.
        type: parameters
      merchantId:
        description: This is a default description.
        type: parameters
      method:
        description: This is a default description.
        type: parameters
  AccountsCustomBatchResponse:
    properties:
      entries:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  AccountsCustomBatchResponseEntry:
    properties:
      batchId:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  AccountsListResponse:
    properties:
      kind:
        description: This is a default description.
        type: parameters
      nextPageToken:
        description: This is a default description.
        type: parameters
      resources:
        description: This is a default description.
        type: parameters
  AccountshippingCustomBatchRequest:
    properties:
      entries:
        description: This is a default description.
        type: parameters
  AccountshippingCustomBatchRequestEntry:
    properties:
      accountId:
        description: This is a default description.
        type: parameters
      batchId:
        description: This is a default description.
        type: parameters
      merchantId:
        description: This is a default description.
        type: parameters
      method:
        description: This is a default description.
        type: parameters
  AccountshippingCustomBatchResponse:
    properties:
      entries:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  AccountshippingCustomBatchResponseEntry:
    properties:
      batchId:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  AccountshippingListResponse:
    properties:
      kind:
        description: This is a default description.
        type: parameters
      nextPageToken:
        description: This is a default description.
        type: parameters
      resources:
        description: This is a default description.
        type: parameters
  AccountstatusesCustomBatchRequest:
    properties:
      entries:
        description: This is a default description.
        type: parameters
  AccountstatusesCustomBatchRequestEntry:
    properties:
      accountId:
        description: This is a default description.
        type: parameters
      batchId:
        description: This is a default description.
        type: parameters
      merchantId:
        description: This is a default description.
        type: parameters
      method:
        description: This is a default description.
        type: parameters
  AccountstatusesCustomBatchResponse:
    properties:
      entries:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  AccountstatusesCustomBatchResponseEntry:
    properties:
      batchId:
        description: This is a default description.
        type: parameters
  AccountstatusesListResponse:
    properties:
      kind:
        description: This is a default description.
        type: parameters
      nextPageToken:
        description: This is a default description.
        type: parameters
      resources:
        description: This is a default description.
        type: parameters
  AccounttaxCustomBatchRequest:
    properties:
      entries:
        description: This is a default description.
        type: parameters
  AccounttaxCustomBatchRequestEntry:
    properties:
      accountId:
        description: This is a default description.
        type: parameters
      batchId:
        description: This is a default description.
        type: parameters
      merchantId:
        description: This is a default description.
        type: parameters
      method:
        description: This is a default description.
        type: parameters
  AccounttaxCustomBatchResponse:
    properties:
      entries:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  AccounttaxCustomBatchResponseEntry:
    properties:
      batchId:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  AccounttaxListResponse:
    properties:
      kind:
        description: This is a default description.
        type: parameters
      nextPageToken:
        description: This is a default description.
        type: parameters
      resources:
        description: This is a default description.
        type: parameters
  CarrierRate:
    properties:
      carrierName:
        description: This is a default description.
        type: parameters
      carrierService:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      originPostalCode:
        description: This is a default description.
        type: parameters
      percentageAdjustment:
        description: This is a default description.
        type: parameters
  CarriersCarrier:
    properties:
      country:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      services:
        description: This is a default description.
        type: parameters
  Datafeed:
    properties:
      attributeLanguage:
        description: This is a default description.
        type: parameters
      contentLanguage:
        description: This is a default description.
        type: parameters
      contentType:
        description: This is a default description.
        type: parameters
      fileName:
        description: This is a default description.
        type: parameters
      id:
        description: This is a default description.
        type: parameters
      intendedDestinations:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      targetCountry:
        description: This is a default description.
        type: parameters
  DatafeedFetchSchedule:
    properties:
      dayOfMonth:
        description: This is a default description.
        type: parameters
      fetchUrl:
        description: This is a default description.
        type: parameters
      hour:
        description: This is a default description.
        type: parameters
      minuteOfHour:
        description: This is a default description.
        type: parameters
      password:
        description: This is a default description.
        type: parameters
      timeZone:
        description: This is a default description.
        type: parameters
      username:
        description: This is a default description.
        type: parameters
      weekday:
        description: This is a default description.
        type: parameters
  DatafeedFormat:
    properties:
      columnDelimiter:
        description: This is a default description.
        type: parameters
      fileEncoding:
        description: This is a default description.
        type: parameters
      quotingMode:
        description: This is a default description.
        type: parameters
  DatafeedStatus:
    properties:
      datafeedId:
        description: This is a default description.
        type: parameters
      errors:
        description: This is a default description.
        type: parameters
      itemsTotal:
        description: This is a default description.
        type: parameters
      itemsValid:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
      lastUploadDate:
        description: This is a default description.
        type: parameters
      processingStatus:
        description: This is a default description.
        type: parameters
      warnings:
        description: This is a default description.
        type: parameters
  DatafeedStatusError:
    properties:
      code:
        description: This is a default description.
        type: parameters
      count:
        description: This is a default description.
        type: parameters
      examples:
        description: This is a default description.
        type: parameters
      message:
        description: This is a default description.
        type: parameters
  DatafeedStatusExample:
    properties:
      itemId:
        description: This is a default description.
        type: parameters
      lineNumber:
        description: This is a default description.
        type: parameters
      value:
        description: This is a default description.
        type: parameters
  DatafeedsCustomBatchRequest:
    properties:
      entries:
        description: This is a default description.
        type: parameters
  DatafeedsCustomBatchRequestEntry:
    properties:
      batchId:
        description: This is a default description.
        type: parameters
      datafeedId:
        description: This is a default description.
        type: parameters
      merchantId:
        description: This is a default description.
        type: parameters
      method:
        description: This is a default description.
        type: parameters
  DatafeedsCustomBatchResponse:
    properties:
      entries:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  DatafeedsCustomBatchResponseEntry:
    properties:
      batchId:
        description: This is a default description.
        type: parameters
  DatafeedsListResponse:
    properties:
      kind:
        description: This is a default description.
        type: parameters
      nextPageToken:
        description: This is a default description.
        type: parameters
      resources:
        description: This is a default description.
        type: parameters
  DatafeedstatusesCustomBatchRequest:
    properties:
      entries:
        description: This is a default description.
        type: parameters
  DatafeedstatusesCustomBatchRequestEntry:
    properties:
      batchId:
        description: This is a default description.
        type: parameters
      datafeedId:
        description: This is a default description.
        type: parameters
      merchantId:
        description: This is a default description.
        type: parameters
      method:
        description: This is a default description.
        type: parameters
  DatafeedstatusesCustomBatchResponse:
    properties:
      entries:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  DatafeedstatusesCustomBatchResponseEntry:
    properties:
      batchId:
        description: This is a default description.
        type: parameters
  DatafeedstatusesListResponse:
    properties:
      kind:
        description: This is a default description.
        type: parameters
      nextPageToken:
        description: This is a default description.
        type: parameters
      resources:
        description: This is a default description.
        type: parameters
  DeliveryTime:
    properties:
      maxTransitTimeInDays:
        description: This is a default description.
        type: parameters
      minTransitTimeInDays:
        description: This is a default description.
        type: parameters
  Error:
    properties:
      domain:
        description: This is a default description.
        type: parameters
      message:
        description: This is a default description.
        type: parameters
      reason:
        description: This is a default description.
        type: parameters
  Errors:
    properties:
      code:
        description: This is a default description.
        type: parameters
      errors:
        description: This is a default description.
        type: parameters
      message:
        description: This is a default description.
        type: parameters
  Headers:
    properties:
      locations:
        description: This is a default description.
        type: parameters
      numberOfItems:
        description: This is a default description.
        type: parameters
      postalCodeGroupNames:
        description: This is a default description.
        type: parameters
      prices:
        description: This is a default description.
        type: parameters
      weights:
        description: This is a default description.
        type: parameters
  Installment:
    properties:
      months:
        description: This is a default description.
        type: parameters
  Inventory:
    properties:
      availability:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
      quantity:
        description: This is a default description.
        type: parameters
      salePriceEffectiveDate:
        description: This is a default description.
        type: parameters
      sellOnGoogleQuantity:
        description: This is a default description.
        type: parameters
  InventoryCustomBatchRequest:
    properties:
      entries:
        description: This is a default description.
        type: parameters
  InventoryCustomBatchRequestEntry:
    properties:
      batchId:
        description: This is a default description.
        type: parameters
      merchantId:
        description: This is a default description.
        type: parameters
      productId:
        description: This is a default description.
        type: parameters
      storeCode:
        description: This is a default description.
        type: parameters
  InventoryCustomBatchResponse:
    properties:
      entries:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  InventoryCustomBatchResponseEntry:
    properties:
      batchId:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  InventoryPickup:
    properties:
      pickupMethod:
        description: This is a default description.
        type: parameters
      pickupSla:
        description: This is a default description.
        type: parameters
  InventorySetRequest:
    properties:
      availability:
        description: This is a default description.
        type: parameters
      quantity:
        description: This is a default description.
        type: parameters
      salePriceEffectiveDate:
        description: This is a default description.
        type: parameters
      sellOnGoogleQuantity:
        description: This is a default description.
        type: parameters
  InventorySetResponse:
    properties:
      kind:
        description: This is a default description.
        type: parameters
  LocationIdSet:
    properties:
      locationIds:
        description: This is a default description.
        type: parameters
  LoyaltyPoints:
    properties:
      name:
        description: This is a default description.
        type: parameters
      pointsValue:
        description: This is a default description.
        type: parameters
      ratio:
        description: This is a default description.
        type: parameters
  Order:
    properties:
      acknowledged:
        description: This is a default description.
        type: parameters
      channelType:
        description: This is a default description.
        type: parameters
      id:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
      lineItems:
        description: This is a default description.
        type: parameters
      merchantId:
        description: This is a default description.
        type: parameters
      merchantOrderId:
        description: This is a default description.
        type: parameters
      paymentStatus:
        description: This is a default description.
        type: parameters
      placedDate:
        description: This is a default description.
        type: parameters
      promotions:
        description: This is a default description.
        type: parameters
      refunds:
        description: This is a default description.
        type: parameters
      shipments:
        description: This is a default description.
        type: parameters
      shippingOption:
        description: This is a default description.
        type: parameters
      status:
        description: This is a default description.
        type: parameters
  OrderAddress:
    properties:
      country:
        description: This is a default description.
        type: parameters
      fullAddress:
        description: This is a default description.
        type: parameters
      isPostOfficeBox:
        description: This is a default description.
        type: parameters
      locality:
        description: This is a default description.
        type: parameters
      postalCode:
        description: This is a default description.
        type: parameters
      recipientName:
        description: This is a default description.
        type: parameters
      region:
        description: This is a default description.
        type: parameters
      streetAddress:
        description: This is a default description.
        type: parameters
  OrderCancellation:
    properties:
      actor:
        description: This is a default description.
        type: parameters
      creationDate:
        description: This is a default description.
        type: parameters
      quantity:
        description: This is a default description.
        type: parameters
      reason:
        description: This is a default description.
        type: parameters
      reasonText:
        description: This is a default description.
        type: parameters
  OrderCustomer:
    properties:
      email:
        description: This is a default description.
        type: parameters
      explicitMarketingPreference:
        description: This is a default description.
        type: parameters
      fullName:
        description: This is a default description.
        type: parameters
  OrderDeliveryDetails:
    properties:
      phoneNumber:
        description: This is a default description.
        type: parameters
  OrderLineItem:
    properties:
      cancellations:
        description: This is a default description.
        type: parameters
      id:
        description: This is a default description.
        type: parameters
      quantityCanceled:
        description: This is a default description.
        type: parameters
      quantityDelivered:
        description: This is a default description.
        type: parameters
      quantityOrdered:
        description: This is a default description.
        type: parameters
      quantityPending:
        description: This is a default description.
        type: parameters
      quantityReturned:
        description: This is a default description.
        type: parameters
      quantityShipped:
        description: This is a default description.
        type: parameters
      returns:
        description: This is a default description.
        type: parameters
  OrderLineItemProduct:
    properties:
      brand:
        description: This is a default description.
        type: parameters
      channel:
        description: This is a default description.
        type: parameters
      condition:
        description: This is a default description.
        type: parameters
      contentLanguage:
        description: This is a default description.
        type: parameters
      gtin:
        description: This is a default description.
        type: parameters
      id:
        description: This is a default description.
        type: parameters
      imageLink:
        description: This is a default description.
        type: parameters
      itemGroupId:
        description: This is a default description.
        type: parameters
      mpn:
        description: This is a default description.
        type: parameters
      offerId:
        description: This is a default description.
        type: parameters
      shownImage:
        description: This is a default description.
        type: parameters
      targetCountry:
        description: This is a default description.
        type: parameters
      title:
        description: This is a default description.
        type: parameters
      variantAttributes:
        description: This is a default description.
        type: parameters
  OrderLineItemProductVariantAttribute:
    properties:
      dimension:
        description: This is a default description.
        type: parameters
      value:
        description: This is a default description.
        type: parameters
  OrderLineItemReturnInfo:
    properties:
      daysToReturn:
        description: This is a default description.
        type: parameters
      isReturnable:
        description: This is a default description.
        type: parameters
      policyUrl:
        description: This is a default description.
        type: parameters
  OrderLineItemShippingDetails:
    properties:
      deliverByDate:
        description: This is a default description.
        type: parameters
      shipByDate:
        description: This is a default description.
        type: parameters
  OrderLineItemShippingDetailsMethod:
    properties:
      carrier:
        description: This is a default description.
        type: parameters
      maxDaysInTransit:
        description: This is a default description.
        type: parameters
      methodName:
        description: This is a default description.
        type: parameters
      minDaysInTransit:
        description: This is a default description.
        type: parameters
  OrderPaymentMethod:
    properties:
      expirationMonth:
        description: This is a default description.
        type: parameters
      expirationYear:
        description: This is a default description.
        type: parameters
      lastFourDigits:
        description: This is a default description.
        type: parameters
      phoneNumber:
        description: This is a default description.
        type: parameters
      type:
        description: This is a default description.
        type: parameters
  OrderPromotion:
    properties:
      benefits:
        description: This is a default description.
        type: parameters
      effectiveDates:
        description: This is a default description.
        type: parameters
      genericRedemptionCode:
        description: This is a default description.
        type: parameters
      id:
        description: This is a default description.
        type: parameters
      longTitle:
        description: This is a default description.
        type: parameters
      productApplicability:
        description: This is a default description.
        type: parameters
      redemptionChannel:
        description: This is a default description.
        type: parameters
  OrderPromotionBenefit:
    properties:
      offerIds:
        description: This is a default description.
        type: parameters
      subType:
        description: This is a default description.
        type: parameters
      type:
        description: This is a default description.
        type: parameters
  OrderRefund:
    properties:
      actor:
        description: This is a default description.
        type: parameters
      creationDate:
        description: This is a default description.
        type: parameters
      reason:
        description: This is a default description.
        type: parameters
      reasonText:
        description: This is a default description.
        type: parameters
  OrderReturn:
    properties:
      actor:
        description: This is a default description.
        type: parameters
      creationDate:
        description: This is a default description.
        type: parameters
      quantity:
        description: This is a default description.
        type: parameters
      reason:
        description: This is a default description.
        type: parameters
      reasonText:
        description: This is a default description.
        type: parameters
  OrderShipment:
    properties:
      carrier:
        description: This is a default description.
        type: parameters
      creationDate:
        description: This is a default description.
        type: parameters
      deliveryDate:
        description: This is a default description.
        type: parameters
      id:
        description: This is a default description.
        type: parameters
      lineItems:
        description: This is a default description.
        type: parameters
      status:
        description: This is a default description.
        type: parameters
      trackingId:
        description: This is a default description.
        type: parameters
  OrderShipmentLineItemShipment:
    properties:
      lineItemId:
        description: This is a default description.
        type: parameters
      quantity:
        description: This is a default description.
        type: parameters
  OrdersAcknowledgeRequest:
    properties:
      operationId:
        description: This is a default description.
        type: parameters
  OrdersAcknowledgeResponse:
    properties:
      executionStatus:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  OrdersAdvanceTestOrderResponse:
    properties:
      kind:
        description: This is a default description.
        type: parameters
  OrdersCancelLineItemRequest:
    properties:
      lineItemId:
        description: This is a default description.
        type: parameters
      operationId:
        description: This is a default description.
        type: parameters
      quantity:
        description: This is a default description.
        type: parameters
      reason:
        description: This is a default description.
        type: parameters
      reasonText:
        description: This is a default description.
        type: parameters
  OrdersCancelLineItemResponse:
    properties:
      executionStatus:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  OrdersCancelRequest:
    properties:
      operationId:
        description: This is a default description.
        type: parameters
      reason:
        description: This is a default description.
        type: parameters
      reasonText:
        description: This is a default description.
        type: parameters
  OrdersCancelResponse:
    properties:
      executionStatus:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  OrdersCreateTestOrderRequest:
    properties:
      templateName:
        description: This is a default description.
        type: parameters
  OrdersCreateTestOrderResponse:
    properties:
      kind:
        description: This is a default description.
        type: parameters
      orderId:
        description: This is a default description.
        type: parameters
  OrdersCustomBatchRequest:
    properties:
      entries:
        description: This is a default description.
        type: parameters
  OrdersCustomBatchRequestEntry:
    properties:
      batchId:
        description: This is a default description.
        type: parameters
      merchantId:
        description: This is a default description.
        type: parameters
      merchantOrderId:
        description: This is a default description.
        type: parameters
      method:
        description: This is a default description.
        type: parameters
      operationId:
        description: This is a default description.
        type: parameters
      orderId:
        description: This is a default description.
        type: parameters
  OrdersCustomBatchRequestEntryCancel:
    properties:
      reason:
        description: This is a default description.
        type: parameters
      reasonText:
        description: This is a default description.
        type: parameters
  OrdersCustomBatchRequestEntryCancelLineItem:
    properties:
      lineItemId:
        description: This is a default description.
        type: parameters
      quantity:
        description: This is a default description.
        type: parameters
      reason:
        description: This is a default description.
        type: parameters
      reasonText:
        description: This is a default description.
        type: parameters
  OrdersCustomBatchRequestEntryRefund:
    properties:
      reason:
        description: This is a default description.
        type: parameters
      reasonText:
        description: This is a default description.
        type: parameters
  OrdersCustomBatchRequestEntryReturnLineItem:
    properties:
      lineItemId:
        description: This is a default description.
        type: parameters
      quantity:
        description: This is a default description.
        type: parameters
      reason:
        description: This is a default description.
        type: parameters
      reasonText:
        description: This is a default description.
        type: parameters
  OrdersCustomBatchRequestEntryShipLineItems:
    properties:
      carrier:
        description: This is a default description.
        type: parameters
      lineItems:
        description: This is a default description.
        type: parameters
      shipmentId:
        description: This is a default description.
        type: parameters
      trackingId:
        description: This is a default description.
        type: parameters
  OrdersCustomBatchRequestEntryUpdateShipment:
    properties:
      carrier:
        description: This is a default description.
        type: parameters
      shipmentId:
        description: This is a default description.
        type: parameters
      status:
        description: This is a default description.
        type: parameters
      trackingId:
        description: This is a default description.
        type: parameters
  OrdersCustomBatchResponse:
    properties:
      entries:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  OrdersCustomBatchResponseEntry:
    properties:
      batchId:
        description: This is a default description.
        type: parameters
      executionStatus:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  OrdersGetByMerchantOrderIdResponse:
    properties:
      kind:
        description: This is a default description.
        type: parameters
  OrdersGetTestOrderTemplateResponse:
    properties:
      kind:
        description: This is a default description.
        type: parameters
  OrdersListResponse:
    properties:
      kind:
        description: This is a default description.
        type: parameters
      nextPageToken:
        description: This is a default description.
        type: parameters
      resources:
        description: This is a default description.
        type: parameters
  OrdersRefundRequest:
    properties:
      operationId:
        description: This is a default description.
        type: parameters
      reason:
        description: This is a default description.
        type: parameters
      reasonText:
        description: This is a default description.
        type: parameters
  OrdersRefundResponse:
    properties:
      executionStatus:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  OrdersReturnLineItemRequest:
    properties:
      lineItemId:
        description: This is a default description.
        type: parameters
      operationId:
        description: This is a default description.
        type: parameters
      quantity:
        description: This is a default description.
        type: parameters
      reason:
        description: This is a default description.
        type: parameters
      reasonText:
        description: This is a default description.
        type: parameters
  OrdersReturnLineItemResponse:
    properties:
      executionStatus:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  OrdersShipLineItemsRequest:
    properties:
      carrier:
        description: This is a default description.
        type: parameters
      lineItems:
        description: This is a default description.
        type: parameters
      operationId:
        description: This is a default description.
        type: parameters
      shipmentId:
        description: This is a default description.
        type: parameters
      trackingId:
        description: This is a default description.
        type: parameters
  OrdersShipLineItemsResponse:
    properties:
      executionStatus:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  OrdersUpdateMerchantOrderIdRequest:
    properties:
      merchantOrderId:
        description: This is a default description.
        type: parameters
      operationId:
        description: This is a default description.
        type: parameters
  OrdersUpdateMerchantOrderIdResponse:
    properties:
      executionStatus:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  OrdersUpdateShipmentRequest:
    properties:
      carrier:
        description: This is a default description.
        type: parameters
      operationId:
        description: This is a default description.
        type: parameters
      shipmentId:
        description: This is a default description.
        type: parameters
      status:
        description: This is a default description.
        type: parameters
      trackingId:
        description: This is a default description.
        type: parameters
  OrdersUpdateShipmentResponse:
    properties:
      executionStatus:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  PostalCodeGroup:
    properties:
      country:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      postalCodeRanges:
        description: This is a default description.
        type: parameters
  PostalCodeRange:
    properties:
      postalCodeRangeBegin:
        description: This is a default description.
        type: parameters
      postalCodeRangeEnd:
        description: This is a default description.
        type: parameters
  Price:
    properties:
      currency:
        description: This is a default description.
        type: parameters
      value:
        description: This is a default description.
        type: parameters
  Product:
    properties:
      additionalImageLinks:
        description: This is a default description.
        type: parameters
      additionalProductTypes:
        description: This is a default description.
        type: parameters
      adult:
        description: This is a default description.
        type: parameters
      adwordsGrouping:
        description: This is a default description.
        type: parameters
      adwordsLabels:
        description: This is a default description.
        type: parameters
      adwordsRedirect:
        description: This is a default description.
        type: parameters
      ageGroup:
        description: This is a default description.
        type: parameters
      aspects:
        description: This is a default description.
        type: parameters
      availability:
        description: This is a default description.
        type: parameters
      availabilityDate:
        description: This is a default description.
        type: parameters
      brand:
        description: This is a default description.
        type: parameters
      channel:
        description: This is a default description.
        type: parameters
      color:
        description: This is a default description.
        type: parameters
      condition:
        description: This is a default description.
        type: parameters
      contentLanguage:
        description: This is a default description.
        type: parameters
      customAttributes:
        description: This is a default description.
        type: parameters
      customGroups:
        description: This is a default description.
        type: parameters
      customLabel0:
        description: This is a default description.
        type: parameters
      customLabel1:
        description: This is a default description.
        type: parameters
      customLabel2:
        description: This is a default description.
        type: parameters
      customLabel3:
        description: This is a default description.
        type: parameters
      customLabel4:
        description: This is a default description.
        type: parameters
      description:
        description: This is a default description.
        type: parameters
      destinations:
        description: This is a default description.
        type: parameters
      displayAdsId:
        description: This is a default description.
        type: parameters
      displayAdsLink:
        description: This is a default description.
        type: parameters
      displayAdsSimilarIds:
        description: This is a default description.
        type: parameters
      displayAdsTitle:
        description: This is a default description.
        type: parameters
      displayAdsValue:
        description: This is a default description.
        type: parameters
      energyEfficiencyClass:
        description: This is a default description.
        type: parameters
      expirationDate:
        description: This is a default description.
        type: parameters
      gender:
        description: This is a default description.
        type: parameters
      googleProductCategory:
        description: This is a default description.
        type: parameters
      gtin:
        description: This is a default description.
        type: parameters
      id:
        description: This is a default description.
        type: parameters
      identifierExists:
        description: This is a default description.
        type: parameters
      imageLink:
        description: This is a default description.
        type: parameters
      isBundle:
        description: This is a default description.
        type: parameters
      itemGroupId:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
      link:
        description: This is a default description.
        type: parameters
      material:
        description: This is a default description.
        type: parameters
      mobileLink:
        description: This is a default description.
        type: parameters
      mpn:
        description: This is a default description.
        type: parameters
      multipack:
        description: This is a default description.
        type: parameters
      offerId:
        description: This is a default description.
        type: parameters
      onlineOnly:
        description: This is a default description.
        type: parameters
      pattern:
        description: This is a default description.
        type: parameters
      productType:
        description: This is a default description.
        type: parameters
      promotionIds:
        description: This is a default description.
        type: parameters
      salePriceEffectiveDate:
        description: This is a default description.
        type: parameters
      sellOnGoogleQuantity:
        description: This is a default description.
        type: parameters
      shipping:
        description: This is a default description.
        type: parameters
      shippingLabel:
        description: This is a default description.
        type: parameters
      sizeSystem:
        description: This is a default description.
        type: parameters
      sizeType:
        description: This is a default description.
        type: parameters
      sizes:
        description: This is a default description.
        type: parameters
      targetCountry:
        description: This is a default description.
        type: parameters
      taxes:
        description: This is a default description.
        type: parameters
      title:
        description: This is a default description.
        type: parameters
      validatedDestinations:
        description: This is a default description.
        type: parameters
      warnings:
        description: This is a default description.
        type: parameters
  ProductAspect:
    properties:
      aspectName:
        description: This is a default description.
        type: parameters
      destinationName:
        description: This is a default description.
        type: parameters
      intention:
        description: This is a default description.
        type: parameters
  ProductCustomAttribute:
    properties:
      name:
        description: This is a default description.
        type: parameters
      type:
        description: This is a default description.
        type: parameters
      unit:
        description: This is a default description.
        type: parameters
      value:
        description: This is a default description.
        type: parameters
  ProductCustomGroup:
    properties:
      attributes:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
  ProductDestination:
    properties:
      destinationName:
        description: This is a default description.
        type: parameters
      intention:
        description: This is a default description.
        type: parameters
  ProductShipping:
    properties:
      country:
        description: This is a default description.
        type: parameters
      locationGroupName:
        description: This is a default description.
        type: parameters
      locationId:
        description: This is a default description.
        type: parameters
      postalCode:
        description: This is a default description.
        type: parameters
      region:
        description: This is a default description.
        type: parameters
      service:
        description: This is a default description.
        type: parameters
  ProductShippingDimension:
    properties:
      unit:
        description: This is a default description.
        type: parameters
      value:
        description: This is a default description.
        type: parameters
  ProductShippingWeight:
    properties:
      unit:
        description: This is a default description.
        type: parameters
      value:
        description: This is a default description.
        type: parameters
  ProductStatus:
    properties:
      creationDate:
        description: This is a default description.
        type: parameters
      dataQualityIssues:
        description: This is a default description.
        type: parameters
      destinationStatuses:
        description: This is a default description.
        type: parameters
      googleExpirationDate:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
      lastUpdateDate:
        description: This is a default description.
        type: parameters
      link:
        description: This is a default description.
        type: parameters
      productId:
        description: This is a default description.
        type: parameters
      title:
        description: This is a default description.
        type: parameters
  ProductStatusDataQualityIssue:
    properties:
      detail:
        description: This is a default description.
        type: parameters
      fetchStatus:
        description: This is a default description.
        type: parameters
      id:
        description: This is a default description.
        type: parameters
      location:
        description: This is a default description.
        type: parameters
      severity:
        description: This is a default description.
        type: parameters
      timestamp:
        description: This is a default description.
        type: parameters
      valueOnLandingPage:
        description: This is a default description.
        type: parameters
      valueProvided:
        description: This is a default description.
        type: parameters
  ProductStatusDestinationStatus:
    properties:
      approvalStatus:
        description: This is a default description.
        type: parameters
      destination:
        description: This is a default description.
        type: parameters
      intention:
        description: This is a default description.
        type: parameters
  ProductTax:
    properties:
      country:
        description: This is a default description.
        type: parameters
      locationId:
        description: This is a default description.
        type: parameters
      postalCode:
        description: This is a default description.
        type: parameters
      rate:
        description: This is a default description.
        type: parameters
      region:
        description: This is a default description.
        type: parameters
      taxShip:
        description: This is a default description.
        type: parameters
  ProductUnitPricingBaseMeasure:
    properties:
      unit:
        description: This is a default description.
        type: parameters
      value:
        description: This is a default description.
        type: parameters
  ProductUnitPricingMeasure:
    properties:
      unit:
        description: This is a default description.
        type: parameters
      value:
        description: This is a default description.
        type: parameters
  ProductsCustomBatchRequest:
    properties:
      entries:
        description: This is a default description.
        type: parameters
  ProductsCustomBatchRequestEntry:
    properties:
      batchId:
        description: This is a default description.
        type: parameters
      merchantId:
        description: This is a default description.
        type: parameters
      method:
        description: This is a default description.
        type: parameters
      productId:
        description: This is a default description.
        type: parameters
  ProductsCustomBatchResponse:
    properties:
      entries:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  ProductsCustomBatchResponseEntry:
    properties:
      batchId:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  ProductsListResponse:
    properties:
      kind:
        description: This is a default description.
        type: parameters
      nextPageToken:
        description: This is a default description.
        type: parameters
      resources:
        description: This is a default description.
        type: parameters
  ProductstatusesCustomBatchRequest:
    properties:
      entries:
        description: This is a default description.
        type: parameters
  ProductstatusesCustomBatchRequestEntry:
    properties:
      batchId:
        description: This is a default description.
        type: parameters
      merchantId:
        description: This is a default description.
        type: parameters
      method:
        description: This is a default description.
        type: parameters
      productId:
        description: This is a default description.
        type: parameters
  ProductstatusesCustomBatchResponse:
    properties:
      entries:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  ProductstatusesCustomBatchResponseEntry:
    properties:
      batchId:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  ProductstatusesListResponse:
    properties:
      kind:
        description: This is a default description.
        type: parameters
      nextPageToken:
        description: This is a default description.
        type: parameters
      resources:
        description: This is a default description.
        type: parameters
  RateGroup:
    properties:
      applicableShippingLabels:
        description: This is a default description.
        type: parameters
      carrierRates:
        description: This is a default description.
        type: parameters
      subtables:
        description: This is a default description.
        type: parameters
  Row:
    properties:
      cells:
        description: This is a default description.
        type: parameters
  Service:
    properties:
      active:
        description: This is a default description.
        type: parameters
      currency:
        description: This is a default description.
        type: parameters
      deliveryCountry:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      rateGroups:
        description: This is a default description.
        type: parameters
  ShippingSettings:
    properties:
      accountId:
        description: This is a default description.
        type: parameters
      postalCodeGroups:
        description: This is a default description.
        type: parameters
      services:
        description: This is a default description.
        type: parameters
  ShippingsettingsCustomBatchRequest:
    properties:
      entries:
        description: This is a default description.
        type: parameters
  ShippingsettingsCustomBatchRequestEntry:
    properties:
      accountId:
        description: This is a default description.
        type: parameters
      batchId:
        description: This is a default description.
        type: parameters
      merchantId:
        description: This is a default description.
        type: parameters
      method:
        description: This is a default description.
        type: parameters
  ShippingsettingsCustomBatchResponse:
    properties:
      entries:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  ShippingsettingsCustomBatchResponseEntry:
    properties:
      batchId:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  ShippingsettingsGetSupportedCarriersResponse:
    properties:
      carriers:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  ShippingsettingsListResponse:
    properties:
      kind:
        description: This is a default description.
        type: parameters
      nextPageToken:
        description: This is a default description.
        type: parameters
      resources:
        description: This is a default description.
        type: parameters
  Table:
    properties:
      name:
        description: This is a default description.
        type: parameters
      rows:
        description: This is a default description.
        type: parameters
  TestOrder:
    properties:
      kind:
        description: This is a default description.
        type: parameters
      lineItems:
        description: This is a default description.
        type: parameters
      predefinedDeliveryAddress:
        description: This is a default description.
        type: parameters
      promotions:
        description: This is a default description.
        type: parameters
      shippingOption:
        description: This is a default description.
        type: parameters
  TestOrderCustomer:
    properties:
      email:
        description: This is a default description.
        type: parameters
      explicitMarketingPreference:
        description: This is a default description.
        type: parameters
      fullName:
        description: This is a default description.
        type: parameters
  TestOrderLineItem:
    properties:
      quantityOrdered:
        description: This is a default description.
        type: parameters
  TestOrderLineItemProduct:
    properties:
      brand:
        description: This is a default description.
        type: parameters
      channel:
        description: This is a default description.
        type: parameters
      condition:
        description: This is a default description.
        type: parameters
      contentLanguage:
        description: This is a default description.
        type: parameters
      gtin:
        description: This is a default description.
        type: parameters
      imageLink:
        description: This is a default description.
        type: parameters
      itemGroupId:
        description: This is a default description.
        type: parameters
      mpn:
        description: This is a default description.
        type: parameters
      offerId:
        description: This is a default description.
        type: parameters
      targetCountry:
        description: This is a default description.
        type: parameters
      title:
        description: This is a default description.
        type: parameters
      variantAttributes:
        description: This is a default description.
        type: parameters
  TestOrderPaymentMethod:
    properties:
      expirationMonth:
        description: This is a default description.
        type: parameters
      expirationYear:
        description: This is a default description.
[...]
