---
layout: page
title: Google
---

<div class="alert alert-danger" role="alert">
  <center>Work In Progress - Meant to provide surface view of all APIs.</center>
</div>

<h1>Google</h1>
<p><img src="http://kinlane-productions.s3.amazonaws.com/api-evangelist-site/company/logos/google-logo.jpg" align="right" width="250" style="padding: 15p;" /></p>
<p>This is my work to define the APIs offered by Google. This work is all defined used <a href="https://github.com/OAI/OpenAPI-Specification">OpenAPI Spec</a>, and indexed using <a href="http://apisjson.org/">APIs.json</a>. You can find an individual APIs.json index for each of the individual servies, as wel as a <a href="https://raw.githubusercontent.com/api-stack/google/master/_data/apis.yaml">complete APIs.json for this entire collection</a>.</p>
<p>While my intention with this is to eventually define a machine readable definition of all the Microsoft that can be used at run-time, right now I only have the surface area designed. I am working to profile all the headers, parameters, as well as the underlying data model, and error responses. My objective is simply to define what is there, not a 100% complete definition -- if you want to take further, and contribute back, I'd welcome it.</p>
<p>This project is all <a href="https://github.com/api-stack/google">hosted on Github</a>, and if you put to use and improve on any of the definitions, please make sure and contribute back so everyone can benefit from the contributions. Ideally AWS would maintain this, but until that happens, we all need to step up and make sure these valuable serices are defined in a machined readable way.</p>
<p align="center"><a href="https://apis.guru/openapi-directory/"><img src="http://kinlane-productions.s3.amazonaws.com/api-evangelist-site/blog/api-guru-banner.png" width="75%" align="center" /></a></p>
<p>
{% assign index = site.data.apis %}

{% assign apijson = index[0] %}
{% assign contents = site.data.api-commons %}

{% for api in index.include %}

  {% assign path = api.url  | replace: 'https://raw.githubusercontent.com/api-stack/google/master/_data/api-commons/','' %}
  {% assign path = path  | replace: '/apis.yaml','' %}

  {% for api in contents %}

    {% assign api_name = api[0] %}
    {% assign folder = api[1] %}

    {% if api_name == path %}

      <!--- Begin --->

      {% for item in folder %}

        {% assign item_name = item[0] %}

        {% if item_name == 'apis' %}

          {% assign apijson = item[1] %}

          {% assign api_name = apijson.name %}
          {% assign api_description = apijson.description %}
          {% assign api_image = apijson.image %}
          {% assign api_json_url = apijson.url %}

          <!-- APIs.yaml -->
          <table cellpadding="3" cellspacing="2" width="100%" border="0" style="margin-top: 0px;">

            {% assign blog_url = '' %}
            {% assign blogrss_url = '' %}
            {% assign portal_url = '' %}
            {% assign gitub_url = '' %}
            {% assign twitter_url = '' %}
            {% assign website_url = '' %}
            {% assign getting_started_url = '' %}
            {% assign authentication_url = '' %}
            {% assign faq_url = '' %}
            {% assign login_url = '' %}
            {% assign signup_url = '' %}
            {% assign documentation_url = '' %}
            {% assign code_page_url = '' %}
            {% assign road_map_url = '' %}
            {% assign issue_url = '' %}
            {% assign change_log_url = '' %}
            {% assign status_dashboard_url = '' %}
            {% assign support_url = '' %}
            {% assign plan_url = '' %}
            {% assign rate_limit_url = '' %}
            {% assign terms_of_service_url = '' %}
            {% assign privacy_policy_url = '' %}

            {% for common in apijson.x-common %}

              {% if common.type == 'x-portal' %}
                {% assign portal_url = common.url %}
              {% endif %}

              {% if common.type == 'x-website' %}
                {% assign website_url = common.url %}
              {% endif %}

              {% if portal_url == '' %}
                {% assign portal_url = website_url %}
              {% endif %}

              {% if common.type == 'x-getting-started' %}
                {% assign getting_started_url = common.url %}
              {% endif %}
              {% if common.type == 'x-authentication-overview' %}
                {% assign authentication_url = common.url %}
              {% endif %}
              {% if common.type == 'x-faq' %}
                {% assign faq_url = common.url %}
              {% endif %}

              {% if common.type == 'x-login' %}
                {% assign login_url = common.url %}
              {% endif %}

              {% if common.type == 'x-selfservice-registration' %}
                {% assign signup_url = common.url %}
              {% endif %}

              {% if common.type == 'x-documentation' %}
                {% assign documentation_url = common.url %}
              {% endif %}

              {% if common.type == 'x-code-page' %}
                {% assign code_page_url = common.url %}
              {% endif %}

              {% if common.type == 'x-road-map' %}
                {% assign road_map_url = common.url %}
              {% endif %}
              {% if common.type == 'x-issues' %}
                {% assign issue_url = common.url %}
              {% endif %}
              {% if common.type == 'x-change-log' %}
                {% assign change_log_url = common.url %}
              {% endif %}
              {% if common.type == 'x-status' %}
                {% assign status_dashboard_url = common.url %}
              {% endif %}

              {% if common.type == 'x-support' %}
                {% assign support_url = common.url %}
              {% endif %}

              {% if common.type == 'x-blog' %}
                {% assign blog_url = common.url %}
              {% endif %}

              {% if common.type == 'x-blog-rss' %}
                {% assign blogrss_url = common.url %}
              {% endif %}

              {% if common.type == 'x-twitter' %}
                {% assign twitter_url = common.url %}
              {% endif %}

              {% if common.type == 'x-github' %}
                {% assign gitub_url = common.url %}
              {% endif %}

              {% if common.type == 'x-signup' %}
                {% assign gitub_url = common.url %}
              {% endif %}

              {% if common.type == 'x-dedicated-plans--pricing-page' %}
                {% assign plan_url = common.url %}
              {% endif %}
              {% if common.type == 'x-rate-limit' %}
                {% assign rate_limit_url = common.url %}
              {% endif %}

              {% if common.type == 'x-terms-of-service-page' %}
                {% assign terms_of_service_url = common.url %}
              {% endif %}
              {% if common.type == 'x-privacy-policy-page' %}
                {% assign privacy_policy_url = common.url %}
              {% endif %}

            {% endfor %}

            <tr>
              <td>
                {% increment service_count %}
                <h3>{{ api_name }} (<a href="{{ api_json_url }}">APIs.json</a>)<h3>
                <p><img src="{{ api_image }}" width="75" style="padding: 10px;" align="left" /></p>
                <p style="font-size: 11px;">{{ api_description }}<p>

                  <table width="100%" border="0" style="padding-top: 10px;">
                    <tr>
                      <td align="center" colspan="3" style="margin-left: 25px; margin-right: 25px;">
                        <ul style="list-style: none; display: inline;">
                          {% if portal_url != '' %}
                            <li style="display: inline; padding-left: 15px; padding-right: 15px;">
                              <a href="{{ portal_url }}" target="_blank" title="Portal">
                                <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-portal-developers.jpg" width="32" align="center" />
                              </a>
                            </li>
                          {% endif %}
                          {% if blog_url != '' && blog_url != empty && blog_url != null %}
                            <li style="display: inline; padding-left: 15px; padding-right: 15px;">
                              <a href="{{ blog_url }}" target="_blank" title="Blog">
                                <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-blog-icon.png" width="27" align="center" />
                              </a>
                            </li>
                          {% endif %}

                          {% if blogrss_url != '' && blogrss_url != empty && blogrss_url != null %}
                            <li style="display: inline; padding-left: 15px; padding-right: 15px;">
                              <a href="{{ blogrss_url }}" target="_blank" title="Blog RSS">
                                <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-rss-icon.png" width="27" align="center" />
                              </a>
                            </li>
                          {% endif %}

                          {% if twitter_url != '' && twitter_url != empty && twitter_url != null %}
                            <li style="display: inline; padding-left: 15px; padding-right: 15px;">
                              <a href="{{ twitter_url }}" target="_blank" title="Twitter">
                                <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-twitter-icon.png" width="44" align="center" />
                              </a>
                            </li>
                          {% endif %}

                          {% if gitub_url != '' && gitub_url != empty && gitub_url != null %}
                            <li style="display: inline; padding-left: 15px; padding-right: 15px;">
                              <a href="{{ gitub_url }}" target="_blank" title="Github">
                                <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-github-icon.png" width="52" align="center" />
                              </a>
                            </li>
                          {% endif %}

                          {% if signup_url != '' && signup_url != empty && signup_url != null %}
                            <li style="display: inline; padding-left: 15px; padding-right: 15px;">
                              <a href="{{ signup_url }}" target="_blank" title="Signup">
                                <img src="https://s3.amazonaws.com/kinlane-productions/building-blocks/x-signup.png" width="45" align="center" />
                              </a>
                            </li>
                          {% endif %}

                          {% if issue_url != '' && issue_url != empty && issue_url != null %}
                            <li style="display: inline; padding-left: 15px; padding-right: 15px;">
                              <a href="{{ issue_url }}" target="_blank" title="Issues">
                                <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-bug.png" width="38" align="center" />
                              </a>
                            </li>
                          {% endif %}

                          {% if terms_of_service_url != '' && terms_of_service_url != empty && terms_of_service_url != null %}
                            <li style="display: inline; padding-left: 15px; padding-right: 15px;">
                              <a href="{{ terms_of_service_url }}" target="_blank" title="Terms of Service">
                                <img src="http://kinlane-productions.s3.amazonaws.com/api-evangelist-site/building-blocks/bw-terms-conditions.png" width="33" align="center" />
                              </a>
                            </li>
                          {% endif %}


                        </ul>
                      </td>
                    </tr>
                  </table>

                <table width="100%" border="0" style="padding-top: 10px;">
                  <tr>
                  <td align="center" style="margin-left: 90px; margin-right: 90px;">

                      {% assign api_action_url = '' %}
                      {% assign numberofapis = apijson.apis | size %}

                          {% assign api_action_url = '' %}
                          {% for api in apijson.apis %}

                          <table cellpadding="3" cellspacing="2" width="100%" border="0">

                              {% assign api_action_spec = '' %}
                              {% assign api_action_url = '' %}
                              {% assign openapi_spec_json = '' %}

                              {% for property in api.properties %}

                                {% assign thisname = apijson.name | downcase %}
                                {% assign thisname = thisname | append:'/' %}
                                {% assign thisname = thisname | replace: ' ','-' %}

                                {% if property.type == 'x-openapi-spec' %}

                                  {% assign openapi_spec_url = property.url %}
                                  {% assign pathname = openapi_spec_url | replace: 'https://raw.githubusercontent.com/api-stack/google/master/_data/api-commons/','' %}
                                  {% assign pathplusfolder = path | append:'/' %}
                                  {% assign pathname = pathname | replace: '.yaml','' %}
                                  {% assign pathname = pathname | replace: pathplusfolder,'' %}

                                  {% for entry in contents[path] %}

                                    {% assign thisname = entry[0] %}
                                    {% assign thisentry = entry[1] %}

                                    {% if thisname == pathname %}
                                      {% assign openapi_spec_json = entry[1] %}
                                    {% endif %}

                                  {% endfor %}

                                {% endif %}

                                {% if property.type == 'x-postman %}
                                  {% assign postman_url = property.url %}
                                {% endif %}

                                {% if property.type == 'x-api-blueprint' %}
                                  {% assign api_blueprint_url = property.url %}
                                {% endif %}

                                {% if property.type == 'x-api-actions' %}
                                  {% assign api_action_url = property.url %}
                                {% endif %}

                              {% endfor %}

                              <tr style="background-color: #FFF;">
                                <td align="left" style="font-size: 16px; font-weight: bold; padding: 10px;">{{ api.name }}</td>
                                <td align="right" style="padding: 10px;">
                                  {% if openapi_spec_url != null and openapi_spec_url != empty %}
                                    (<a href="{{ openapi_spec_url }}" target="_blank" title="View OpenAPI Spec" style="font-size: 16px; font-weight: normal;">OpenAPI Spec</a>)
                                  {% endif %}
                                </td>
                              </tr>
                              <tr id="methods-for-{{ pathname }}">
                                <td colspan="2">
                                  <ul>

                                    {% for path in openapi_spec_json.paths %}

                                      {% assign path_name = path[0] %}
                                      {% assign method_json = path[1] %}

                                      {% for method in method_json %}

                                        {% assign tagarray = method[1].tags %}
                                        {% assign tag = tagarray[0] %}
                                        {% assign verb = method[0] | upcase %}

                                        {% if verb == 'GET' %}
                                          {% assign back_color = site.get_color %}
                                        {% endif %}
                                        {% if verb == 'POST' %}
                                          {% assign back_color = site.post_color %}
                                        {% endif %}
                                        {% if verb == 'PUT' %}
                                          {% assign back_color = site.put_color %}
                                        {% endif %}
                                        {% if verb == 'DELETE' %}
                                          {% assign back_color = site.delete_color %}
                                        {% endif %}

                                        {% assign summary = method[1].summary %}
                                        {% assign description = method[1].description %}

                                        <li style="font-size: 11px;"><strong>{{ summary }}</strong> - {{ description }}</li>
                                        {% increment path_count %}
                                      {% endfor %}
                                    {% endfor %}

                                  </ul>
                                </td>
                              </tr>
                            </table>
                          {% endfor %}

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!-- APIs.yaml -->


        {% endif %}
      {% endfor %}

      <!--- END --->

    {% endif %}

  {% endfor %}

{% endfor %}

<p align="center">There is a total of {{ service_count }} services, with {{ path_count }} unique paths.</p>

<p>Liquid makes it easy to work with any JSON or YAML in the _data folder, treating this as a data source. Using Liquid I can do almost anything I can do with PHP, Python, Ruby, Node.js, and other server-side languages--the big difference here, is there is no hosting necessary, it all runs on Github. You don't need database backend, or a server to host website--it is all on Github. If your repo and data is public, it doesn't cost you anything to operate--offloading hosting and bandwidth costs to Github for all your open data, and API projects. This is big deal if you are managing a lot of public data. <a href="https://gist.github.com/kinlane/6a14db7b6994f1c6ba42769abb0fc3b0">You can find a gist of this liquid script here</a>.</p>

<p>Currently, the biggest benefit of have APIs indexed in this way is when it comes to documentation. I can use Liquid to create my own HTML documentation, or I can also put to work other API documentation solutions like <a href="http://swagger.io/swagger-ui/">Swagger UI</a> or <a href="https://github.com/Rebilly/ReDoc">Redoc</a>. Additionally, APIs.json allows you to also include other relevant information like where to sign up for an API key, and the terms of service for using an API. OpenAPISpec describes the APIs, APIs.json defines the supporting operations around those APIs, and provides us with a nice machine-readable index of everything.</p>

<p>Eventually, having our APIs defined in this way helps each index become an engine for every stop along the API and application lifecycle. The APIs.json can act as entry point for integration with any single, or multiple APIs, allowing us to then generate SDKs, testing scripts, monitoring, discovery, and any number of critical needs we have throughout the life cycle of our APIs and applications. This will all take time, but we have to start somewhere.</p>


<!-- Closing -->
<p>This is just a sampling of what is possible when API definitions are available. When you have machine-readable OpenAPI Specs available, indexed using APIs.json, a whole new world of tooling and services emerge. This landscape is already picking up momentum with the growith in adoption of OpenAPI Spec, but with each new resulting definition available in the format, and tooling or service provider that emerges, things are picking up speed monthly in 2017.</p>

<p>With the API definitions in this collection you could now generate SDKs using <a href="http://apimatic.io/">APIMATIC</a>, monitor your APIs with <a href="http://apiscience.com/">API Science</a>, and test them using <a href="http://runscope.com/">Runscope</a>. This is just small taste of wat you can do once you have API definitions. Now we just need to keep doing the hard work to make sure our APIs are as defined as they possibly can using <a href="http://openapis.org/">OpenAPI Spec</a>, and indexed individually, and in collections using <a href="http://apisjson.org/">APIs.json</a>.</p>

<p>You are welcome to make any changes to the JSON files for this project, or leave any feedback via <a href="https://github.com/{{ site.github_org }}/{{ site.github_repo }}/issues">the Github issues</a>.</p>

<p align="center"><a href="https://apis.guru/openapi-directory/"><img src="http://kinlane-productions.s3.amazonaws.com/api-evangelist-site/blog/api-guru-banner.png" width="75%" align="center" /></a></p>
