swagger: "2.0"
info:
  title: Google Civic Information
  description: Provides polling places, early vote locations, contest data, election
    officials, and government representatives for U.S. residential addresses.
  contact:
    name: Google
    url: https://google.com
  version: v2
host: www.googleapis.com
basePath: /civicinfo/v2
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /divisions:
    get:
      summary: Search Political Divisions
      description: Searches for political divisions by their natural name or OCD ID
      operationId: civicinfo.divisions.search
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: query
        description: The search query
      responses:
        200:
          description: OK
      tags:
      - Division
  /elections:
    get:
      summary: List Elections
      description: List of available elections to query
      operationId: civicinfo.elections.electionQuery
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Election
  /representatives:
    get:
      summary: Lookup Representatives
      description: Looks up political geography and representative information for
        a single address
      operationId: civicinfo.representatives.representativeInfoByAddress
      parameters:
      - in: query
        name: address
        description: The address to look up
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: includeOffices
        description: Whether to return information about offices and officials
      - in: query
        name: levels
        description: A list of office levels to filter by
      - in: query
        name: roles
        description: A list of office roles to filter by
      responses:
        200:
          description: OK
      tags:
      - Representative
  /representatives/{ocdId}:
    get:
      summary: Get Representative
      description: Looks up representative information for a single geographic division
      operationId: civicinfo.representatives.representativeInfoByDivision
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: levels
        description: A list of office levels to filter by
      - in: path
        name: ocdId
        description: The Open Civic Data division identifier of the division to look
          up
      - in: query
        name: recursive
        description: If true, information about all divisions contained in the division
          requested will be included as well
      - in: query
        name: roles
        description: A list of office roles to filter by
      responses:
        200:
          description: OK
      tags:
      - Representative
  /voterinfo:
    get:
      summary: Looks Up Voter Information
      description: Looks up information relevant to a voter based on the voter's registered
        address
      operationId: civicinfo.elections.voterInfoQuery
      parameters:
      - in: query
        name: address
        description: The registered address of the voter to look up
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: electionId
        description: The unique ID of the election to look up
      - in: query
        name: officialOnly
        description: If set to true, only data from official state sources will be
          returned
      - in: query
        name: returnAllAvailableData
        description: If set to true, the query will return the success codeand include
          any partial information when it is unable to determine a matching address
          or unable to determine the election for electionId=0 queries
      responses:
        200:
          description: OK
      tags:
      - Voter Information
definitions:
  AdministrationRegion:
    properties:
      id:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      sources:
        description: This is a default description.
        type: parameters
  AdministrativeBody:
    properties:
      absenteeVotingInfoUrl:
        description: This is a default description.
        type: parameters
      addressLines:
        description: This is a default description.
        type: parameters
      ballotInfoUrl:
        description: This is a default description.
        type: parameters
      electionInfoUrl:
        description: This is a default description.
        type: parameters
      electionOfficials:
        description: This is a default description.
        type: parameters
      electionRegistrationConfirmationUrl:
        description: This is a default description.
        type: parameters
      electionRegistrationUrl:
        description: This is a default description.
        type: parameters
      electionRulesUrl:
        description: This is a default description.
        type: parameters
      hoursOfOperation:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      voter_services:
        description: This is a default description.
        type: parameters
      votingLocationFinderUrl:
        description: This is a default description.
        type: parameters
  Candidate:
    properties:
      candidateUrl:
        description: This is a default description.
        type: parameters
      channels:
        description: This is a default description.
        type: parameters
      email:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      orderOnBallot:
        description: This is a default description.
        type: parameters
      party:
        description: This is a default description.
        type: parameters
      phone:
        description: This is a default description.
        type: parameters
      photoUrl:
        description: This is a default description.
        type: parameters
  Channel:
    properties:
      id:
        description: This is a default description.
        type: parameters
      type:
        description: This is a default description.
        type: parameters
  Contest:
    properties:
      ballotPlacement:
        description: This is a default description.
        type: parameters
      candidates:
        description: This is a default description.
        type: parameters
      electorateSpecifications:
        description: This is a default description.
        type: parameters
      id:
        description: This is a default description.
        type: parameters
      level:
        description: This is a default description.
        type: parameters
      numberElected:
        description: This is a default description.
        type: parameters
      numberVotingFor:
        description: This is a default description.
        type: parameters
      office:
        description: This is a default description.
        type: parameters
      primaryParty:
        description: This is a default description.
        type: parameters
      referendumBallotResponses:
        description: This is a default description.
        type: parameters
      referendumBrief:
        description: This is a default description.
        type: parameters
      referendumConStatement:
        description: This is a default description.
        type: parameters
      referendumEffectOfAbstain:
        description: This is a default description.
        type: parameters
      referendumPassageThreshold:
        description: This is a default description.
        type: parameters
      referendumProStatement:
        description: This is a default description.
        type: parameters
      referendumSubtitle:
        description: This is a default description.
        type: parameters
      referendumText:
        description: This is a default description.
        type: parameters
      referendumTitle:
        description: This is a default description.
        type: parameters
      referendumUrl:
        description: This is a default description.
        type: parameters
      roles:
        description: This is a default description.
        type: parameters
      sources:
        description: This is a default description.
        type: parameters
      special:
        description: This is a default description.
        type: parameters
      type:
        description: This is a default description.
        type: parameters
  ContextParams:
    properties:
      clientProfile:
        description: This is a default description.
        type: parameters
  DivisionRepresentativeInfoRequest:
    properties: []
  DivisionSearchRequest:
    properties: []
  DivisionSearchResponse:
    properties:
      kind:
        description: This is a default description.
        type: parameters
      results:
        description: This is a default description.
        type: parameters
  DivisionSearchResult:
    properties:
      aliases:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      ocdId:
        description: This is a default description.
        type: parameters
  Election:
    properties:
      electionDay:
        description: This is a default description.
        type: parameters
      id:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      ocdDivisionId:
        description: This is a default description.
        type: parameters
  ElectionOfficial:
    properties:
      emailAddress:
        description: This is a default description.
        type: parameters
      faxNumber:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      officePhoneNumber:
        description: This is a default description.
        type: parameters
      title:
        description: This is a default description.
        type: parameters
  ElectionsQueryRequest:
    properties: []
  ElectionsQueryResponse:
    properties:
      elections:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
  ElectoralDistrict:
    properties:
      id:
        description: This is a default description.
        type: parameters
      kgForeignKey:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      scope:
        description: This is a default description.
        type: parameters
  GeographicDivision:
    properties:
      alsoKnownAs:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      officeIndices:
        description: This is a default description.
        type: parameters
  Office:
    properties:
      divisionId:
        description: This is a default description.
        type: parameters
      levels:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      officialIndices:
        description: This is a default description.
        type: parameters
      roles:
        description: This is a default description.
        type: parameters
      sources:
        description: This is a default description.
        type: parameters
  Official:
    properties:
      address:
        description: This is a default description.
        type: parameters
      channels:
        description: This is a default description.
        type: parameters
      emails:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      party:
        description: This is a default description.
        type: parameters
      phones:
        description: This is a default description.
        type: parameters
      photoUrl:
        description: This is a default description.
        type: parameters
      urls:
        description: This is a default description.
        type: parameters
  PollingLocation:
    properties:
      endDate:
        description: This is a default description.
        type: parameters
      id:
        description: This is a default description.
        type: parameters
      name:
        description: This is a default description.
        type: parameters
      notes:
        description: This is a default description.
        type: parameters
      pollingHours:
        description: This is a default description.
        type: parameters
      sources:
        description: This is a default description.
        type: parameters
      startDate:
        description: This is a default description.
        type: parameters
      voterServices:
        description: This is a default description.
        type: parameters
  PostalAddress:
    properties:
      addressLines:
        description: This is a default description.
        type: parameters
      administrativeAreaName:
        description: This is a default description.
        type: parameters
      countryName:
        description: This is a default description.
        type: parameters
      countryNameCode:
        description: This is a default description.
        type: parameters
      dependentLocalityName:
        description: This is a default description.
        type: parameters
      dependentThoroughfareLeadingType:
        description: This is a default description.
        type: parameters
      dependentThoroughfareName:
        description: This is a default description.
        type: parameters
      dependentThoroughfarePostDirection:
        description: This is a default description.
        type: parameters
      dependentThoroughfarePreDirection:
        description: This is a default description.
        type: parameters
      dependentThoroughfareTrailingType:
        description: This is a default description.
        type: parameters
      dependentThoroughfaresConnector:
        description: This is a default description.
        type: parameters
      dependentThoroughfaresIndicator:
        description: This is a default description.
        type: parameters
      dependentThoroughfaresType:
        description: This is a default description.
        type: parameters
      firmName:
        description: This is a default description.
        type: parameters
      isDisputed:
        description: This is a default description.
        type: parameters
      languageCode:
        description: This is a default description.
        type: parameters
      localityName:
        description: This is a default description.
        type: parameters
      postBoxNumber:
        description: This is a default description.
        type: parameters
      postalCodeNumber:
        description: This is a default description.
        type: parameters
      postalCodeNumberExtension:
        description: This is a default description.
        type: parameters
      premiseName:
        description: This is a default description.
        type: parameters
      recipientName:
        description: This is a default description.
        type: parameters
      sortingCode:
        description: This is a default description.
        type: parameters
      subAdministrativeAreaName:
        description: This is a default description.
        type: parameters
      subPremiseName:
        description: This is a default description.
        type: parameters
      thoroughfareLeadingType:
        description: This is a default description.
        type: parameters
      thoroughfareName:
        description: This is a default description.
        type: parameters
      thoroughfareNumber:
        description: This is a default description.
        type: parameters
      thoroughfarePostDirection:
        description: This is a default description.
        type: parameters
      thoroughfarePreDirection:
        description: This is a default description.
        type: parameters
      thoroughfareTrailingType:
        description: This is a default description.
        type: parameters
  RepresentativeInfoData:
    properties:
      divisions:
        description: This is a default description.
        type: parameters
      offices:
        description: This is a default description.
        type: parameters
      officials:
        description: This is a default description.
        type: parameters
  RepresentativeInfoRequest:
    properties: []
  RepresentativeInfoResponse:
    properties:
      divisions:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
      offices:
        description: This is a default description.
        type: parameters
      officials:
        description: This is a default description.
        type: parameters
  SimpleAddressType:
    properties:
      city:
        description: This is a default description.
        type: parameters
      line1:
        description: This is a default description.
        type: parameters
      line2:
        description: This is a default description.
        type: parameters
      line3:
        description: This is a default description.
        type: parameters
      locationName:
        description: This is a default description.
        type: parameters
      state:
        description: This is a default description.
        type: parameters
      zip:
        description: This is a default description.
        type: parameters
  Source:
    properties:
      name:
        description: This is a default description.
        type: parameters
      official:
        description: This is a default description.
        type: parameters
  VoterInfoRequest:
    properties: []
  VoterInfoResponse:
    properties:
      contests:
        description: This is a default description.
        type: parameters
      dropOffLocations:
        description: This is a default description.
        type: parameters
      earlyVoteSites:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
      mailOnly:
        description: This is a default description.
        type: parameters
      otherElections:
        description: This is a default description.
        type: parameters
      pollingLocations:
        description: This is a default description.
        type: parameters
      precinctId:
        description: This is a default description.
        type: parameters
      state:
        description: This is a default description.
        type: parameters
  VoterInfoSegmentResult:
    properties:
      generatedMillis:
        description: This is a default description.
        type: parameters