swagger: "2.0"
info:
  title: Tag Manager
  description: Accesses Tag Manager accounts and containers.
  contact:
    name: Google
    url: https://google.com
  version: v1
host: www.googleapis.com
basePath: /tagmanager/v1
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /accounts:
    get:
      summary: Get Accounts
      description: Lists all GTM Accounts that a user has access to
      operationId: tagmanager.accounts.list
      responses:
        200:
          description: OK
      tags:
      - Account
  /accounts/{accountId}:
    get:
      summary: Get Account
      description: Gets a GTM Account
      operationId: tagmanager.accounts.get
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      responses:
        200:
          description: OK
      tags:
      - Account
    put:
      summary: Update Account
      description: Updates a GTM Account
      operationId: tagmanager.accounts.update
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: fingerprint
        description: When provided, this fingerprint must match the fingerprint of
          the account in storage
      responses:
        200:
          description: OK
      tags:
      - Account
  /accounts/{accountId}/containers:
    get:
      summary: Get Conainers
      description: Lists all Containers that belongs to a GTM Account
      operationId: tagmanager.accounts.containers.list
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      responses:
        200:
          description: OK
      tags:
      - Container
    post:
      summary: Create Container
      description: Creates a Container
      operationId: tagmanager.accounts.containers.create
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Container
  /accounts/{accountId}/containers/{containerId}:
    delete:
      summary: Delete Container
      description: Deletes a Container
      operationId: tagmanager.accounts.containers.delete
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      responses:
        200:
          description: OK
      tags:
      - Container
    get:
      summary: Get Container
      description: Gets a Container
      operationId: tagmanager.accounts.containers.get
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      responses:
        200:
          description: OK
      tags:
      - Container
    put:
      summary: Update Container
      description: Updates a Container
      operationId: tagmanager.accounts.containers.update
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: query
        name: fingerprint
        description: When provided, this fingerprint must match the fingerprint of
          the container in storage
      responses:
        200:
          description: OK
      tags:
      - Container
  /accounts/{accountId}/containers/{containerId}/environments:
    get:
      summary: Get GTM Environments
      description: Lists all GTM Environments of a GTM Container
      operationId: tagmanager.accounts.containers.environments.list
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      responses:
        200:
          description: OK
      tags:
      - GTM Environment
    post:
      summary: Create GTM Environment
      description: Creates a GTM Environment
      operationId: tagmanager.accounts.containers.environments.create
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: containerId
        description: The GTM Container ID
      responses:
        200:
          description: OK
      tags:
      - GTM Environment
  /accounts/{accountId}/containers/{containerId}/environments/{environmentId}:
    delete:
      summary: Delete GTM Environment
      description: Deletes a GTM Environment
      operationId: tagmanager.accounts.containers.environments.delete
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: environmentId
        description: The GTM Environment ID
      responses:
        200:
          description: OK
      tags:
      - GTM Environment
    get:
      summary: Get GTM Environment
      description: Gets a GTM Environment
      operationId: tagmanager.accounts.containers.environments.get
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: environmentId
        description: The GTM Environment ID
      responses:
        200:
          description: OK
      tags:
      - GTM Environment
    patch:
      summary: Update GTM Environment
      description: Updates a GTM Environment
      operationId: tagmanager.accounts.containers.environments.patch
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: environmentId
        description: The GTM Environment ID
      - in: query
        name: fingerprint
        description: When provided, this fingerprint must match the fingerprint of
          the environment in storage
      responses:
        200:
          description: OK
      tags:
      - GTM Environment
    put:
      summary: Update GTM Environment
      description: Updates a GTM Environment
      operationId: tagmanager.accounts.containers.environments.update
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: environmentId
        description: The GTM Environment ID
      - in: query
        name: fingerprint
        description: When provided, this fingerprint must match the fingerprint of
          the environment in storage
      responses:
        200:
          description: OK
      tags:
      - GTM Environment
  /accounts/{accountId}/containers/{containerId}/folders:
    get:
      summary: Get GTM Folders
      description: Lists all GTM Folders of a Container
      operationId: tagmanager.accounts.containers.folders.list
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      responses:
        200:
          description: OK
      tags:
      - GTM Folder
    post:
      summary: Create GTM Folder
      description: Creates a GTM Folder
      operationId: tagmanager.accounts.containers.folders.create
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: containerId
        description: The GTM Container ID
      responses:
        200:
          description: OK
      tags:
      - GTM Folder
  /accounts/{accountId}/containers/{containerId}/folders/{folderId}:
    delete:
      summary: Delete GTM Folder
      description: Deletes a GTM Folder
      operationId: tagmanager.accounts.containers.folders.delete
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: folderId
        description: The GTM Folder ID
      responses:
        200:
          description: OK
      tags:
      - GTM Folder
    get:
      summary: Get GTM Folder
      description: Gets a GTM Folder
      operationId: tagmanager.accounts.containers.folders.get
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: folderId
        description: The GTM Folder ID
      responses:
        200:
          description: OK
      tags:
      - GTM Folder
    put:
      summary: Update GTM Folder
      description: Updates a GTM Folder
      operationId: tagmanager.accounts.containers.folders.update
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: query
        name: fingerprint
        description: When provided, this fingerprint must match the fingerprint of
          the folder in storage
      - in: path
        name: folderId
        description: The GTM Folder ID
      responses:
        200:
          description: OK
      tags:
      - GTM Folder
  /accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities:
    get:
      summary: Get Entities
      description: List all entities in a GTM Folder
      operationId: tagmanager.accounts.containers.folders.entities.list
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: folderId
        description: The GTM Folder ID
      responses:
        200:
          description: OK
      tags:
      - Entity
  /accounts/{accountId}/containers/{containerId}/move_folders/{folderId}:
    put:
      summary: Move Entity
      description: Moves entities to a GTM Folder
      operationId: tagmanager.accounts.containers.move_folders.update
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: folderId
        description: The GTM Folder ID
      - in: query
        name: tagId
        description: The tags to be moved to the folder
      - in: query
        name: triggerId
        description: The triggers to be moved to the folder
      - in: query
        name: variableId
        description: The variables to be moved to the folder
      responses:
        200:
          description: OK
      tags:
      - Entity
  /accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}:
    put:
      summary: Regenerate Authorization
      description: Re-generates the authorization code for a GTM Environment
      operationId: tagmanager.accounts.containers.reauthorize_environments.update
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: environmentId
        description: The GTM Environment ID
      responses:
        200:
          description: OK
      tags:
      - Authorization
  /accounts/{accountId}/containers/{containerId}/tags:
    get:
      summary: Get GTM Tags
      description: Lists all GTM Tags of a Container
      operationId: tagmanager.accounts.containers.tags.list
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      responses:
        200:
          description: OK
      tags:
      - GTM Tag
    post:
      summary: Create GTM Tag
      description: Creates a GTM Tag
      operationId: tagmanager.accounts.containers.tags.create
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: containerId
        description: The GTM Container ID
      responses:
        200:
          description: OK
      tags:
      - GTM Tag
  /accounts/{accountId}/containers/{containerId}/tags/{tagId}:
    delete:
      summary: Delete GTM Tag
      description: Deletes a GTM Tag
      operationId: tagmanager.accounts.containers.tags.delete
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: tagId
        description: The GTM Tag ID
      responses:
        200:
          description: OK
      tags:
      - GTM Tag
    get:
      summary: Get GTM Tag
      description: Gets a GTM Tag
      operationId: tagmanager.accounts.containers.tags.get
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: tagId
        description: The GTM Tag ID
      responses:
        200:
          description: OK
      tags:
      - GTM Tag
    put:
      summary: Update GTM Tag
      description: Updates a GTM Tag
      operationId: tagmanager.accounts.containers.tags.update
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: query
        name: fingerprint
        description: When provided, this fingerprint must match the fingerprint of
          the tag in storage
      - in: path
        name: tagId
        description: The GTM Tag ID
      responses:
        200:
          description: OK
      tags:
      - GTM Tag
  /accounts/{accountId}/containers/{containerId}/triggers:
    get:
      summary: Get GTM Triggers
      description: Lists all GTM Triggers of a Container
      operationId: tagmanager.accounts.containers.triggers.list
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      responses:
        200:
          description: OK
      tags:
      - GTM Trigger
    post:
      summary: Create GTM Trigger
      description: Creates a GTM Trigger
      operationId: tagmanager.accounts.containers.triggers.create
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: containerId
        description: The GTM Container ID
      responses:
        200:
          description: OK
      tags:
      - GTM Trigger
  /accounts/{accountId}/containers/{containerId}/triggers/{triggerId}:
    delete:
      summary: Delete GTM Trigger
      description: Deletes a GTM Trigger
      operationId: tagmanager.accounts.containers.triggers.delete
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: triggerId
        description: The GTM Trigger ID
      responses:
        200:
          description: OK
      tags:
      - GTM Trigger
    get:
      summary: Get GTM Trigger
      description: Gets a GTM Trigger
      operationId: tagmanager.accounts.containers.triggers.get
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: triggerId
        description: The GTM Trigger ID
      responses:
        200:
          description: OK
      tags:
      - GTM Trigger
    put:
      summary: Update GTM Trigger
      description: Updates a GTM Trigger
      operationId: tagmanager.accounts.containers.triggers.update
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: query
        name: fingerprint
        description: When provided, this fingerprint must match the fingerprint of
          the trigger in storage
      - in: path
        name: triggerId
        description: The GTM Trigger ID
      responses:
        200:
          description: OK
      tags:
      - GTM Trigger
  /accounts/{accountId}/containers/{containerId}/variables:
    get:
      summary: Get GTM Variables
      description: Lists all GTM Variables of a Container
      operationId: tagmanager.accounts.containers.variables.list
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      responses:
        200:
          description: OK
      tags:
      - GTM Variable
    post:
      summary: Create GTM Variable
      description: Creates a GTM Variable
      operationId: tagmanager.accounts.containers.variables.create
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: containerId
        description: The GTM Container ID
      responses:
        200:
          description: OK
      tags:
      - GTM Variable
  /accounts/{accountId}/containers/{containerId}/variables/{variableId}:
    delete:
      summary: Delete GTM Variable
      description: Deletes a GTM Variable
      operationId: tagmanager.accounts.containers.variables.delete
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: variableId
        description: The GTM Variable ID
      responses:
        200:
          description: OK
      tags:
      - GTM Variable
    get:
      summary: Get GTM Variable
      description: Gets a GTM Variable
      operationId: tagmanager.accounts.containers.variables.get
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: variableId
        description: The GTM Variable ID
      responses:
        200:
          description: OK
      tags:
      - GTM Variable
    put:
      summary: Update GTM Variable
      description: Updates a GTM Variable
      operationId: tagmanager.accounts.containers.variables.update
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: query
        name: fingerprint
        description: When provided, this fingerprint must match the fingerprint of
          the variable in storage
      - in: path
        name: variableId
        description: The GTM Variable ID
      responses:
        200:
          description: OK
      tags:
      - GTM Variable
  /accounts/{accountId}/containers/{containerId}/versions:
    get:
      summary: Get Container Versions
      description: Lists all Container Versions of a GTM Container
      operationId: tagmanager.accounts.containers.versions.list
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: query
        name: headers
        description: Retrieve headers only when true
      - in: query
        name: includeDeleted
        description: Also retrieve deleted (archived) versions when true
      responses:
        200:
          description: OK
      tags:
      - Container Version
    post:
      summary: Create Container Version
      description: Creates a Container Version
      operationId: tagmanager.accounts.containers.versions.create
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: containerId
        description: The GTM Container ID
      responses:
        200:
          description: OK
      tags:
      - Container Version
  /accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}:
    delete:
      summary: Delete Container Version
      description: Deletes a Container Version
      operationId: tagmanager.accounts.containers.versions.delete
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: containerVersionId
        description: The GTM Container Version ID
      responses:
        200:
          description: OK
      tags:
      - Container Version
    get:
      summary: Get Container Version
      description: Gets a Container Version
      operationId: tagmanager.accounts.containers.versions.get
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: containerVersionId
        description: The GTM Container Version ID
      responses:
        200:
          description: OK
      tags:
      - Container Version
    put:
      summary: Update Container Version
      description: Updates a Container Version
      operationId: tagmanager.accounts.containers.versions.update
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: containerVersionId
        description: The GTM Container Version ID
      - in: query
        name: fingerprint
        description: When provided, this fingerprint must match the fingerprint of
          the container version in storage
      responses:
        200:
          description: OK
      tags:
      - Container Version
  /accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish:
    post:
      summary: Publish Container Version
      description: Publishes a Container Version
      operationId: tagmanager.accounts.containers.versions.publish
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: containerVersionId
        description: The GTM Container Version ID
      - in: query
        name: fingerprint
        description: When provided, this fingerprint must match the fingerprint of
          the container version in storage
      responses:
        200:
          description: OK
      tags:
      - Container Version
  /accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore:
    post:
      summary: Restore Container Version
      description: Restores a Container Version
      operationId: tagmanager.accounts.containers.versions.restore
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: containerVersionId
        description: The GTM Container Version ID
      responses:
        200:
          description: OK
      tags:
      - Container Version
  /accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete:
    post:
      summary: Undelete Container Version
      description: Undeletes a Container Version
      operationId: tagmanager.accounts.containers.versions.undelete
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: containerId
        description: The GTM Container ID
      - in: path
        name: containerVersionId
        description: The GTM Container Version ID
      responses:
        200:
          description: OK
      tags:
      - Container Version
  /accounts/{accountId}/permissions:
    get:
      summary: Get User Permissions
      description: List all users that have access to the account along with Account
        and Container Permissions granted to each of them
      operationId: tagmanager.accounts.permissions.list
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      responses:
        200:
          description: OK
      tags:
      - User Permission
    post:
      summary: Create User Permission
      description: Creates a user's Account & Container Permissions
      operationId: tagmanager.accounts.permissions.create
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - User Permission
  /accounts/{accountId}/permissions/{permissionId}:
    delete:
      summary: Remove User
      description: Removes a user from the account, revoking access to it and all
        of its containers
      operationId: tagmanager.accounts.permissions.delete
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: permissionId
        description: The GTM User ID
      responses:
        200:
          description: OK
      tags:
      - User
    get:
      summary: Get User
      description: Gets a user's Account & Container Permissions
      operationId: tagmanager.accounts.permissions.get
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: path
        name: permissionId
        description: The GTM User ID
      responses:
        200:
          description: OK
      tags:
      - User
    put:
      summary: Update User
      description: Updates a user's Account & Container Permissions
      operationId: tagmanager.accounts.permissions.update
      parameters:
      - in: path
        name: accountId
        description: The GTM Account ID
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: permissionId
        description: The GTM User ID
      responses:
        200:
          description: OK
      tags:
      - User
definitions:
  Account:
    properties:
      accountId:
        description: This is a default description.
        type: put
      fingerprint:
        description: This is a default description.
        type: put
      name:
        description: This is a default description.
        type: put
      shareData:
        description: This is a default description.
        type: put
  AccountAccess:
    properties:
      permission:
        description: This is a default description.
        type: put
  Condition:
    properties:
      parameter:
        description: This is a default description.
        type: put
      type:
        description: This is a default description.
        type: put
  Container:
    properties:
      accountId:
        description: This is a default description.
        type: put
      containerId:
        description: This is a default description.
        type: put
      domainName:
        description: This is a default description.
        type: put
      enabledBuiltInVariable:
        description: This is a default description.
        type: put
      fingerprint:
        description: This is a default description.
        type: put
      name:
        description: This is a default description.
        type: put
      notes:
        description: This is a default description.
        type: put
      publicId:
        description: This is a default description.
        type: put
      timeZoneCountryId:
        description: This is a default description.
        type: put
      timeZoneId:
        description: This is a default description.
        type: put
      usageContext:
        description: This is a default description.
        type: put
  ContainerAccess:
    properties:
      containerId:
        description: This is a default description.
        type: put
      permission:
        description: This is a default description.
        type: put
  ContainerVersion:
    properties:
      accountId:
        description: This is a default description.
        type: put
      containerId:
        description: This is a default description.
        type: put
      containerVersionId:
        description: This is a default description.
        type: put
      deleted:
        description: This is a default description.
        type: put
      fingerprint:
        description: This is a default description.
        type: put
      folder:
        description: This is a default description.
        type: put
      macro:
        description: This is a default description.
        type: put
      name:
        description: This is a default description.
        type: put
      notes:
        description: This is a default description.
        type: put
      rule:
        description: This is a default description.
        type: put
      tag:
        description: This is a default description.
        type: put
      trigger:
        description: This is a default description.
        type: put
      variable:
        description: This is a default description.
        type: put
  ContainerVersionHeader:
    properties:
      accountId:
        description: This is a default description.
        type: put
      containerId:
        description: This is a default description.
        type: put
      containerVersionId:
        description: This is a default description.
        type: put
      deleted:
        description: This is a default description.
        type: put
      name:
        description: This is a default description.
        type: put
      numMacros:
        description: This is a default description.
        type: put
      numRules:
        description: This is a default description.
        type: put
      numTags:
        description: This is a default description.
        type: put
      numTriggers:
        description: This is a default description.
        type: put
      numVariables:
        description: This is a default description.
        type: put
  CreateContainerVersionRequestVersionOptions:
    properties:
      name:
        description: This is a default description.
        type: put
      notes:
        description: This is a default description.
        type: put
      quickPreview:
        description: This is a default description.
        type: put
  CreateContainerVersionResponse:
    properties:
      compilerError:
        description: This is a default description.
        type: put
  Environment:
    properties:
      accountId:
        description: This is a default description.
        type: put
      authorizationCode:
        description: This is a default description.
        type: put
      authorizationTimestampMs:
        description: This is a default description.
        type: put
      containerId:
        description: This is a default description.
        type: put
      containerVersionId:
        description: This is a default description.
        type: put
      description:
        description: This is a default description.
        type: put
      enableDebug:
        description: This is a default description.
        type: put
      environmentId:
        description: This is a default description.
        type: put
      fingerprint:
        description: This is a default description.
        type: put
      name:
        description: This is a default description.
        type: put
      type:
        description: This is a default description.
        type: put
      url:
        description: This is a default description.
        type: put
  Folder:
    properties:
      accountId:
        description: This is a default description.
        type: put
      containerId:
        description: This is a default description.
        type: put
      fingerprint:
        description: This is a default description.
        type: put
      folderId:
        description: This is a default description.
        type: put
      name:
        description: This is a default description.
        type: put
  FolderEntities:
    properties:
      tag:
        description: This is a default description.
        type: put
      trigger:
        description: This is a default description.
        type: put
      variable:
        description: This is a default description.
        type: put
  ListAccountUsersResponse:
    properties:
      userAccess:
        description: This is a default description.
        type: put
  ListAccountsResponse:
    properties:
      accounts:
        description: This is a default description.
        type: put
  ListContainerVersionsResponse:
    properties:
      containerVersion:
        description: This is a default description.
        type: put
      containerVersionHeader:
        description: This is a default description.
        type: put
  ListContainersResponse:
    properties:
      containers:
        description: This is a default description.
        type: put
  ListEnvironmentsResponse:
    properties:
      environments:
        description: This is a default description.
        type: put
  ListFoldersResponse:
    properties:
      folders:
        description: This is a default description.
        type: put
  ListTagsResponse:
    properties:
      tags:
        description: This is a default description.
        type: put
  ListTriggersResponse:
    properties:
      triggers:
        description: This is a default description.
        type: put
  ListVariablesResponse:
    properties:
      variables:
        description: This is a default description.
        type: put
  Macro:
    properties:
      accountId:
        description: This is a default description.
        type: put
      containerId:
        description: This is a default description.
        type: put
      disablingRuleId:
        description: This is a default description.
        type: put
      enablingRuleId:
        description: This is a default description.
        type: put
      fingerprint:
        description: This is a default description.
        type: put
      macroId:
        description: This is a default description.
        type: put
      name:
        description: This is a default description.
        type: put
      notes:
        description: This is a default description.
        type: put
      parameter:
        description: This is a default description.
        type: put
      parentFolderId:
        description: This is a default description.
        type: put
      scheduleEndMs:
        description: This is a default description.
        type: put
      scheduleStartMs:
        description: This is a default description.
        type: put
      type:
        description: This is a default description.
        type: put
  Parameter:
    properties:
      key:
        description: This is a default description.
        type: put
      list:
        description: This is a default description.
        type: put
      map:
        description: This is a default description.
        type: put
      type:
        description: This is a default description.
        type: put
      value:
        description: This is a default description.
        type: put
  PublishContainerVersionResponse:
    properties:
      compilerError:
        description: This is a default description.
        type: put
  Rule:
    properties:
      accountId:
        description: This is a default description.
        type: put
      condition:
        description: This is a default description.
        type: put
      containerId:
        description: This is a default description.
        type: put
      fingerprint:
        description: This is a default description.
        type: put
      name:
        description: This is a default description.
        type: put
      notes:
        description: This is a default description.
        type: put
      ruleId:
        description: This is a default description.
        type: put
  SetupTag:
    properties:
      stopOnSetupFailure:
        description: This is a default description.
        type: put
      tagName:
        description: This is a default description.
        type: put
  Tag:
    properties:
      accountId:
        description: This is a default description.
        type: put
      blockingRuleId:
        description: This is a default description.
        type: put
      blockingTriggerId:
        description: This is a default description.
        type: put
      containerId:
        description: This is a default description.
        type: put
      fingerprint:
        description: This is a default description.
        type: put
      firingRuleId:
        description: This is a default description.
        type: put
      firingTriggerId:
        description: This is a default description.
        type: put
      liveOnly:
        description: This is a default description.
        type: put
      name:
        description: This is a default description.
        type: put
      notes:
        description: This is a default description.
        type: put
      parameter:
        description: This is a default description.
        type: put
      parentFolderId:
        description: This is a default description.
        type: put
      scheduleEndMs:
        description: This is a default description.
        type: put
      scheduleStartMs:
        description: This is a default description.
        type: put
      setupTag:
        description: This is a default description.
        type: put
      tagFiringOption:
        description: This is a default description.
        type: put
      tagId:
        description: This is a default description.
        type: put
      teardownTag:
        description: This is a default description.
        type: put
      type:
        description: This is a default description.
        type: put
  TeardownTag:
    properties:
      stopTeardownOnFailure:
        description: This is a default description.
        type: put
      tagName:
        description: This is a default description.
        type: put
  Trigger:
    properties:
      accountId:
        description: This is a default description.
        type: put
      autoEventFilter:
        description: This is a default description.
        type: put
      containerId:
        description: This is a default description.
        type: put
      customEventFilter:
        description: This is a default description.
        type: put
      filter:
        description: This is a default description.
        type: put
      fingerprint:
        description: This is a default description.
        type: put
      name:
        description: This is a default description.
        type: put
      parentFolderId:
        description: This is a default description.
        type: put
      triggerId:
        description: This is a default description.
        type: put
      type:
        description: This is a default description.
        type: put
  UserAccess:
    properties:
      accountId:
        description: This is a default description.
        type: put
      containerAccess:
        description: This is a default description.
        type: put
      emailAddress:
        description: This is a default description.
        type: put
      permissionId:
        description: This is a default description.
        type: put
  Variable:
    properties:
      accountId:
        description: This is a default description.
        type: put
      containerId:
        description: This is a default description.
        type: put
      disablingTriggerId:
        description: This is a default description.
        type: put
      enablingTriggerId:
        description: This is a default description.
        type: put
      fingerprint:
        description: This is a default description.
        type: put
      name:
        description: This is a default description.
        type: put
      notes:
        description: This is a default description.
        type: put
      parameter:
        description: This is a default description.
        type: put
      parentFolderId:
        description: This is a default description.
        type: put
      scheduleEndMs:
        description: This is a default description.
        type: put
      scheduleStartMs:
        description: This is a default description.
        type: put
      type:
        description: This is a default description.
        type: put
      variableId:
        description: This is a default description.
        type: put