swagger: "2.0"
info:
  title: DCM/DFA Reporting And Trafficking
  description: Manages your DoubleClick Campaign Manager ad campaigns and reports.
  contact:
    name: Google
    url: https://google.com
  version: v2.7
host: www.googleapis.com
basePath: /dfareporting/v2.7
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /reports/{reportId}/files/{fileId}:
    get:
      summary: Get Report
      description: Retrieves a report file by its report ID and file ID
      operationId: dfareporting.files.get
      parameters:
      - in: path
        name: fileId
        description: The ID of the report file
      - in: path
        name: reportId
        description: The ID of the report
      responses:
        200:
          description: OK
      tags:
      - Report
  /userprofiles:
    get:
      summary: Get User Profiles
      description: Retrieves list of user profiles for a user
      operationId: dfareporting.userProfiles.list
      responses:
        200:
          description: OK
      tags:
      - User
  /userprofiles/{profileId}:
    get:
      summary: Get User Profile
      description: Gets one user profile by ID
      operationId: dfareporting.userProfiles.get
      parameters:
      - in: path
        name: profileId
        description: The user profile ID
      responses:
        200:
          description: OK
      tags:
      - User
  /userprofiles/{profileId}/accountActiveAdSummaries/{summaryAccountId}:
    get:
      summary: Get Account Active Ad Summary
      description: Gets the account's active ad summary by account ID
      operationId: dfareporting.accountActiveAdSummaries.get
      parameters:
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: path
        name: summaryAccountId
        description: Account ID
      responses:
        200:
          description: OK
      tags:
      - Ad
  /userprofiles/{profileId}/accountPermissionGroups:
    get:
      summary: Get Account Permission Groups
      description: Retrieves the list of account permission groups
      operationId: dfareporting.accountPermissionGroups.list
      parameters:
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Permission Group
  /userprofiles/{profileId}/accountPermissionGroups/{id}:
    get:
      summary: Get Account Permission Group
      description: Gets one account permission group by ID
      operationId: dfareporting.accountPermissionGroups.get
      parameters:
      - in: path
        name: id
        description: Account permission group ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Permission Group
  /userprofiles/{profileId}/accountPermissions:
    get:
      summary: Get Account Permissions
      description: Retrieves the list of account permissions
      operationId: dfareporting.accountPermissions.list
      parameters:
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Permission
  /userprofiles/{profileId}/accountPermissions/{id}:
    get:
      summary: Get Account Permissions
      description: Gets one account permission by ID
      operationId: dfareporting.accountPermissions.get
      parameters:
      - in: path
        name: id
        description: Account permission ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Permission
  /userprofiles/{profileId}/accounts:
    get:
      summary: Get Accounts
      description: Retrieves the list of accounts, possibly filtered
      operationId: dfareporting.accounts.list
      parameters:
      - in: query
        name: active
        description: Select only active accounts
      - in: query
        name: ids
        description: Select only accounts with these IDs
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for objects by name or ID
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      responses:
        200:
          description: OK
      tags:
      - Account
    patch:
      summary: Update Account
      description: Updates an existing account
      operationId: dfareporting.accounts.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: id
        description: Account ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Account
    put:
      summary: Update Account
      description: Updates an existing account
      operationId: dfareporting.accounts.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Account
  /userprofiles/{profileId}/accounts/{id}:
    get:
      summary: Get Account
      description: Gets one account by ID
      operationId: dfareporting.accounts.get
      parameters:
      - in: path
        name: id
        description: Account ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Account
  /userprofiles/{profileId}/accountUserProfiles:
    get:
      summary: Get Account Users
      description: Retrieves a list of account user profiles, possibly filtered
      operationId: dfareporting.accountUserProfiles.list
      parameters:
      - in: query
        name: active
        description: Select only active user profiles
      - in: query
        name: ids
        description: Select only user profiles with these IDs
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for objects by name, ID or email
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      - in: query
        name: subaccountId
        description: Select only user profiles with the specified subaccount ID
      - in: query
        name: userRoleId
        description: Select only user profiles with the specified user role ID
      responses:
        200:
          description: OK
      tags:
      - User
    patch:
      summary: Update Account User
      description: Updates an existing account user profile
      operationId: dfareporting.accountUserProfiles.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: id
        description: User profile ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - User
    post:
      summary: Add Account User
      description: Inserts a new account user profile
      operationId: dfareporting.accountUserProfiles.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - User
    put:
      summary: Update Account User
      description: Updates an existing account user profile
      operationId: dfareporting.accountUserProfiles.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - User
  /userprofiles/{profileId}/accountUserProfiles/{id}:
    get:
      summary: Get Account User
      description: Gets one account user profile by ID
      operationId: dfareporting.accountUserProfiles.get
      parameters:
      - in: path
        name: id
        description: User profile ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - User
  /userprofiles/{profileId}/ads:
    get:
      summary: Get Ads
      description: Retrieves a list of ads, possibly filtered
      operationId: dfareporting.ads.list
      parameters:
      - in: query
        name: active
        description: Select only active ads
      - in: query
        name: advertiserId
        description: Select only ads with this advertiser ID
      - in: query
        name: archived
        description: Select only archived ads
      - in: query
        name: audienceSegmentIds
        description: Select only ads with these audience segment IDs
      - in: query
        name: campaignIds
        description: Select only ads with these campaign IDs
      - in: query
        name: compatibility
        description: Select default ads with the specified compatibility
      - in: query
        name: creativeIds
        description: Select only ads with these creative IDs assigned
      - in: query
        name: creativeOptimizationConfigurationIds
        description: Select only ads with these creative optimization configuration
          IDs
      - in: query
        name: dynamicClickTracker
        description: Select only dynamic click trackers
      - in: query
        name: ids
        description: Select only ads with these IDs
      - in: query
        name: landingPageIds
        description: Select only ads with these landing page IDs
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: overriddenEventTagId
        description: Select only ads with this event tag override ID
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: query
        name: placementIds
        description: Select only ads with these placement IDs assigned
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: remarketingListIds
        description: Select only ads whose list targeting expression use these remarketing
          list IDs
      - in: query
        name: searchString
        description: Allows searching for objects by name or ID
      - in: query
        name: sizeIds
        description: Select only ads with these size IDs
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      - in: query
        name: sslCompliant
        description: Select only ads that are SSL-compliant
      - in: query
        name: sslRequired
        description: Select only ads that require SSL
      - in: query
        name: type
        description: Select only ads with these types
      responses:
        200:
          description: OK
      tags:
      - Ad
    patch:
      summary: Update Ad
      description: Updates an existing ad
      operationId: dfareporting.ads.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: id
        description: Ad ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Ad
    post:
      summary: Create Ad
      description: Inserts a new ad
      operationId: dfareporting.ads.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Ad
    put:
      summary: Update Ad
      description: Updates an existing ad
      operationId: dfareporting.ads.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Ad
  /userprofiles/{profileId}/ads/{id}:
    get:
      summary: Get Ad
      description: Gets one ad by ID
      operationId: dfareporting.ads.get
      parameters:
      - in: path
        name: id
        description: Ad ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Ad
  /userprofiles/{profileId}/advertiserGroups:
    get:
      summary: Get Advertiser Groups
      description: Retrieves a list of advertiser groups, possibly filtered
      operationId: dfareporting.advertiserGroups.list
      parameters:
      - in: query
        name: ids
        description: Select only advertiser groups with these IDs
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for objects by name or ID
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      responses:
        200:
          description: OK
      tags:
      - Advertiser Group
    patch:
      summary: Update Advertiser Group
      description: Updates an existing advertiser group
      operationId: dfareporting.advertiserGroups.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: id
        description: Advertiser group ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Advertiser Group
    post:
      summary: Create Advertiser Group
      description: Inserts a new advertiser group
      operationId: dfareporting.advertiserGroups.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Advertiser Group
    put:
      summary: Update Advertiser Group
      description: Updates an existing advertiser group
      operationId: dfareporting.advertiserGroups.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Advertiser Group
  /userprofiles/{profileId}/advertiserGroups/{id}:
    delete:
      summary: Update Advertiser Delete
      description: Deletes an existing advertiser group
      operationId: dfareporting.advertiserGroups.delete
      parameters:
      - in: path
        name: id
        description: Advertiser group ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Advertiser Group
    get:
      summary: Get Advertiser Group
      description: Gets one advertiser group by ID
      operationId: dfareporting.advertiserGroups.get
      parameters:
      - in: path
        name: id
        description: Advertiser group ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Advertiser Group
  /userprofiles/{profileId}/advertisers:
    get:
      summary: Get Advertisers
      description: Retrieves a list of advertisers, possibly filtered
      operationId: dfareporting.advertisers.list
      parameters:
      - in: query
        name: advertiserGroupIds
        description: Select only advertisers with these advertiser group IDs
      - in: query
        name: floodlightConfigurationIds
        description: Select only advertisers with these floodlight configuration IDs
      - in: query
        name: ids
        description: Select only advertisers with these IDs
      - in: query
        name: includeAdvertisersWithoutGroupsOnly
        description: Select only advertisers which do not belong to any advertiser
          group
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: onlyParent
        description: Select only advertisers which use another advertiser's floodlight
          configuration
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for objects by name or ID
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      - in: query
        name: status
        description: Select only advertisers with the specified status
      - in: query
        name: subaccountId
        description: Select only advertisers with these subaccount IDs
      responses:
        200:
          description: OK
      tags:
      - Advertiser
    patch:
      summary: Update Advertiser
      description: Updates an existing advertiser
      operationId: dfareporting.advertisers.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: id
        description: Advertiser ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Advertiser
    post:
      summary: Create Advertiser
      description: Inserts a new advertiser
      operationId: dfareporting.advertisers.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Advertiser
    put:
      summary: Update Advertiser
      description: Updates an existing advertiser
      operationId: dfareporting.advertisers.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Advertiser
  /userprofiles/{profileId}/advertisers/{id}:
    get:
      summary: Get Advertiser
      description: Gets one advertiser by ID
      operationId: dfareporting.advertisers.get
      parameters:
      - in: path
        name: id
        description: Advertiser ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Advertiser
  /userprofiles/{profileId}/browsers:
    get:
      summary: Get Browsers
      description: Retrieves a list of browsers
      operationId: dfareporting.browsers.list
      parameters:
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Browser
  /userprofiles/{profileId}/campaigns:
    get:
      summary: Get Campaigns
      description: Retrieves a list of campaigns, possibly filtered
      operationId: dfareporting.campaigns.list
      parameters:
      - in: query
        name: advertiserGroupIds
        description: Select only campaigns whose advertisers belong to these advertiser
          groups
      - in: query
        name: advertiserIds
        description: Select only campaigns that belong to these advertisers
      - in: query
        name: archived
        description: Select only archived campaigns
      - in: query
        name: atLeastOneOptimizationActivity
        description: Select only campaigns that have at least one optimization activity
      - in: query
        name: excludedIds
        description: Exclude campaigns with these IDs
      - in: query
        name: ids
        description: Select only campaigns with these IDs
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: overriddenEventTagId
        description: Select only campaigns that have overridden this event tag ID
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for campaigns by name or ID
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      - in: query
        name: subaccountId
        description: Select only campaigns that belong to this subaccount
      responses:
        200:
          description: OK
      tags:
      - Campaign
    patch:
      summary: Update Campaign
      description: Updates an existing campaign
      operationId: dfareporting.campaigns.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: id
        description: Campaign ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Campaign
    post:
      summary: Create Campaign
      description: Inserts a new campaign
      operationId: dfareporting.campaigns.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: defaultLandingPageName
        description: Default landing page name for this new campaign
      - in: query
        name: defaultLandingPageUrl
        description: Default landing page URL for this new campaign
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Campaign
    put:
      summary: Update Campaign
      description: Updates an existing campaign
      operationId: dfareporting.campaigns.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Campaign
  /userprofiles/{profileId}/campaigns/{campaignId}/campaignCreativeAssociations:
    get:
      summary: Get Campaign Creatives
      description: Retrieves the list of creative IDs associated with the specified
        campaign
      operationId: dfareporting.campaignCreativeAssociations.list
      parameters:
      - in: path
        name: campaignId
        description: Campaign ID in this association
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      responses:
        200:
          description: OK
      tags:
      - Campaign Creatives
    post:
      summary: Add Campaign Creative
      description: Associates a creative with the specified campaign
      operationId: dfareporting.campaignCreativeAssociations.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: campaignId
        description: Campaign ID in this association
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Campaign Creatives
  /userprofiles/{profileId}/campaigns/{campaignId}/landingPages:
    get:
      summary: Get Landing Pages
      description: Retrieves the list of landing pages for the specified campaign
      operationId: dfareporting.landingPages.list
      parameters:
      - in: path
        name: campaignId
        description: Landing page campaign ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Landing Page
    patch:
      summary: Update Landing Page
      description: Updates an existing campaign landing page
      operationId: dfareporting.landingPages.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: campaignId
        description: Landing page campaign ID
      - in: query
        name: id
        description: Landing page ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Landing Page
    post:
      summary: Add Landing Page
      description: Inserts a new landing page for the specified campaign
      operationId: dfareporting.landingPages.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: campaignId
        description: Landing page campaign ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Landing Page
    put:
      summary: Update Landing Page
      description: Updates an existing campaign landing page
      operationId: dfareporting.landingPages.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: campaignId
        description: Landing page campaign ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Landing Page
  /userprofiles/{profileId}/campaigns/{campaignId}/landingPages/{id}:
    delete:
      summary: Delete Landing Page
      description: Deletes an existing campaign landing page
      operationId: dfareporting.landingPages.delete
      parameters:
      - in: path
        name: campaignId
        description: Landing page campaign ID
      - in: path
        name: id
        description: Landing page ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Landing Page
    get:
      summary: Get Landing Page
      description: Gets one campaign landing page by ID
      operationId: dfareporting.landingPages.get
      parameters:
      - in: path
        name: campaignId
        description: Landing page campaign ID
      - in: path
        name: id
        description: Landing page ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Landing Page
  /userprofiles/{profileId}/campaigns/{id}:
    get:
      summary: Get Campaign
      description: Gets one campaign by ID
      operationId: dfareporting.campaigns.get
      parameters:
      - in: path
        name: id
        description: Campaign ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Campaign
  /userprofiles/{profileId}/changeLogs:
    get:
      summary: Get Change Logs
      description: Retrieves a list of change logs
      operationId: dfareporting.changeLogs.list
      parameters:
      - in: query
        name: action
        description: Select only change logs with the specified action
      - in: query
        name: ids
        description: Select only change logs with these IDs
      - in: query
        name: maxChangeTime
        description: Select only change logs whose change time is before the specified
          maxChangeTime
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: minChangeTime
        description: Select only change logs whose change time is before the specified
          minChangeTime
      - in: query
        name: objectIds
        description: Select only change logs with these object IDs
      - in: query
        name: objectType
        description: Select only change logs with the specified object type
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Select only change logs whose object ID, user name, old or new
          values match the search string
      - in: query
        name: userProfileIds
        description: Select only change logs with these user profile IDs
      responses:
        200:
          description: OK
      tags:
      - Change Log
  /userprofiles/{profileId}/changeLogs/{id}:
    get:
      summary: Get Change Log
      description: Gets one change log by ID
      operationId: dfareporting.changeLogs.get
      parameters:
      - in: path
        name: id
        description: Change log ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Change Log
  /userprofiles/{profileId}/cities:
    get:
      summary: Get Cities
      description: Retrieves a list of cities, possibly filtered
      operationId: dfareporting.cities.list
      parameters:
      - in: query
        name: countryDartIds
        description: Select only cities from these countries
      - in: query
        name: dartIds
        description: Select only cities with these DART IDs
      - in: query
        name: namePrefix
        description: Select only cities with names starting with this prefix
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: regionDartIds
        description: Select only cities from these regions
      responses:
        200:
          description: OK
      tags:
      - City
  /userprofiles/{profileId}/connectionTypes:
    get:
      summary: Get Connection Types
      description: Retrieves a list of connection types
      operationId: dfareporting.connectionTypes.list
      parameters:
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Connection Type
  /userprofiles/{profileId}/connectionTypes/{id}:
    get:
      summary: Get Connection Type
      description: Gets one connection type by ID
      operationId: dfareporting.connectionTypes.get
      parameters:
      - in: path
        name: id
        description: Connection type ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Connection Type
  /userprofiles/{profileId}/contentCategories:
    get:
      summary: Get Content Categories
      description: Retrieves a list of content categories, possibly filtered
      operationId: dfareporting.contentCategories.list
      parameters:
      - in: query
        name: ids
        description: Select only content categories with these IDs
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for objects by name or ID
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      responses:
        200:
          description: OK
      tags:
      - Content Category
    patch:
      summary: Get Content Category
      description: Updates an existing content category
      operationId: dfareporting.contentCategories.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: id
        description: Content category ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Content Category
    post:
      summary: Create Content Category
      description: Inserts a new content category
      operationId: dfareporting.contentCategories.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Content Category
    put:
      summary: Update Content Category
      description: Updates an existing content category
      operationId: dfareporting.contentCategories.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Content Category
  /userprofiles/{profileId}/contentCategories/{id}:
    delete:
      summary: Delete Content Category
      description: Deletes an existing content category
      operationId: dfareporting.contentCategories.delete
      parameters:
      - in: path
        name: id
        description: Content category ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Content Category
    get:
      summary: Get Content Category
      description: Gets one content category by ID
      operationId: dfareporting.contentCategories.get
      parameters:
      - in: path
        name: id
        description: Content category ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Content Category
  /userprofiles/{profileId}/conversions/batchinsert:
    post:
      summary: Insert Conversions
      description: Inserts conversions
      operationId: dfareporting.conversions.batchinsert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Conversion
  /userprofiles/{profileId}/countries:
    get:
      summary: Get Countries
      description: Retrieves a list of countries
      operationId: dfareporting.countries.list
      parameters:
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Country
  /userprofiles/{profileId}/countries/{dartId}:
    get:
      summary: Get Country
      description: Gets one country by ID
      operationId: dfareporting.countries.get
      parameters:
      - in: path
        name: dartId
        description: Country DART ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Country
  /userprofiles/{profileId}/creativeAssets/{advertiserId}/creativeAssets:
    post:
      summary: Insert Creative Asset
      description: Inserts a new creative asset
      operationId: dfareporting.creativeAssets.insert
      parameters:
      - in: path
        name: advertiserId
        description: Advertiser ID of this creative
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative Asset
  /userprofiles/{profileId}/creativeFields:
    get:
      summary: Get Creative Fields
      description: Retrieves a list of creative fields, possibly filtered
      operationId: dfareporting.creativeFields.list
      parameters:
      - in: query
        name: advertiserIds
        description: Select only creative fields that belong to these advertisers
      - in: query
        name: ids
        description: Select only creative fields with these IDs
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for creative fields by name or ID
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      responses:
        200:
          description: OK
      tags:
      - Creative Field
    patch:
      summary: Update Creative Fields
      description: Updates an existing creative field
      operationId: dfareporting.creativeFields.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: id
        description: Creative Field ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative Field
    post:
      summary: Create Creative Fields
      description: Inserts a new creative field
      operationId: dfareporting.creativeFields.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative Field
    put:
      summary: Update Creative Fields
      description: Updates an existing creative field
      operationId: dfareporting.creativeFields.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative Field
  /userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues:
    get:
      summary: Get Creative Field Values
      description: Retrieves a list of creative field values, possibly filtered
      operationId: dfareporting.creativeFieldValues.list
      parameters:
      - in: path
        name: creativeFieldId
        description: Creative field ID for this creative field value
      - in: query
        name: ids
        description: Select only creative field values with these IDs
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for creative field values by their values
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      responses:
        200:
          description: OK
      tags:
      - Creative Field
    patch:
      summary: Update Creative Field Value
      description: Updates an existing creative field value
      operationId: dfareporting.creativeFieldValues.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: creativeFieldId
        description: Creative field ID for this creative field value
      - in: query
        name: id
        description: Creative Field Value ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative Field
    post:
      summary: Insert Creative Field Value
      description: Inserts a new creative field value
      operationId: dfareporting.creativeFieldValues.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: creativeFieldId
        description: Creative field ID for this creative field value
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative Field
    put:
      summary: Update Creative Field Value
      description: Updates an existing creative field value
      operationId: dfareporting.creativeFieldValues.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: creativeFieldId
        description: Creative field ID for this creative field value
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative Field
  /userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues/{id}:
    delete:
      summary: Delete Creative Field Value
      description: Deletes an existing creative field value
      operationId: dfareporting.creativeFieldValues.delete
      parameters:
      - in: path
        name: creativeFieldId
        description: Creative field ID for this creative field value
      - in: path
        name: id
        description: Creative Field Value ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative Field
    get:
      summary: UpGetdate Creative Field Value
      description: Gets one creative field value by ID
      operationId: dfareporting.creativeFieldValues.get
      parameters:
      - in: path
        name: creativeFieldId
        description: Creative field ID for this creative field value
      - in: path
        name: id
        description: Creative Field Value ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative Field
  /userprofiles/{profileId}/creativeFields/{id}:
    delete:
      summary: Delete Creative Field
      description: Deletes an existing creative field
      operationId: dfareporting.creativeFields.delete
      parameters:
      - in: path
        name: id
        description: Creative Field ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative Field
    get:
      summary: Get Creative Field
      description: Gets one creative field by ID
      operationId: dfareporting.creativeFields.get
      parameters:
      - in: path
        name: id
        description: Creative Field ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative Field
  /userprofiles/{profileId}/creativeGroups:
    get:
      summary: Get Creative Groups
      description: Retrieves a list of creative groups, possibly filtered
      operationId: dfareporting.creativeGroups.list
      parameters:
      - in: query
        name: advertiserIds
        description: Select only creative groups that belong to these advertisers
      - in: query
        name: groupNumber
        description: Select only creative groups that belong to this subgroup
      - in: query
        name: ids
        description: Select only creative groups with these IDs
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for creative groups by name or ID
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      responses:
        200:
          description: OK
      tags:
      - Creative Group
    patch:
      summary: Update Creative Group
      description: Updates an existing creative group
      operationId: dfareporting.creativeGroups.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: id
        description: Creative group ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative Group
    post:
      summary: Insert Creative Group
      description: Inserts a new creative group
      operationId: dfareporting.creativeGroups.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative Group
    put:
      summary: Update Creative Group
      description: Updates an existing creative group
      operationId: dfareporting.creativeGroups.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative Group
  /userprofiles/{profileId}/creativeGroups/{id}:
    get:
      summary: Get Creative Group
      description: Gets one creative group by ID
      operationId: dfareporting.creativeGroups.get
      parameters:
      - in: path
        name: id
        description: Creative group ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative Group
  /userprofiles/{profileId}/creatives:
    get:
      summary: Get Creatives
      description: Retrieves a list of creatives, possibly filtered
      operationId: dfareporting.creatives.list
      parameters:
      - in: query
        name: active
        description: Select only active creatives
      - in: query
        name: advertiserId
        description: Select only creatives with this advertiser ID
      - in: query
        name: archived
        description: Select only archived creatives
      - in: query
        name: campaignId
        description: Select only creatives with this campaign ID
      - in: query
        name: companionCreativeIds
        description: Select only in-stream video creatives with these companion IDs
      - in: query
        name: creativeFieldIds
        description: Select only creatives with these creative field IDs
      - in: query
        name: ids
        description: Select only creatives with these IDs
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: renderingIds
        description: Select only creatives with these rendering IDs
      - in: query
        name: searchString
        description: Allows searching for objects by name or ID
      - in: query
        name: sizeIds
        description: Select only creatives with these size IDs
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      - in: query
        name: studioCreativeId
        description: Select only creatives corresponding to this Studio creative ID
      - in: query
        name: types
        description: Select only creatives with these creative types
      responses:
        200:
          description: OK
      tags:
      - Creative
    patch:
      summary: Update Creative
      description: Updates an existing creative
      operationId: dfareporting.creatives.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: id
        description: Creative ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative
    post:
      summary: Insert Creative
      description: Inserts a new creative
      operationId: dfareporting.creatives.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative
    put:
      summary: Update Creative
      description: Updates an existing creative
      operationId: dfareporting.creatives.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative
  /userprofiles/{profileId}/creatives/{id}:
    get:
      summary: Get Creative
      description: Gets one creative by ID
      operationId: dfareporting.creatives.get
      parameters:
      - in: path
        name: id
        description: Creative ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Creative
  /userprofiles/{profileId}/dimensionvalues/query:
    post:
      summary: Get Report Dimension
      description: Retrieves list of report dimension values for a list of filters
      operationId: dfareporting.dimensionValues.query
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: The value of the nextToken from the previous result page
      - in: path
        name: profileId
        description: The DFA user profile ID
      responses:
        200:
          description: OK
      tags:
      - Report
  /userprofiles/{profileId}/directorySiteContacts:
    get:
      summary: Get Directory Site Contacts
      description: Retrieves a list of directory site contacts, possibly filtered
      operationId: dfareporting.directorySiteContacts.list
      parameters:
      - in: query
        name: directorySiteIds
        description: Select only directory site contacts with these directory site
          IDs
      - in: query
        name: ids
        description: Select only directory site contacts with these IDs
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for objects by name, ID or email
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      responses:
        200:
          description: OK
      tags:
      - Contact
  /userprofiles/{profileId}/directorySiteContacts/{id}:
    get:
      summary: Get Directory Site Contact
      description: Gets one directory site contact by ID
      operationId: dfareporting.directorySiteContacts.get
      parameters:
      - in: path
        name: id
        description: Directory site contact ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Contact
  /userprofiles/{profileId}/directorySites:
    get:
      summary: Get Directory Sites
      description: Retrieves a list of directory sites, possibly filtered
      operationId: dfareporting.directorySites.list
      parameters:
      - in: query
        name: acceptsInStreamVideoPlacements
        description: This search filter is no longer supported and will have no effect
          on the results returned
      - in: query
        name: acceptsInterstitialPlacements
        description: This search filter is no longer supported and will have no effect
          on the results returned
      - in: query
        name: acceptsPublisherPaidPlacements
        description: Select only directory sites that accept publisher paid placements
      - in: query
        name: active
        description: Select only active directory sites
      - in: query
        name: countryId
        description: Select only directory sites with this country ID
      - in: query
        name: dfp_network_code
        description: Select only directory sites with this DFP network code
      - in: query
        name: ids
        description: Select only directory sites with these IDs
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: query
        name: parentId
        description: Select only directory sites with this parent ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for objects by name, ID or URL
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      responses:
        200:
          description: OK
      tags:
      - Directory Site
    post:
      summary: Insert Directory Site
      description: Inserts a new directory site
      operationId: dfareporting.directorySites.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Directory Site
  /userprofiles/{profileId}/directorySites/{id}:
    get:
      summary: Get Directory Site
      description: Gets one directory site by ID
      operationId: dfareporting.directorySites.get
      parameters:
      - in: path
        name: id
        description: Directory site ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Directory Site
  /userprofiles/{profileId}/dynamicTargetingKeys:
    get:
      summary: Get Dynamic Targeting Keys
      description: Retrieves a list of dynamic targeting keys
      operationId: dfareporting.dynamicTargetingKeys.list
      parameters:
      - in: query
        name: advertiserId
        description: Select only dynamic targeting keys whose object has this advertiser
          ID
      - in: query
        name: names
        description: Select only dynamic targeting keys exactly matching these names
      - in: query
        name: objectId
        description: Select only dynamic targeting keys with this object ID
      - in: query
        name: objectType
        description: Select only dynamic targeting keys with this object type
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Dynamic Targeting Key
    post:
      summary: Insert Dynamic Targeting Key
      description: Inserts a new dynamic targeting key
      operationId: dfareporting.dynamicTargetingKeys.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Dynamic Targeting Key
  /userprofiles/{profileId}/dynamicTargetingKeys/{objectId}:
    delete:
      summary: Delete Dynamic Targeting Key
      description: Deletes an existing dynamic targeting key
      operationId: dfareporting.dynamicTargetingKeys.delete
      parameters:
      - in: query
        name: name
        description: Name of this dynamic targeting key
      - in: path
        name: objectId
        description: ID of the object of this dynamic targeting key
      - in: query
        name: objectType
        description: Type of the object of this dynamic targeting key
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Dynamic Targeting Key
  /userprofiles/{profileId}/eventTags:
    get:
      summary: Get Event Tags
      description: Retrieves a list of event tags, possibly filtered
      operationId: dfareporting.eventTags.list
      parameters:
      - in: query
        name: adId
        description: Select only event tags that belong to this ad
      - in: query
        name: advertiserId
        description: Select only event tags that belong to this advertiser
      - in: query
        name: campaignId
        description: Select only event tags that belong to this campaign
      - in: query
        name: definitionsOnly
        description: Examine only the specified campaign or advertiser's event tags
          for matching selector criteria
      - in: query
        name: enabled
        description: Select only enabled event tags
      - in: query
        name: eventTagTypes
        description: Select only event tags with the specified event tag types
      - in: query
        name: ids
        description: Select only event tags with these IDs
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for objects by name or ID
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      responses:
        200:
          description: OK
      tags:
      - Event Tag
    patch:
      summary: Update Event Tag
      description: Updates an existing event tag
      operationId: dfareporting.eventTags.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: id
        description: Event tag ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Event Tag
    post:
      summary: Insert Event Tag
      description: Inserts a new event tag
      operationId: dfareporting.eventTags.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Event Tag
    put:
      summary: Update Event Tag
      description: Updates an existing event tag
      operationId: dfareporting.eventTags.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Event Tag
  /userprofiles/{profileId}/eventTags/{id}:
    delete:
      summary: Delete Event Tag
      description: Deletes an existing event tag
      operationId: dfareporting.eventTags.delete
      parameters:
      - in: path
        name: id
        description: Event tag ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Event Tag
    get:
      summary: Get Event Tag
      description: Gets one event tag by ID
      operationId: dfareporting.eventTags.get
      parameters:
      - in: path
        name: id
        description: Event tag ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Event Tag
  /userprofiles/{profileId}/files:
    get:
      summary: Get Files
      description: Lists files for a user profile
      operationId: dfareporting.files.list
      parameters:
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: The value of the nextToken from the previous result page
      - in: path
        name: profileId
        description: The DFA profile ID
      - in: query
        name: scope
        description: The scope that defines which results are returned, default is
          'MINE'
      - in: query
        name: sortField
        description: The field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is 'DESCENDING'
      responses:
        200:
          description: OK
      tags:
      - File
  /userprofiles/{profileId}/floodlightActivities:
    get:
      summary: Get Floodlight Activities
      description: Retrieves a list of floodlight activities, possibly filtered
      operationId: dfareporting.floodlightActivities.list
      parameters:
      - in: query
        name: advertiserId
        description: Select only floodlight activities for the specified advertiser
          ID
      - in: query
        name: floodlightActivityGroupIds
        description: Select only floodlight activities with the specified floodlight
          activity group IDs
      - in: query
        name: floodlightActivityGroupName
        description: Select only floodlight activities with the specified floodlight
          activity group name
      - in: query
        name: floodlightActivityGroupTagString
        description: Select only floodlight activities with the specified floodlight
          activity group tag string
      - in: query
        name: floodlightActivityGroupType
        description: Select only floodlight activities with the specified floodlight
          activity group type
      - in: query
        name: floodlightConfigurationId
        description: Select only floodlight activities for the specified floodlight
          configuration ID
      - in: query
        name: ids
        description: Select only floodlight activities with the specified IDs
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for objects by name or ID
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      - in: query
        name: tagString
        description: Select only floodlight activities with the specified tag string
      responses:
        200:
          description: OK
      tags:
      - Floodlight Activity
    patch:
      summary: Update Floodlight Activity
      description: Updates an existing floodlight activity
      operationId: dfareporting.floodlightActivities.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: id
        description: Floodlight activity ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Floodlight Activity
    post:
      summary: Insert Floodlight Activity
      description: Inserts a new floodlight activity
      operationId: dfareporting.floodlightActivities.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Floodlight Activity
    put:
      summary: Update Floodlight Activity
      description: Updates an existing floodlight activity
      operationId: dfareporting.floodlightActivities.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Floodlight Activity
  /userprofiles/{profileId}/floodlightActivities/generatetag:
    post:
      summary: Generate Tag for Floodlight Activity
      description: Generates a tag for a floodlight activity
      operationId: dfareporting.floodlightActivities.generatetag
      parameters:
      - in: query
        name: floodlightActivityId
        description: Floodlight activity ID for which we want to generate a tag
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Floodlight Activity
  /userprofiles/{profileId}/floodlightActivities/{id}:
    delete:
      summary: Delete Floodlight Activity
      description: Deletes an existing floodlight activity
      operationId: dfareporting.floodlightActivities.delete
      parameters:
      - in: path
        name: id
        description: Floodlight activity ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Floodlight Activity
    get:
      summary: Get Floodlight Activity
      description: Gets one floodlight activity by ID
      operationId: dfareporting.floodlightActivities.get
      parameters:
      - in: path
        name: id
        description: Floodlight activity ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Floodlight Activity
  /userprofiles/{profileId}/floodlightActivityGroups:
    get:
      summary: Get Floodlight Activity Groups
      description: Retrieves a list of floodlight activity groups, possibly filtered
      operationId: dfareporting.floodlightActivityGroups.list
      parameters:
      - in: query
        name: advertiserId
        description: Select only floodlight activity groups with the specified advertiser
          ID
      - in: query
        name: floodlightConfigurationId
        description: Select only floodlight activity groups with the specified floodlight
          configuration ID
      - in: query
        name: ids
        description: Select only floodlight activity groups with the specified IDs
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for objects by name or ID
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      - in: query
        name: type
        description: Select only floodlight activity groups with the specified floodlight
          activity group type
      responses:
        200:
          description: OK
      tags:
      - Floodlight Activity Group
    patch:
      summary: Update Floodlight Activity Group
      description: Updates an existing floodlight activity group
      operationId: dfareporting.floodlightActivityGroups.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: id
        description: Floodlight activity Group ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Floodlight Activity Group
    post:
      summary: Create Floodlight Activity Group
      description: Inserts a new floodlight activity group
      operationId: dfareporting.floodlightActivityGroups.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Floodlight Activity Group
    put:
      summary: Update Floodlight Activity Group
      description: Updates an existing floodlight activity group
      operationId: dfareporting.floodlightActivityGroups.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Floodlight Activity Group
  /userprofiles/{profileId}/floodlightActivityGroups/{id}:
    get:
      summary: Get Floodlight Activity Group
      description: Gets one floodlight activity group by ID
      operationId: dfareporting.floodlightActivityGroups.get
      parameters:
      - in: path
        name: id
        description: Floodlight activity Group ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Floodlight Activity Group
  /userprofiles/{profileId}/floodlightConfigurations:
    get:
      summary: Get Floodlight Configurations
      description: Retrieves a list of floodlight configurations, possibly filtered
      operationId: dfareporting.floodlightConfigurations.list
      parameters:
      - in: query
        name: ids
        description: Set of IDs of floodlight configurations to retrieve
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Floodlight Activity Group
    patch:
      summary: Update Floodlight Configuration
      description: Updates an existing floodlight configuration
      operationId: dfareporting.floodlightConfigurations.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: id
        description: Floodlight configuration ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Floodlight
    put:
      summary: Update Floodlight Configuration
      description: Updates an existing floodlight configuration
      operationId: dfareporting.floodlightConfigurations.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Floodlight
  /userprofiles/{profileId}/floodlightConfigurations/{id}:
    get:
      summary: Get Floodlight Configuration
      description: Gets one floodlight configuration by ID
      operationId: dfareporting.floodlightConfigurations.get
      parameters:
      - in: path
        name: id
        description: Floodlight configuration ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Floodlight
  /userprofiles/{profileId}/languages:
    get:
      summary: Get Languages
      description: Retrieves a list of languages
      operationId: dfareporting.languages.list
      parameters:
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Language
  /userprofiles/{profileId}/metros:
    get:
      summary: Get Metros
      description: Retrieves a list of metros
      operationId: dfareporting.metros.list
      parameters:
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Metro
  /userprofiles/{profileId}/mobileCarriers:
    get:
      summary: Get Mobile Carriers
      description: Retrieves a list of mobile carriers
      operationId: dfareporting.mobileCarriers.list
      parameters:
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Mobile Carrier
  /userprofiles/{profileId}/mobileCarriers/{id}:
    get:
      summary: Get Mobile Carrier
      description: Gets one mobile carrier by ID
      operationId: dfareporting.mobileCarriers.get
      parameters:
      - in: path
        name: id
        description: Mobile carrier ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Mobile Carrier
  /userprofiles/{profileId}/operatingSystems:
    get:
      summary: Get Operating Systems
      description: Retrieves a list of operating systems
      operationId: dfareporting.operatingSystems.list
      parameters:
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Operating System
  /userprofiles/{profileId}/operatingSystems/{dartId}:
    get:
      summary: Get Operating System
      description: Gets one operating system by DART ID
      operationId: dfareporting.operatingSystems.get
      parameters:
      - in: path
        name: dartId
        description: Operating system DART ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Operating System
  /userprofiles/{profileId}/operatingSystemVersions:
    get:
      summary: Get Operating System Versions
      description: Retrieves a list of operating system versions
      operationId: dfareporting.operatingSystemVersions.list
      parameters:
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Operating System
  /userprofiles/{profileId}/operatingSystemVersions/{id}:
    get:
      summary: Get Operating System Version
      description: Gets one operating system version by ID
      operationId: dfareporting.operatingSystemVersions.get
      parameters:
      - in: path
        name: id
        description: Operating system version ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Operating System
  /userprofiles/{profileId}/placementGroups:
    get:
      summary: Get Placement Groups
      description: Retrieves a list of placement groups, possibly filtered
      operationId: dfareporting.placementGroups.list
      parameters:
      - in: query
        name: advertiserIds
        description: Select only placement groups that belong to these advertisers
      - in: query
        name: archived
        description: Select only archived placements
      - in: query
        name: campaignIds
        description: Select only placement groups that belong to these campaigns
      - in: query
        name: contentCategoryIds
        description: Select only placement groups that are associated with these content
          categories
      - in: query
        name: directorySiteIds
        description: Select only placement groups that are associated with these directory
          sites
      - in: query
        name: ids
        description: Select only placement groups with these IDs
      - in: query
        name: maxEndDate
        description: Select only placements or placement groups whose end date is
          on or before the specified maxEndDate
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: maxStartDate
        description: Select only placements or placement groups whose start date is
          on or before the specified maxStartDate
      - in: query
        name: minEndDate
        description: Select only placements or placement groups whose end date is
          on or after the specified minEndDate
      - in: query
        name: minStartDate
        description: Select only placements or placement groups whose start date is
          on or after the specified minStartDate
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: query
        name: placementGroupType
        description: Select only placement groups belonging with this group type
      - in: query
        name: placementStrategyIds
        description: Select only placement groups that are associated with these placement
          strategies
      - in: query
        name: pricingTypes
        description: Select only placement groups with these pricing types
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for placement groups by name or ID
      - in: query
        name: siteIds
        description: Select only placement groups that are associated with these sites
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      responses:
        200:
          description: OK
      tags:
      - Placement Group
    patch:
      summary: Update Placement Group
      description: Updates an existing placement group
      operationId: dfareporting.placementGroups.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: id
        description: Placement group ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Placement Group
    post:
      summary: Insert Placement Group
      description: Inserts a new placement group
      operationId: dfareporting.placementGroups.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Placement Group
    put:
      summary: Update Placement Group
      description: Updates an existing placement group
      operationId: dfareporting.placementGroups.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Placement Group
  /userprofiles/{profileId}/placementGroups/{id}:
    get:
      summary: Get Placement Group
      description: Gets one placement group by ID
      operationId: dfareporting.placementGroups.get
      parameters:
      - in: path
        name: id
        description: Placement group ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Placement Group
  /userprofiles/{profileId}/placements:
    get:
      summary: Get Placements
      description: Retrieves a list of placements, possibly filtered
      operationId: dfareporting.placements.list
      parameters:
      - in: query
        name: advertiserIds
        description: Select only placements that belong to these advertisers
      - in: query
        name: archived
        description: Select only archived placements
      - in: query
        name: campaignIds
        description: Select only placements that belong to these campaigns
      - in: query
        name: compatibilities
        description: Select only placements that are associated with these compatibilities
      - in: query
        name: contentCategoryIds
        description: Select only placements that are associated with these content
          categories
      - in: query
        name: directorySiteIds
        description: Select only placements that are associated with these directory
          sites
      - in: query
        name: groupIds
        description: Select only placements that belong to these placement groups
      - in: query
        name: ids
        description: Select only placements with these IDs
      - in: query
        name: maxEndDate
        description: Select only placements or placement groups whose end date is
          on or before the specified maxEndDate
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: maxStartDate
        description: Select only placements or placement groups whose start date is
          on or before the specified maxStartDate
      - in: query
        name: minEndDate
        description: Select only placements or placement groups whose end date is
          on or after the specified minEndDate
      - in: query
        name: minStartDate
        description: Select only placements or placement groups whose start date is
          on or after the specified minStartDate
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: query
        name: paymentSource
        description: Select only placements with this payment source
      - in: query
        name: placementStrategyIds
        description: Select only placements that are associated with these placement
          strategies
      - in: query
        name: pricingTypes
        description: Select only placements with these pricing types
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for placements by name or ID
      - in: query
        name: siteIds
        description: Select only placements that are associated with these sites
      - in: query
        name: sizeIds
        description: Select only placements that are associated with these sizes
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      responses:
        200:
          description: OK
      tags:
      - Placement
    patch:
      summary: Update Placement
      description: Updates an existing placement
      operationId: dfareporting.placements.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: id
        description: Placement ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Placement
    post:
      summary: Insert Placement
      description: Inserts a new placement
      operationId: dfareporting.placements.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Placement
    put:
      summary: Update Placement
      description: Updates an existing placement
      operationId: dfareporting.placements.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Placement
  /userprofiles/{profileId}/placements/generatetags:
    post:
      summary: Generate Placement Tag
      description: Generates tags for a placement
      operationId: dfareporting.placements.generatetags
      parameters:
      - in: query
        name: campaignId
        description: Generate placements belonging to this campaign
      - in: query
        name: placementIds
        description: Generate tags for these placements
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: tagFormats
        description: Tag formats to generate for these placements
      responses:
        200:
          description: OK
      tags:
      - Placement
  /userprofiles/{profileId}/placements/{id}:
    get:
      summary: Get Placement
      description: Gets one placement by ID
      operationId: dfareporting.placements.get
      parameters:
      - in: path
        name: id
        description: Placement ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Placement
  /userprofiles/{profileId}/placementStrategies:
    get:
      summary: Get Placement Strategies
      description: Retrieves a list of placement strategies, possibly filtered
      operationId: dfareporting.placementStrategies.list
      parameters:
      - in: query
        name: ids
        description: Select only placement strategies with these IDs
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for objects by name or ID
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      responses:
        200:
          description: OK
      tags:
      - Placement Strategy
    patch:
      summary: Update Placement Strategy
      description: Updates an existing placement strategy
      operationId: dfareporting.placementStrategies.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: id
        description: Placement strategy ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Placement Strategy
    post:
      summary: Insert Placement Strategy
      description: Inserts a new placement strategy
      operationId: dfareporting.placementStrategies.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Placement Strategy
    put:
      summary: Update Placement Strategy
      description: Updates an existing placement strategy
      operationId: dfareporting.placementStrategies.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Placement Strategy
  /userprofiles/{profileId}/placementStrategies/{id}:
    delete:
      summary: Delete Placement Strategy
      description: Deletes an existing placement strategy
      operationId: dfareporting.placementStrategies.delete
      parameters:
      - in: path
        name: id
        description: Placement strategy ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Placement Strategy
    get:
      summary: Get Placement Strategy
      description: Gets one placement strategy by ID
      operationId: dfareporting.placementStrategies.get
      parameters:
      - in: path
        name: id
        description: Placement strategy ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Placement Strategy
  /userprofiles/{profileId}/platformTypes:
    get:
      summary: Get Platform Types
      description: Retrieves a list of platform types
      operationId: dfareporting.platformTypes.list
      parameters:
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Placement Type
  /userprofiles/{profileId}/platformTypes/{id}:
    get:
      summary: Get Platform Type
      description: Gets one platform type by ID
      operationId: dfareporting.platformTypes.get
      parameters:
      - in: path
        name: id
        description: Platform type ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Placement Type
  /userprofiles/{profileId}/postalCodes:
    get:
      summary: Get Postal Codes
      description: Retrieves a list of postal codes
      operationId: dfareporting.postalCodes.list
      parameters:
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Postal Code
  /userprofiles/{profileId}/postalCodes/{code}:
    get:
      summary: Get Postal Code
      description: Gets one postal code by ID
      operationId: dfareporting.postalCodes.get
      parameters:
      - in: path
        name: code
        description: Postal code ID
      - in: path
        name: profileId
        description: User profile ID associated with this request
      responses:
        200:
          description: OK
      tags:
      - Postal Code
  /userprofiles/{profileId}/projects:
    get:
      summary: Get Projects
      description: Retrieves a list of projects, possibly filtered
      operationId: dfareporting.projects.list
      parameters:
      - in: query
        name: advertiserIds
        description: Select only projects with these advertiser IDs
      - in: query
        name: ids
        description: Select only projects with these IDs
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: Value of the nextPageToken from the previous result page
      - in: path
        name: profileId
        description: User profile ID associated with this request
      - in: query
        name: searchString
        description: Allows searching for projects by name or ID
      - in: query
        name: sortField
        description: Field by which to sort the list
      - in: query
        name: sortOrder
        description: Order of sorted results, default is ASCENDING
      responses:
        200:
          description: OK
      tags:
      - Project
  /userprofiles/{profileId}/projects/{id}:
    get:
      summary: Get Project
      description: Gets one project by ID
      operationId: dfareporting.projects.get
      parameters:
      - in: path
        name: id
[...]
