
  {
	"swagger": "2.0",
	"info": {
		"title": "Tasks",
		"description": "Lets you manage your tasks and task lists.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/tasks/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/lists/{tasklist}/clear": {
			"post": {
				"summary": "",
				"description": "Clears all completed tasks from the specified task list",
				"operationId": "tasks.tasks.clear",
				"parameters": [{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/lists/{tasklist}/tasks": {
			"get": {
				"summary": "",
				"description": "Returns all tasks in the specified task list",
				"operationId": "tasks.tasks.list",
				"parameters": [{
					"in": "query",
					"name": "completedMax",
					"description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by"
				},
				{
					"in": "query",
					"name": "completedMin",
					"description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by"
				},
				{
					"in": "query",
					"name": "dueMax",
					"description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by"
				},
				{
					"in": "query",
					"name": "dueMin",
					"description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of task lists returned on one page"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Token specifying the result page to return"
				},
				{
					"in": "query",
					"name": "showCompleted",
					"description": "Flag indicating whether completed tasks are returned in the result"
				},
				{
					"in": "query",
					"name": "showDeleted",
					"description": "Flag indicating whether deleted tasks are returned in the result"
				},
				{
					"in": "query",
					"name": "showHidden",
					"description": "Flag indicating whether hidden tasks are returned in the result"
				},
				{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier"
				},
				{
					"in": "query",
					"name": "updatedMin",
					"description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Creates a new task on the specified task list",
				"operationId": "tasks.tasks.insert",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "query",
					"name": "parent",
					"description": "Parent task identifier"
				},
				{
					"in": "query",
					"name": "previous",
					"description": "Previous sibling task identifier"
				},
				{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/lists/{tasklist}/tasks/{task}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified task from the task list",
				"operationId": "tasks.tasks.delete",
				"parameters": [{
					"in": "path",
					"name": "task",
					"description": "Task identifier"
				},
				{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"get": {
				"summary": "",
				"description": "Returns the specified task",
				"operationId": "tasks.tasks.get",
				"parameters": [{
					"in": "path",
					"name": "task",
					"description": "Task identifier"
				},
				{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"patch": {
				"summary": "",
				"description": "Updates the specified task",
				"operationId": "tasks.tasks.patch",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "task",
					"description": "Task identifier"
				},
				{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"put": {
				"summary": "",
				"description": "Updates the specified task",
				"operationId": "tasks.tasks.update",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "task",
					"description": "Task identifier"
				},
				{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/lists/{tasklist}/tasks/{task}/move": {
			"post": {
				"summary": "",
				"description": "Moves the specified task to another position in the task list",
				"operationId": "tasks.tasks.move",
				"parameters": [{
					"in": "query",
					"name": "parent",
					"description": "New parent task identifier"
				},
				{
					"in": "query",
					"name": "previous",
					"description": "New previous sibling task identifier"
				},
				{
					"in": "path",
					"name": "task",
					"description": "Task identifier"
				},
				{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/users/@me/lists": {
			"get": {
				"summary": "",
				"description": "Returns all the authenticated user's task lists",
				"operationId": "tasks.tasklists.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of task lists returned on one page"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Token specifying the result page to return"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Creates a new task list and adds it to the authenticated user's task lists",
				"operationId": "tasks.tasklists.insert",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/users/@me/lists/{tasklist}": {
			"delete": {
				"summary": "",
				"description": "Deletes the authenticated user's specified task list",
				"operationId": "tasks.tasklists.delete",
				"parameters": [{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"get": {
				"summary": "",
				"description": "Returns the authenticated user's specified task list",
				"operationId": "tasks.tasklists.get",
				"parameters": [{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"patch": {
				"summary": "",
				"description": "Updates the authenticated user's specified task list",
				"operationId": "tasks.tasklists.patch",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"put": {
				"summary": "",
				"description": "Updates the authenticated user's specified task list",
				"operationId": "tasks.tasklists.update",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		}
	},
	"definitions": {
		"Task": {
			"properties": {
				"completed": {
					"description": "This is a default description.",
					"type": "put"
				},
				"deleted": {
					"description": "This is a default description.",
					"type": "put"
				},
				"due": {
					"description": "This is a default description.",
					"type": "put"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "put"
				},
				"hidden": {
					"description": "This is a default description.",
					"type": "put"
				},
				"id": {
					"description": "This is a default description.",
					"type": "put"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "put"
				},
				"links": {
					"description": "This is a default description.",
					"type": "put"
				},
				"notes": {
					"description": "This is a default description.",
					"type": "put"
				},
				"parent": {
					"description": "This is a default description.",
					"type": "put"
				},
				"position": {
					"description": "This is a default description.",
					"type": "put"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "put"
				},
				"status": {
					"description": "This is a default description.",
					"type": "put"
				},
				"title": {
					"description": "This is a default description.",
					"type": "put"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"TaskList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "put"
				},
				"id": {
					"description": "This is a default description.",
					"type": "put"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "put"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "put"
				},
				"title": {
					"description": "This is a default description.",
					"type": "put"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"TaskLists": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "put"
				},
				"items": {
					"description": "This is a default description.",
					"type": "put"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "put"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"Tasks": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "put"
				},
				"items": {
					"description": "This is a default description.",
					"type": "put"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "put"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		}
	}
}