swagger: "2.0"
info:
  title: Compute Engine
  description: Creates and runs virtual machines on Google Cloud Platform.
  contact:
    name: Google
    url: https://google.com
  version: v1
host: www.googleapis.com
basePath: /compute/v1/projects
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /{project}:
    get:
      summary: Get Project
      description: Returns the specified Project resource
      operationId: compute.projects.get
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Project
  /{project}/aggregated/addresses:
    get:
      summary: Get Addresses
      description: Retrieves an aggregated list of addresses
      operationId: compute.addresses.aggregatedList
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Address
  /{project}/aggregated/autoscalers:
    get:
      summary: Get Autoscalers
      description: Retrieves an aggregated list of autoscalers
      operationId: compute.autoscalers.aggregatedList
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Autoscaler
  /{project}/aggregated/backendServices:
    get:
      summary: Get Backend services
      description: Retrieves the list of all BackendService resources, regional and
        global, available to the specified project
      operationId: compute.backendServices.aggregatedList
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Name of the project scoping this request
      responses:
        200:
          description: OK
      tags:
      - Backend Service
  /{project}/aggregated/disks:
    get:
      summary: Get Disks
      description: Retrieves an aggregated list of persistent disks
      operationId: compute.disks.aggregatedList
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Disk
  /{project}/aggregated/diskTypes:
    get:
      summary: Get Disk Type
      description: Retrieves an aggregated list of disk types
      operationId: compute.diskTypes.aggregatedList
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Disk
  /{project}/aggregated/forwardingRules:
    get:
      summary: Get Forwarding Rules
      description: Retrieves an aggregated list of forwarding rules
      operationId: compute.forwardingRules.aggregatedList
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Forwarding Rules
  /{project}/aggregated/instanceGroupManagers:
    get:
      summary: Get Instance Group Managers
      description: Retrieves the list of managed instance groups and groups them by
        zone
      operationId: compute.instanceGroupManagers.aggregatedList
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Instance Group
  /{project}/aggregated/instanceGroups:
    get:
      summary: Get Instance Groups
      description: Retrieves the list of instance groups and sorts them by zone
      operationId: compute.instanceGroups.aggregatedList
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Instance Group
  /{project}/aggregated/instances:
    get:
      summary: Get Instances
      description: Retrieves aggregated list of instances
      operationId: compute.instances.aggregatedList
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Instance
  /{project}/aggregated/machineTypes:
    get:
      summary: Get Machine Types
      description: Retrieves an aggregated list of machine types
      operationId: compute.machineTypes.aggregatedList
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Machine
  /{project}/aggregated/operations:
    get:
      summary: Get Operations
      description: Retrieves an aggregated list of all operations
      operationId: compute.globalOperations.aggregatedList
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Operation
  /{project}/aggregated/routers:
    get:
      summary: Get Routers
      description: Retrieves an aggregated list of routers
      operationId: compute.routers.aggregatedList
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Router
  /{project}/aggregated/subnetworks:
    get:
      summary: Get Subnetworks
      description: Retrieves an aggregated list of subnetworks
      operationId: compute.subnetworks.aggregatedList
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Subnetwork
  /{project}/aggregated/targetInstances:
    get:
      summary: Get Target Instances
      description: Retrieves an aggregated list of target instances
      operationId: compute.targetInstances.aggregatedList
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Target Instance
  /{project}/aggregated/targetPools:
    get:
      summary: Get Target Pools
      description: Retrieves an aggregated list of target pools
      operationId: compute.targetPools.aggregatedList
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Target Pools
  /{project}/aggregated/targetVpnGateways:
    get:
      summary: Get Target VPN Gateways
      description: Retrieves an aggregated list of target VPN gateways
      operationId: compute.targetVpnGateways.aggregatedList
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Target VPN Gateway
  /{project}/aggregated/vpnTunnels:
    get:
      summary: Get VPN Tunnels
      description: Retrieves an aggregated list of VPN tunnels
      operationId: compute.vpnTunnels.aggregatedList
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - VPN Tunnel
  /{project}/global/addresses:
    get:
      summary: Get Global Addreses
      description: Retrieves a list of global addresses
      operationId: compute.globalAddresses.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Address
    post:
      summary: Add Address
      description: Creates an address resource in the specified project using the
        data included in the request
      operationId: compute.globalAddresses.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Address
  /{project}/global/addresses/{address}:
    delete:
      summary: Delete Address
      description: Deletes the specified address resource
      operationId: compute.globalAddresses.delete
      parameters:
      - in: path
        name: address
        description: Name of the address resource to delete
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Address
    get:
      summary: Get Address
      description: Returns the specified address resource
      operationId: compute.globalAddresses.get
      parameters:
      - in: path
        name: address
        description: Name of the address resource to return
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Address
  /{project}/global/backendBuckets:
    get:
      summary: Get Backend Buckets
      description: Retrieves the list of BackendBucket resources available to the
        specified project
      operationId: compute.backendBuckets.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Backend Bucket
    post:
      summary: Create Backend Buckets
      description: Creates a BackendBucket resource in the specified project using
        the data included in the request
      operationId: compute.backendBuckets.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Backend Bucket
  /{project}/global/backendBuckets/{backendBucket}:
    delete:
      summary: Delete Backend Bucket
      description: Deletes the specified BackendBucket resource
      operationId: compute.backendBuckets.delete
      parameters:
      - in: path
        name: backendBucket
        description: Name of the BackendBucket resource to delete
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Backend Bucket
    get:
      summary: Create Backend Bucket
      description: Returns the specified BackendBucket resource
      operationId: compute.backendBuckets.get
      parameters:
      - in: path
        name: backendBucket
        description: Name of the BackendBucket resource to return
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Backend Bucket
    patch:
      summary: Update Backend Bucket
      description: Updates the specified BackendBucket resource with the data included
        in the request
      operationId: compute.backendBuckets.patch
      parameters:
      - in: path
        name: backendBucket
        description: Name of the BackendBucket resource to update
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Backend Bucket
    put:
      summary: Update Backend Bucket
      description: Updates the specified BackendBucket resource with the data included
        in the request
      operationId: compute.backendBuckets.update
      parameters:
      - in: path
        name: backendBucket
        description: Name of the BackendBucket resource to update
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Backend Bucket
  /{project}/global/backendServices:
    get:
      summary: Get Backend Services
      description: Retrieves the list of BackendService resources available to the
        specified project
      operationId: compute.backendServices.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Backend Service
    post:
      summary: Create Backend Service
      description: Creates a BackendService resource in the specified project using
        the data included in the request
      operationId: compute.backendServices.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Backend Service
  /{project}/global/backendServices/{backendService}:
    delete:
      summary: Delete Backend Service
      description: Deletes the specified BackendService resource
      operationId: compute.backendServices.delete
      parameters:
      - in: path
        name: backendService
        description: Name of the BackendService resource to delete
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Backend Service
    get:
      summary: Get Backend Service
      description: Returns the specified BackendService resource
      operationId: compute.backendServices.get
      parameters:
      - in: path
        name: backendService
        description: Name of the BackendService resource to return
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Backend Service
    patch:
      summary: Update Backend Service
      description: Updates the specified BackendService resource with the data included
        in the request
      operationId: compute.backendServices.patch
      parameters:
      - in: path
        name: backendService
        description: Name of the BackendService resource to update
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Backend Service
    put:
      summary: Update Backend Service
      description: Updates the specified BackendService resource with the data included
        in the request
      operationId: compute.backendServices.update
      parameters:
      - in: path
        name: backendService
        description: Name of the BackendService resource to update
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Backend Service
  /{project}/global/backendServices/{backendService}/getHealth:
    post:
      summary: Get Backend Service Health Check
      description: Gets the most recent health check results for this BackendService
      operationId: compute.backendServices.getHealth
      parameters:
      - in: path
        name: backendService
        description: Name of the BackendService resource to which the queried instance
          belongs
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
      responses:
        200:
          description: OK
      tags:
      - Backend Service
  /{project}/global/firewalls:
    get:
      summary: Get Firewalls
      description: Retrieves the list of firewall rules available to the specified
        project
      operationId: compute.firewalls.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Firewall
    post:
      summary: Create Firewall
      description: Creates a firewall rule in the specified project using the data
        included in the request
      operationId: compute.firewalls.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Firewall
  /{project}/global/firewalls/{firewall}:
    delete:
      summary: Delete Firewall
      description: Deletes the specified firewall
      operationId: compute.firewalls.delete
      parameters:
      - in: path
        name: firewall
        description: Name of the firewall rule to delete
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Firewall
    get:
      summary: Get Firewall
      description: Returns the specified firewall
      operationId: compute.firewalls.get
      parameters:
      - in: path
        name: firewall
        description: Name of the firewall rule to return
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Firewall
    patch:
      summary: Update Firewall
      description: Updates the specified firewall rule with the data included in the
        request
      operationId: compute.firewalls.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: firewall
        description: Name of the firewall rule to update
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Firewall
    put:
      summary: Update Firewall
      description: Updates the specified firewall rule with the data included in the
        request
      operationId: compute.firewalls.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: firewall
        description: Name of the firewall rule to update
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Firewall
  /{project}/global/forwardingRules:
    get:
      summary: Get Forwarding Rules
      description: Retrieves a list of ForwardingRule resources available to the specified
        project
      operationId: compute.globalForwardingRules.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Forward Rule
    post:
      summary: Create Forwarding Rule
      description: Creates a ForwardingRule resource in the specified project and
        region using the data included in the request
      operationId: compute.globalForwardingRules.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Forward Rule
  /{project}/global/forwardingRules/{forwardingRule}:
    delete:
      summary: Delete Forwarding Rule
      description: Deletes the specified ForwardingRule resource
      operationId: compute.globalForwardingRules.delete
      parameters:
      - in: path
        name: forwardingRule
        description: Name of the ForwardingRule resource to delete
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Forward Rule
    get:
      summary: Get Forwarding Rule
      description: Returns the specified ForwardingRule resource
      operationId: compute.globalForwardingRules.get
      parameters:
      - in: path
        name: forwardingRule
        description: Name of the ForwardingRule resource to return
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Forward Rule
  /{project}/global/forwardingRules/{forwardingRule}/setTarget:
    post:
      summary: Update Forwarding Rule
      description: Changes target URL for forwarding rule
      operationId: compute.globalForwardingRules.setTarget
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: forwardingRule
        description: Name of the ForwardingRule resource in which target is to be
          set
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Forward Rule
  /{project}/global/healthChecks:
    get:
      summary: Get Health Checks
      description: Retrieves the list of HealthCheck resources available to the specified
        project
      operationId: compute.healthChecks.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
    post:
      summary: Create Health Check
      description: Creates a HealthCheck resource in the specified project using the
        data included in the request
      operationId: compute.healthChecks.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
  /{project}/global/healthChecks/{healthCheck}:
    delete:
      summary: Delete Health Check
      description: Deletes the specified HealthCheck resource
      operationId: compute.healthChecks.delete
      parameters:
      - in: path
        name: healthCheck
        description: Name of the HealthCheck resource to delete
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
    get:
      summary: Get Health Check
      description: Returns the specified HealthCheck resource
      operationId: compute.healthChecks.get
      parameters:
      - in: path
        name: healthCheck
        description: Name of the HealthCheck resource to return
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
    patch:
      summary: Update Health Check
      description: Updates a HealthCheck resource in the specified project using the
        data included in the request
      operationId: compute.healthChecks.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: healthCheck
        description: Name of the HealthCheck resource to update
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
    put:
      summary: Update Health Check
      description: Updates a HealthCheck resource in the specified project using the
        data included in the request
      operationId: compute.healthChecks.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: healthCheck
        description: Name of the HealthCheck resource to update
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
  /{project}/global/httpHealthChecks:
    get:
      summary: Get HTTP Health Checks
      description: Retrieves the list of HttpHealthCheck resources available to the
        specified project
      operationId: compute.httpHealthChecks.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
    post:
      summary: Create HTTP Health Check
      description: Creates a HttpHealthCheck resource in the specified project using
        the data included in the request
      operationId: compute.httpHealthChecks.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
  /{project}/global/httpHealthChecks/{httpHealthCheck}:
    delete:
      summary: Delete HTTP Health Check
      description: Deletes the specified HttpHealthCheck resource
      operationId: compute.httpHealthChecks.delete
      parameters:
      - in: path
        name: httpHealthCheck
        description: Name of the HttpHealthCheck resource to delete
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
    get:
      summary: Create HTTP Health Check
      description: Returns the specified HttpHealthCheck resource
      operationId: compute.httpHealthChecks.get
      parameters:
      - in: path
        name: httpHealthCheck
        description: Name of the HttpHealthCheck resource to return
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
    patch:
      summary: Update HTTP Health Check
      description: Updates a HttpHealthCheck resource in the specified project using
        the data included in the request
      operationId: compute.httpHealthChecks.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: httpHealthCheck
        description: Name of the HttpHealthCheck resource to update
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
    put:
      summary: Update HTTP Health Check
      description: Updates a HttpHealthCheck resource in the specified project using
        the data included in the request
      operationId: compute.httpHealthChecks.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: httpHealthCheck
        description: Name of the HttpHealthCheck resource to update
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
  /{project}/global/httpsHealthChecks:
    get:
      summary: Get HTTPS Health Checks
      description: Retrieves the list of HttpsHealthCheck resources available to the
        specified project
      operationId: compute.httpsHealthChecks.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
    post:
      summary: Create HTTPS Health Check
      description: Creates a HttpsHealthCheck resource in the specified project using
        the data included in the request
      operationId: compute.httpsHealthChecks.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
  /{project}/global/httpsHealthChecks/{httpsHealthCheck}:
    delete:
      summary: Delete HTTPS Health Check
      description: Deletes the specified HttpsHealthCheck resource
      operationId: compute.httpsHealthChecks.delete
      parameters:
      - in: path
        name: httpsHealthCheck
        description: Name of the HttpsHealthCheck resource to delete
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
    get:
      summary: Get HTTPS Health Check
      description: Returns the specified HttpsHealthCheck resource
      operationId: compute.httpsHealthChecks.get
      parameters:
      - in: path
        name: httpsHealthCheck
        description: Name of the HttpsHealthCheck resource to return
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
    patch:
      summary: Update HTTPS Health Check
      description: Updates a HttpsHealthCheck resource in the specified project using
        the data included in the request
      operationId: compute.httpsHealthChecks.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: httpsHealthCheck
        description: Name of the HttpsHealthCheck resource to update
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
    put:
      summary: Update HTTPS Health Check
      description: Updates a HttpsHealthCheck resource in the specified project using
        the data included in the request
      operationId: compute.httpsHealthChecks.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: httpsHealthCheck
        description: Name of the HttpsHealthCheck resource to update
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Health Check
  /{project}/global/images:
    get:
      summary: Get Images
      description: Retrieves the list of private images available to the specified
        project
      operationId: compute.images.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Image
    post:
      summary: Create Image
      description: Creates an image in the specified project using the data included
        in the request
      operationId: compute.images.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Image
  /{project}/global/images/family/{family}:
    get:
      summary: Create Image Family
      description: Returns the latest image that is part of an image family and is
        not deprecated
      operationId: compute.images.getFromFamily
      parameters:
      - in: path
        name: family
        description: Name of the image family to search for
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Image
  /{project}/global/images/{image}:
    delete:
      summary: Delete Image
      description: Deletes the specified image
      operationId: compute.images.delete
      parameters:
      - in: path
        name: image
        description: Name of the image resource to delete
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Image
    get:
      summary: Get Image
      description: Returns the specified image
      operationId: compute.images.get
      parameters:
      - in: path
        name: image
        description: Name of the image resource to return
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Image
  /{project}/global/images/{image}/deprecate:
    post:
      summary: Deprecate Image
      description: Sets the deprecation status of an image
      operationId: compute.images.deprecate
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: image
        description: Image name
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Image
  /{project}/global/instanceTemplates:
    get:
      summary: Get Instance Templates
      description: Retrieves a list of instance templates that are contained within
        the specified project and zone
      operationId: compute.instanceTemplates.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Instance Template
    post:
      summary: Create Instance Template
      description: Creates an instance template in the specified project using the
        data that is included in the request
      operationId: compute.instanceTemplates.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Instance Template
  /{project}/global/instanceTemplates/{instanceTemplate}:
    delete:
      summary: Delete Instance Templates
      description: Deletes the specified instance template
      operationId: compute.instanceTemplates.delete
      parameters:
      - in: path
        name: instanceTemplate
        description: The name of the instance template to delete
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Instance Template
    get:
      summary: Get Instance Template
      description: Returns the specified instance template
      operationId: compute.instanceTemplates.get
      parameters:
      - in: path
        name: instanceTemplate
        description: The name of the instance template
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Instance Template
  /{project}/global/licenses/{license}:
    get:
      summary: Get License
      description: Returns the specified License resource
      operationId: compute.licenses.get
      parameters:
      - in: path
        name: license
        description: Name of the License resource to return
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - License
  /{project}/global/networks:
    get:
      summary: Get Networks
      description: Retrieves the list of networks available to the specified project
      operationId: compute.networks.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Network
    post:
      summary: Create Network
      description: Creates a network in the specified project using the data included
        in the request
      operationId: compute.networks.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Network
  /{project}/global/networks/{network}:
    delete:
      summary: Delete Network
      description: Deletes the specified network
      operationId: compute.networks.delete
      parameters:
      - in: path
        name: network
        description: Name of the network to delete
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Network
    get:
      summary: Get Network
      description: Returns the specified network
      operationId: compute.networks.get
      parameters:
      - in: path
        name: network
        description: Name of the network to return
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Network
  /{project}/global/networks/{network}/switchToCustomMode:
    post:
      summary: Switc hto Network Mode
      description: Switches the network mode from auto subnet mode to custom subnet
        mode
      operationId: compute.networks.switchToCustomMode
      parameters:
      - in: path
        name: network
        description: Name of the network to be updated
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Network
  /{project}/global/operations:
    get:
      summary: Get Operations
      description: Retrieves a list of Operation resources contained within the specified
        project
      operationId: compute.globalOperations.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Operation
  /{project}/global/operations/{operation}:
    delete:
      summary: Delete Operation
      description: Deletes the specified Operations resource
      operationId: compute.globalOperations.delete
      parameters:
      - in: path
        name: operation
        description: Name of the Operations resource to delete
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Operation
    get:
      summary: Get Operation
      description: Retrieves the specified Operations resource
      operationId: compute.globalOperations.get
      parameters:
      - in: path
        name: operation
        description: Name of the Operations resource to return
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Operation
  /{project}/global/routes:
    get:
      summary: Get Routes
      description: Retrieves the list of Route resources available to the specified
        project
      operationId: compute.routes.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Route
    post:
      summary: Create Route
      description: Creates a Route resource in the specified project using the data
        included in the request
      operationId: compute.routes.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Route
  /{project}/global/routes/{route}:
    delete:
      summary: Delete Route
      description: Deletes the specified Route resource
      operationId: compute.routes.delete
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: route
        description: Name of the Route resource to delete
      responses:
        200:
          description: OK
      tags:
      - Route
    get:
      summary: Get Route
      description: Returns the specified Route resource
      operationId: compute.routes.get
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: route
        description: Name of the Route resource to return
      responses:
        200:
          description: OK
      tags:
      - Route
  /{project}/global/snapshots:
    get:
      summary: Get Snapshots
      description: Retrieves the list of Snapshot resources contained within the specified
        project
      operationId: compute.snapshots.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Snapshot
  /{project}/global/snapshots/{snapshot}:
    delete:
      summary: Delete Snapshot
      description: Deletes the specified Snapshot resource
      operationId: compute.snapshots.delete
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: snapshot
        description: Name of the Snapshot resource to delete
      responses:
        200:
          description: OK
      tags:
      - Snapshot
    get:
      summary: Get Snapshot
      description: Returns the specified Snapshot resource
      operationId: compute.snapshots.get
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: snapshot
        description: Name of the Snapshot resource to return
      responses:
        200:
          description: OK
      tags:
      - Snapshot
  /{project}/global/sslCertificates:
    get:
      summary: Get SSL Certificates
      description: Retrieves the list of SslCertificate resources available to the
        specified project
      operationId: compute.sslCertificates.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Certificate
    post:
      summary: Create SSL Certificate
      description: Creates a SslCertificate resource in the specified project using
        the data included in the request
      operationId: compute.sslCertificates.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Certificate
  /{project}/global/sslCertificates/{sslCertificate}:
    delete:
      summary: Delete SSL Certificate
      description: Deletes the specified SslCertificate resource
      operationId: compute.sslCertificates.delete
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: sslCertificate
        description: Name of the SslCertificate resource to delete
      responses:
        200:
          description: OK
      tags:
      - Certificate
    get:
      summary: Get SSL Certificate
      description: Returns the specified SslCertificate resource
      operationId: compute.sslCertificates.get
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: sslCertificate
        description: Name of the SslCertificate resource to return
      responses:
        200:
          description: OK
      tags:
      - Certificate
  /{project}/global/targetHttpProxies:
    get:
      summary: Get Target HTTP Proxies
      description: Retrieves the list of TargetHttpProxy resources available to the
        specified project
      operationId: compute.targetHttpProxies.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Proxy
    post:
      summary: Create Target HTTP Proxy
      description: Creates a TargetHttpProxy resource in the specified project using
        the data included in the request
      operationId: compute.targetHttpProxies.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Proxy
  /{project}/global/targetHttpProxies/{targetHttpProxy}:
    delete:
      summary: Delete Target HTTP Proxy
      description: Deletes the specified TargetHttpProxy resource
      operationId: compute.targetHttpProxies.delete
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: targetHttpProxy
        description: Name of the TargetHttpProxy resource to delete
      responses:
        200:
          description: OK
      tags:
      - Proxy
    get:
      summary: Get Target HTTP Proxy
      description: Returns the specified TargetHttpProxy resource
      operationId: compute.targetHttpProxies.get
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: targetHttpProxy
        description: Name of the TargetHttpProxy resource to return
      responses:
        200:
          description: OK
      tags:
      - Proxy
  /{project}/global/targetHttpsProxies:
    get:
      summary: Get Target HTTPS Proxies
      description: Retrieves the list of TargetHttpsProxy resources available to the
        specified project
      operationId: compute.targetHttpsProxies.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Proxy
    post:
      summary: Create Target HTTPS Proxy
      description: Creates a TargetHttpsProxy resource in the specified project using
        the data included in the request
      operationId: compute.targetHttpsProxies.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Proxy
  /{project}/global/targetHttpsProxies/{targetHttpsProxy}:
    delete:
      summary: Delete Target HTTPS Proxy
      description: Deletes the specified TargetHttpsProxy resource
      operationId: compute.targetHttpsProxies.delete
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: targetHttpsProxy
        description: Name of the TargetHttpsProxy resource to delete
      responses:
        200:
          description: OK
      tags:
      - Proxy
    get:
      summary: Get Target HTTPS Proxy
      description: Returns the specified TargetHttpsProxy resource
      operationId: compute.targetHttpsProxies.get
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: targetHttpsProxy
        description: Name of the TargetHttpsProxy resource to return
      responses:
        200:
          description: OK
      tags:
      - Proxy
  /{project}/global/targetSslProxies:
    get:
      summary: Get Target SSL Proxies
      description: Retrieves the list of TargetSslProxy resources available to the
        specified project
      operationId: compute.targetSslProxies.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Proxy
    post:
      summary: Create Target SSL Proxy
      description: Creates a TargetSslProxy resource in the specified project using
        the data included in the request
      operationId: compute.targetSslProxies.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Proxy
  /{project}/global/targetSslProxies/{targetSslProxy}:
    delete:
      summary: Delete Target SSL Proxy
      description: Deletes the specified TargetSslProxy resource
      operationId: compute.targetSslProxies.delete
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: targetSslProxy
        description: Name of the TargetSslProxy resource to delete
      responses:
        200:
          description: OK
      tags:
      - Proxy
    get:
      summary: Get Target SSL Proxy
      description: Returns the specified TargetSslProxy resource
      operationId: compute.targetSslProxies.get
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: targetSslProxy
        description: Name of the TargetSslProxy resource to return
      responses:
        200:
          description: OK
      tags:
      - Proxy
  /{project}/global/targetSslProxies/{targetSslProxy}/setBackendService:
    post:
      summary: Set Backend Service
      description: Changes the BackendService for TargetSslProxy
      operationId: compute.targetSslProxies.setBackendService
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: targetSslProxy
        description: Name of the TargetSslProxy resource whose BackendService resource
          is to be set
      responses:
        200:
          description: OK
      tags:
      - Backend Service
  /{project}/global/targetSslProxies/{targetSslProxy}/setProxyHeader:
    post:
      summary: Set Proxy header Type
      description: Changes the ProxyHeaderType for TargetSslProxy
      operationId: compute.targetSslProxies.setProxyHeader
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: targetSslProxy
        description: Name of the TargetSslProxy resource whose ProxyHeader is to be
          set
      responses:
        200:
          description: OK
      tags:
      - Proxy
  /{project}/global/targetSslProxies/{targetSslProxy}/setSslCertificates:
    post:
      summary: Change SSL Certificate
      description: Changes SslCertificates for TargetSslProxy
      operationId: compute.targetSslProxies.setSslCertificates
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: targetSslProxy
        description: Name of the TargetSslProxy resource whose SslCertificate resource
          is to be set
      responses:
        200:
          description: OK
      tags:
      - Certificate
  /{project}/global/urlMaps:
    get:
      summary: Get URL Maps
      description: Retrieves the list of UrlMap resources available to the specified
        project
      operationId: compute.urlMaps.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - URL Map
    post:
      summary: Create URL Map
      description: Creates a UrlMap resource in the specified project using the data
        included in the request
      operationId: compute.urlMaps.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - URL Map
  /{project}/global/urlMaps/{urlMap}:
    delete:
      summary: Delete URL Map
      description: Deletes the specified UrlMap resource
      operationId: compute.urlMaps.delete
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: urlMap
        description: Name of the UrlMap resource to delete
      responses:
        200:
          description: OK
      tags:
      - URL Map
    get:
      summary: Get URL Map
      description: Returns the specified UrlMap resource
      operationId: compute.urlMaps.get
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: urlMap
        description: Name of the UrlMap resource to return
      responses:
        200:
          description: OK
      tags:
      - URL Map
    patch:
      summary: Update URL Map
      description: Updates the specified UrlMap resource with the data included in
        the request
      operationId: compute.urlMaps.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: urlMap
        description: Name of the UrlMap resource to update
      responses:
        200:
          description: OK
      tags:
      - URL Map
    put:
      summary: Update URL Map
      description: Updates the specified UrlMap resource with the data included in
        the request
      operationId: compute.urlMaps.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: urlMap
        description: Name of the UrlMap resource to update
      responses:
        200:
          description: OK
      tags:
      - URL Map
  /{project}/global/urlMaps/{urlMap}/invalidateCache:
    post:
      summary: Invalidate Cache
      description: Initiates a cache invalidation operation, invalidating the specified
        path, scoped to the specified UrlMap
      operationId: compute.urlMaps.invalidateCache
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: urlMap
        description: Name of the UrlMap scoping this request
      responses:
        200:
          description: OK
      tags:
      - Cache
  /{project}/global/urlMaps/{urlMap}/validate:
    post:
      summary: Run Static Validation
      description: Runs static validation for the UrlMap
      operationId: compute.urlMaps.validate
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: urlMap
        description: Name of the UrlMap resource to be validated as
      responses:
        200:
          description: OK
      tags:
      - Validation
  /{project}/moveDisk:
    post:
      summary: Move Disk
      description: Moves a persistent disk from one zone to another
      operationId: compute.projects.moveDisk
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Disk
  /{project}/moveInstance:
    post:
      summary: Move Instance
      description: Moves an instance and its attached persistent disks from one zone
        to another
      operationId: compute.projects.moveInstance
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Instance
  /{project}/regions:
    get:
      summary: Get Regions
      description: Retrieves the list of region resources available to the specified
        project
      operationId: compute.regions.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Region
  /{project}/regions/{region}:
    get:
      summary: Get Region
      description: Returns the specified Region resource
      operationId: compute.regions.get
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region resource to return
      responses:
        200:
          description: OK
      tags:
      - Region
  /{project}/regions/{region}/addresses:
    get:
      summary: Get Region Addresses
      description: Retrieves a list of addresses contained within the specified region
      operationId: compute.addresses.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region for this request
      responses:
        200:
          description: OK
      tags:
      - Region Address
    post:
      summary: Create Region Address
      description: Creates an address resource in the specified project using the
        data included in the request
      operationId: compute.addresses.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region for this request
      responses:
        200:
          description: OK
      tags:
      - Region Address
  /{project}/regions/{region}/addresses/{address}:
    delete:
      summary: Delete Region Address
      description: Deletes the specified address resource
      operationId: compute.addresses.delete
      parameters:
      - in: path
        name: address
        description: Name of the address resource to delete
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region for this request
      responses:
        200:
          description: OK
      tags:
      - Region Address
    get:
      summary: Get Region Address
      description: Returns the specified address resource
      operationId: compute.addresses.get
      parameters:
      - in: path
        name: address
        description: Name of the address resource to return
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region for this request
      responses:
        200:
          description: OK
      tags:
      - Region Address
  /{project}/regions/{region}/autoscalers:
    get:
      summary: Get Autoscalers
      description: Retrieves a list of autoscalers contained within the specified
        region
      operationId: compute.regionAutoscalers.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Autoscaler
    patch:
      summary: Update Autoscaler
      description: Updates an autoscaler in the specified project using the data included
        in the request
      operationId: compute.regionAutoscalers.patch
      parameters:
      - in: query
        name: autoscaler
        description: Name of the autoscaler to update
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Autoscaler
    post:
      summary: Create Autoscaler
      description: Creates an autoscaler in the specified project using the data included
        in the request
      operationId: compute.regionAutoscalers.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Autoscaler
    put:
      summary: Update Autoscaler
      description: Updates an autoscaler in the specified project using the data included
        in the request
      operationId: compute.regionAutoscalers.update
      parameters:
      - in: query
        name: autoscaler
        description: Name of the autoscaler to update
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Autoscaler
  /{project}/regions/{region}/autoscalers/{autoscaler}:
    delete:
      summary: Delete Autoscaler
      description: Deletes the specified autoscaler
      operationId: compute.regionAutoscalers.delete
      parameters:
      - in: path
        name: autoscaler
        description: Name of the autoscaler to delete
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Autoscaler
    get:
      summary: Get Autoscaler
      description: Returns the specified autoscaler
      operationId: compute.regionAutoscalers.get
      parameters:
      - in: path
        name: autoscaler
        description: Name of the autoscaler to return
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Autoscaler
  /{project}/regions/{region}/backendServices:
    get:
      summary: Get Backend Services
      description: Retrieves the list of regional BackendService resources available
        to the specified project in the given region
      operationId: compute.regionBackendServices.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Backend Service
    post:
      summary: Create Backend Service
      description: Creates a regional BackendService resource in the specified project
        using the data included in the request
      operationId: compute.regionBackendServices.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Backend Service
  /{project}/regions/{region}/backendServices/{backendService}:
    delete:
      summary: Delete Backend Service
      description: Deletes the specified regional BackendService resource
      operationId: compute.regionBackendServices.delete
      parameters:
      - in: path
        name: backendService
        description: Name of the BackendService resource to delete
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Backend Service
    get:
      summary: Get Backend Service
      description: Returns the specified regional BackendService resource
      operationId: compute.regionBackendServices.get
      parameters:
      - in: path
        name: backendService
        description: Name of the BackendService resource to return
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Backend Service
    patch:
      summary: Update Backend Service
      description: Updates the specified regional BackendService resource with the
        data included in the request
      operationId: compute.regionBackendServices.patch
      parameters:
      - in: path
        name: backendService
        description: Name of the BackendService resource to update
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Backend Service
    put:
      summary: Update Backend Service
      description: Updates the specified regional BackendService resource with the
        data included in the request
      operationId: compute.regionBackendServices.update
      parameters:
      - in: path
        name: backendService
        description: Name of the BackendService resource to update
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Backend Service
  /{project}/regions/{region}/backendServices/{backendService}/getHealth:
    post:
      summary: Get Backend Service Health Check
      description: Gets the most recent health check results for this regional BackendService
      operationId: compute.regionBackendServices.getHealth
      parameters:
      - in: path
        name: backendService
        description: Name of the BackendService resource to which the queried instance
          belongs
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Backend Service
  /{project}/regions/{region}/forwardingRules:
    get:
      summary: Get Forwarding Rules
      description: Retrieves a list of ForwardingRule resources available to the specified
        project and region
      operationId: compute.forwardingRules.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Forward Rule
    post:
      summary: Create Forwarding Rule
      description: Creates a ForwardingRule resource in the specified project and
        region using the data included in the request
      operationId: compute.forwardingRules.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Forward Rule
  /{project}/regions/{region}/forwardingRules/{forwardingRule}:
    delete:
      summary: Delete Forwarding Rule
      description: Deletes the specified ForwardingRule resource
      operationId: compute.forwardingRules.delete
      parameters:
      - in: path
        name: forwardingRule
        description: Name of the ForwardingRule resource to delete
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Forward Rule
    get:
      summary: Get Forwarding Rule
      description: Returns the specified ForwardingRule resource
      operationId: compute.forwardingRules.get
      parameters:
      - in: path
        name: forwardingRule
        description: Name of the ForwardingRule resource to return
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Forward Rule
  /{project}/regions/{region}/forwardingRules/{forwardingRule}/setTarget:
    post:
      summary: Update Forwarding Rule
      description: Changes target URL for forwarding rule
      operationId: compute.forwardingRules.setTarget
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: forwardingRule
        description: Name of the ForwardingRule resource in which target is to be
          set
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Forward Rule
  /{project}/regions/{region}/instanceGroupManagers:
    get:
      summary: Get Instance Group Managers
      description: Retrieves the list of managed instance groups that are contained
        within the specified region
      operationId: compute.regionInstanceGroupManagers.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Instance Group
    post:
      summary: Create Instance Group Manager
      description: Creates a managed instance group using the information that you
        specify in the request
      operationId: compute.regionInstanceGroupManagers.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Instance Group
  /{project}/regions/{region}/instanceGroupManagers/{instanceGroupManager}:
    delete:
      summary: Delete Instance Group Manager
      description: Deletes the specified managed instance group and all of the instances
        in that group
      operationId: compute.regionInstanceGroupManagers.delete
      parameters:
      - in: path
        name: instanceGroupManager
        description: Name of the managed instance group to delete
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Instance Group
    get:
      summary: Get Instance Group Manager
      description: Returns all of the details about the specified managed instance
        group
      operationId: compute.regionInstanceGroupManagers.get
      parameters:
      - in: path
        name: instanceGroupManager
        description: Name of the managed instance group to return
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Instance Group
  /{project}/regions/{region}/instanceGroupManagers/{instanceGroupManager}/abandonInstances:
    post:
      summary: Schedule Remove instance
      description: Schedules a group action to remove the specified instances from
        the managed instance group
      operationId: compute.regionInstanceGroupManagers.abandonInstances
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: instanceGroupManager
        description: Name of the managed instance group
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Instance
  /{project}/regions/{region}/instanceGroupManagers/{instanceGroupManager}/deleteInstances:
    post:
      summary: Schedule Delete instance
      description: Schedules a group action to delete the specified instances in the
        managed instance group
      operationId: compute.regionInstanceGroupManagers.deleteInstances
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: instanceGroupManager
        description: Name of the managed instance group
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Instance
  /{project}/regions/{region}/instanceGroupManagers/{instanceGroupManager}/listManagedInstances:
    post:
      summary: Get instances
      description: Lists the instances in the managed instance group and instances
        that are scheduled to be created
      operationId: compute.regionInstanceGroupManagers.listManagedInstances
      parameters:
      - in: query
        name: filter
      - in: path
        name: instanceGroupManager
        description: The name of the managed instance group
      - in: query
        name: maxResults
      - in: query
        name: order_by
      - in: query
        name: pageToken
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Instance
  /{project}/regions/{region}/instanceGroupManagers/{instanceGroupManager}/recreateInstances:
    post:
      summary: Recreate Instance
      description: Schedules a group action to recreate the specified instances in
        the managed instance group
      operationId: compute.regionInstanceGroupManagers.recreateInstances
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: instanceGroupManager
        description: Name of the managed instance group
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
        200:
          description: OK
      tags:
      - Instance
  /{project}/regions/{region}/instanceGroupManagers/{instanceGroupManager}/resize:
    post:
      summary: Resize Instance
      description: Changes the intended size for the managed instance group
      operationId: compute.regionInstanceGroupManagers.resize
      parameters:
      - in: path
        name: instanceGroupManager
        description: Name of the managed instance group
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      - in: query
        name: size
        description: Number of instances that should exist in this instance group
          manager
      responses:
        200:
          description: OK
      tags:
      - Instance
  /{project}/regions/{region}/instanceGroupManagers/{instanceGroupManager}/setInstanceTemplate:
    post:
      summary: Set Instance Template
      description: Sets the instance template to use when creating new instances or
        recreating instances in this group
      operationId: compute.regionInstanceGroupManagers.setInstanceTemplate
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: instanceGroupManager
        description: The name of the managed instance group
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: region
        description: Name of the region scoping this request
      responses:
[...]
