
  {
	"swagger": "2.0",
	"info": {
		"title": "Google Cloud Deployment Manager",
		"description": "Declares, configures, and deploys complex solutions on Google Cloud Platform.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v2"
	},
	"host": "www.googleapis.com",
	"basePath": "/deploymentmanager/v2/projects",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{project}/global/deployments": {
			"get": {
				"summary": "Get Deployments",
				"description": "Lists all deployments for a given project",
				"operationId": "deploymentmanager.deployments.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Sets a filter expression for filtering listed resources, in the form filter={expression}"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of results per page that should be returned"
				},
				{
					"in": "query",
					"name": "orderBy",
					"description": "Sorts list results by a certain order"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Specifies a page token to use"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Deployment"]
			},
			"post": {
				"summary": "Create Deployment",
				"description": "Creates a deployment and all of the resources described by the deployment manifest",
				"operationId": "deploymentmanager.deployments.insert",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "query",
					"name": "preview",
					"description": "If set to true, creates a deployment and creates "shell" resources but does not actually instantiate these resources"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Deployment"]
			}
		},
		"/{project}/global/deployments/{deployment}": {
			"delete": {
				"summary": "Delete Deployment",
				"description": "Deletes a deployment and all of the resources in the deployment",
				"operationId": "deploymentmanager.deployments.delete",
				"parameters": [{
					"in": "query",
					"name": "deletePolicy",
					"description": "Sets the policy to use for deleting resources"
				},
				{
					"in": "path",
					"name": "deployment",
					"description": "The name of the deployment for this request"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Deployment"]
			},
			"get": {
				"summary": "Get Deployment",
				"description": "Gets information about a specific deployment",
				"operationId": "deploymentmanager.deployments.get",
				"parameters": [{
					"in": "path",
					"name": "deployment",
					"description": "The name of the deployment for this request"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Deployment"]
			},
			"patch": {
				"summary": "update Deployment",
				"description": "Updates a deployment and all of the resources described by the deployment manifest",
				"operationId": "deploymentmanager.deployments.patch",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "query",
					"name": "createPolicy",
					"description": "Sets the policy to use for creating new resources"
				},
				{
					"in": "query",
					"name": "deletePolicy",
					"description": "Sets the policy to use for deleting resources"
				},
				{
					"in": "path",
					"name": "deployment",
					"description": "The name of the deployment for this request"
				},
				{
					"in": "query",
					"name": "preview",
					"description": "If set to true, updates the deployment and creates and updates the "shell" resources but does not actually alter or instantiate these resources"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Deployment"]
			},
			"put": {
				"summary": "update Deployment",
				"description": "Updates a deployment and all of the resources described by the deployment manifest",
				"operationId": "deploymentmanager.deployments.update",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "query",
					"name": "createPolicy",
					"description": "Sets the policy to use for creating new resources"
				},
				{
					"in": "query",
					"name": "deletePolicy",
					"description": "Sets the policy to use for deleting resources"
				},
				{
					"in": "path",
					"name": "deployment",
					"description": "The name of the deployment for this request"
				},
				{
					"in": "query",
					"name": "preview",
					"description": "If set to true, updates the deployment and creates and updates the "shell" resources but does not actually alter or instantiate these resources"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Deployment"]
			}
		},
		"/{project}/global/deployments/{deployment}/cancelPreview": {
			"post": {
				"summary": "Cancel Preview",
				"description": "Cancels and removes the preview currently associated with the deployment",
				"operationId": "deploymentmanager.deployments.cancelPreview",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "deployment",
					"description": "The name of the deployment for this request"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Deployment"]
			}
		},
		"/{project}/global/deployments/{deployment}/manifests": {
			"get": {
				"summary": "List Manifests",
				"description": "Lists all manifests for a given deployment",
				"operationId": "deploymentmanager.manifests.list",
				"parameters": [{
					"in": "path",
					"name": "deployment",
					"description": "The name of the deployment for this request"
				},
				{
					"in": "query",
					"name": "filter",
					"description": "Sets a filter expression for filtering listed resources, in the form filter={expression}"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of results per page that should be returned"
				},
				{
					"in": "query",
					"name": "orderBy",
					"description": "Sorts list results by a certain order"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Specifies a page token to use"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Manifest"]
			}
		},
		"/{project}/global/deployments/{deployment}/manifests/{manifest}": {
			"get": {
				"summary": "Get Manifest",
				"description": "Gets information about a specific manifest",
				"operationId": "deploymentmanager.manifests.get",
				"parameters": [{
					"in": "path",
					"name": "deployment",
					"description": "The name of the deployment for this request"
				},
				{
					"in": "path",
					"name": "manifest",
					"description": "The name of the manifest for this request"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Manifest"]
			}
		},
		"/{project}/global/deployments/{deployment}/resources": {
			"get": {
				"summary": "List Resources",
				"description": "Lists all resources in a given deployment",
				"operationId": "deploymentmanager.resources.list",
				"parameters": [{
					"in": "path",
					"name": "deployment",
					"description": "The name of the deployment for this request"
				},
				{
					"in": "query",
					"name": "filter",
					"description": "Sets a filter expression for filtering listed resources, in the form filter={expression}"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of results per page that should be returned"
				},
				{
					"in": "query",
					"name": "orderBy",
					"description": "Sorts list results by a certain order"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Specifies a page token to use"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Resource"]
			}
		},
		"/{project}/global/deployments/{deployment}/resources/{resource}": {
			"get": {
				"summary": "Get Resource",
				"description": "Gets information about a single resource",
				"operationId": "deploymentmanager.resources.get",
				"parameters": [{
					"in": "path",
					"name": "deployment",
					"description": "The name of the deployment for this request"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request"
				},
				{
					"in": "path",
					"name": "resource",
					"description": "The name of the resource for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Resource"]
			}
		},
		"/{project}/global/deployments/{deployment}/stop": {
			"post": {
				"summary": "Stop Deployment",
				"description": "Stops an ongoing operation",
				"operationId": "deploymentmanager.deployments.stop",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "deployment",
					"description": "The name of the deployment for this request"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Deployment"]
			}
		},
		"/{project}/global/deployments/{resource}/getIamPolicy": {
			"get": {
				"summary": "Get IAM Policy",
				"description": "Gets the access control policy for a resource",
				"operationId": "deploymentmanager.deployments.getIamPolicy",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request"
				},
				{
					"in": "path",
					"name": "resource",
					"description": "Name of the resource for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["IAM"]
			}
		},
		"/{project}/global/deployments/{resource}/setIamPolicy": {
			"post": {
				"summary": "Set IAM Policy",
				"description": "Sets the access control policy on the specified resource",
				"operationId": "deploymentmanager.deployments.setIamPolicy",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request"
				},
				{
					"in": "path",
					"name": "resource",
					"description": "Name of the resource for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["IAM"]
			}
		},
		"/{project}/global/deployments/{resource}/testIamPermissions": {
			"post": {
				"summary": "Test IAM Permission",
				"description": "Returns permissions that a caller has on the specified resource",
				"operationId": "deploymentmanager.deployments.testIamPermissions",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request"
				},
				{
					"in": "path",
					"name": "resource",
					"description": "Name of the resource for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["IAM"]
			}
		},
		"/{project}/global/operations": {
			"get": {
				"summary": "Get Operations",
				"description": "Lists all operations for a project",
				"operationId": "deploymentmanager.operations.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Sets a filter expression for filtering listed resources, in the form filter={expression}"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of results per page that should be returned"
				},
				{
					"in": "query",
					"name": "orderBy",
					"description": "Sorts list results by a certain order"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Specifies a page token to use"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Operation"]
			}
		},
		"/{project}/global/operations/{operation}": {
			"get": {
				"summary": "Get Operation",
				"description": "Gets information about a specific operation",
				"operationId": "deploymentmanager.operations.get",
				"parameters": [{
					"in": "path",
					"name": "operation",
					"description": "The name of the operation for this request"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Operation"]
			}
		},
		"/{project}/global/types": {
			"get": {
				"summary": "Get Types",
				"description": "Lists all resource types for Deployment Manager",
				"operationId": "deploymentmanager.types.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Sets a filter expression for filtering listed resources, in the form filter={expression}"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of results per page that should be returned"
				},
				{
					"in": "query",
					"name": "orderBy",
					"description": "Sorts list results by a certain order"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Specifies a page token to use"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["TYpe"]
			}
		}
	},
	"definitions": {
		"AuditConfig": {
			"properties": {
				"auditLogConfigs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"exemptedMembers": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"service": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AuditLogConfig": {
			"properties": {
				"exemptedMembers": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"logType": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Binding": {
			"properties": {
				"members": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"role": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Condition": {
			"properties": {
				"iam": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"op": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"svc": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sys": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"values": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ConfigFile": {
			"properties": {
				"content": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Deployment": {
			"properties": {
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fingerprint": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"insertTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"labels": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"manifest": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DeploymentLabelEntry": {
			"properties": {
				"key": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DeploymentUpdate": {
			"properties": {
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"labels": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"manifest": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DeploymentUpdateLabelEntry": {
			"properties": {
				"key": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DeploymentsCancelPreviewRequest": {
			"properties": {
				"fingerprint": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DeploymentsListResponse": {
			"properties": {
				"deployments": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DeploymentsStopRequest": {
			"properties": {
				"fingerprint": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ImportFile": {
			"properties": {
				"content": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LogConfig": {
			"properties": []
		},
		"LogConfigCounterOptions": {
			"properties": {
				"field": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"metric": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Manifest": {
			"properties": {
				"expandedConfig": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"imports": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"insertTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"layout": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ManifestsListResponse": {
			"properties": {
				"manifests": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Operation": {
			"properties": {
				"clientOperationId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"creationTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"error": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"httpErrorMessage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"httpErrorStatusCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"insertTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operationType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"progress": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"region": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"statusMessage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"user": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"warnings": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"zone": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"OperationsListResponse": {
			"properties": {
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operations": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Policy": {
			"properties": {
				"auditConfigs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"bindings": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"iamOwned": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rules": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Resource": {
			"properties": {
				"finalProperties": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"insertTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"manifest": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"properties": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updateTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"url": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"warnings": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ResourceAccessControl": {
			"properties": {
				"gcpIamPolicy": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ResourceUpdate": {
			"properties": {
				"error": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"finalProperties": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"intent": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"manifest": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"properties": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"state": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"warnings": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ResourcesListResponse": {
			"properties": {
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Rule": {
			"properties": {
				"action": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"conditions": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ins": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"logConfigs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"notIns": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"permissions": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TargetConfiguration": {
			"properties": {
				"imports": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TestPermissionsRequest": {
			"properties": {
				"permissions": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TestPermissionsResponse": {
			"properties": {
				"permissions": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Type": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"insertTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TypesListResponse": {
			"properties": {
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"types": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}