
  {
	"swagger": "2.0",
	"info": {
		"title": "Google Partners",
		"description": "Searches certified companies and creates contact leads with them, and also audits the usage of clients.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v2"
	},
	"host": "partners.googleapis.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/v2/analytics": {
			"get": {
				"summary": "Get Analytics",
				"description": "Lists analytics data for a user's associated company",
				"operationId": "partners.analytics.list",
				"parameters": [{
					"in": "query",
					"name": "pageSize",
					"description": "Requested page size"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A token identifying a page of results that the server returns"
				},
				{
					"in": "query",
					"name": "requestMetadata.experimentIds",
					"description": "Experiment IDs the current request belongs to"
				},
				{
					"in": "query",
					"name": "requestMetadata.locale",
					"description": "Locale to use for the current request"
				},
				{
					"in": "query",
					"name": "requestMetadata.partnersSessionId",
					"description": "Google Partners session ID"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSourceId",
					"description": "Identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSubId",
					"description": "Second level identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.ipAddress",
					"description": "IP address to use instead of the user's geo-located IP address"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.userId",
					"description": "Logged-in user ID to impersonate instead of the user's ID"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Analytics"]
			}
		},
		"/v2/clientMessages:log": {
			"post": {
				"summary": "Get Generic Message Log",
				"description": "Logs a generic message from the client, such asn`Failed to render component`, `Profile page is running slow`,n`More than 500 users have accessed this result",
				"operationId": "partners.clientMessages.log",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Message"]
			}
		},
		"/v2/companies": {
			"get": {
				"summary": "Get Companies",
				"description": "Lists companies",
				"operationId": "partners.companies.list",
				"parameters": [{
					"in": "query",
					"name": "address",
					"description": "The address to use when searching for companies"
				},
				{
					"in": "query",
					"name": "companyName",
					"description": "Company name to search for"
				},
				{
					"in": "query",
					"name": "gpsMotivations",
					"description": "List of reasons for using Google Partner Search to get companies"
				},
				{
					"in": "query",
					"name": "industries",
					"description": "List of industries the company can help with"
				},
				{
					"in": "query",
					"name": "languageCodes",
					"description": "List of language codes that company can support"
				},
				{
					"in": "query",
					"name": "maxMonthlyBudget.currencyCode",
					"description": "The 3-letter currency code defined in ISO 4217"
				},
				{
					"in": "query",
					"name": "maxMonthlyBudget.nanos",
					"description": "Number of nano (10^-9) units of the amount"
				},
				{
					"in": "query",
					"name": "maxMonthlyBudget.units",
					"description": "The whole units of the amount"
				},
				{
					"in": "query",
					"name": "minMonthlyBudget.currencyCode",
					"description": "The 3-letter currency code defined in ISO 4217"
				},
				{
					"in": "query",
					"name": "minMonthlyBudget.nanos",
					"description": "Number of nano (10^-9) units of the amount"
				},
				{
					"in": "query",
					"name": "minMonthlyBudget.units",
					"description": "The whole units of the amount"
				},
				{
					"in": "query",
					"name": "orderBy",
					"description": "How to order addresses within the returned companies"
				},
				{
					"in": "query",
					"name": "pageSize",
					"description": "Requested page size"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A token identifying a page of results that the server returns"
				},
				{
					"in": "query",
					"name": "requestMetadata.experimentIds",
					"description": "Experiment IDs the current request belongs to"
				},
				{
					"in": "query",
					"name": "requestMetadata.locale",
					"description": "Locale to use for the current request"
				},
				{
					"in": "query",
					"name": "requestMetadata.partnersSessionId",
					"description": "Google Partners session ID"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSourceId",
					"description": "Identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSubId",
					"description": "Second level identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.ipAddress",
					"description": "IP address to use instead of the user's geo-located IP address"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.userId",
					"description": "Logged-in user ID to impersonate instead of the user's ID"
				},
				{
					"in": "query",
					"name": "services",
					"description": "List of services that the returned agencies should provide"
				},
				{
					"in": "query",
					"name": "specializations",
					"description": "List of specializations that the returned agencies should provide"
				},
				{
					"in": "query",
					"name": "view",
					"description": "The view of the `Company` resource to be returned"
				},
				{
					"in": "query",
					"name": "websiteUrl",
					"description": "Website URL that will help to find a better matched company"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Company"]
			},
			"patch": {
				"summary": "Update Company",
				"description": "Update company",
				"operationId": "partners.updateCompanies",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "query",
					"name": "requestMetadata.experimentIds",
					"description": "Experiment IDs the current request belongs to"
				},
				{
					"in": "query",
					"name": "requestMetadata.locale",
					"description": "Locale to use for the current request"
				},
				{
					"in": "query",
					"name": "requestMetadata.partnersSessionId",
					"description": "Google Partners session ID"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSourceId",
					"description": "Identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSubId",
					"description": "Second level identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.ipAddress",
					"description": "IP address to use instead of the user's geo-located IP address"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.userId",
					"description": "Logged-in user ID to impersonate instead of the user's ID"
				},
				{
					"in": "query",
					"name": "updateMask",
					"description": "Standard field mask for the set of fields to be updated"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Company"]
			}
		},
		"/v2/companies/{companyId}": {
			"get": {
				"summary": "Get Company",
				"description": "Gets a company",
				"operationId": "partners.companies.get",
				"parameters": [{
					"in": "query",
					"name": "address",
					"description": "The address to use for sorting the company's addresses by proximity"
				},
				{
					"in": "path",
					"name": "companyId",
					"description": "The ID of the company to retrieve"
				},
				{
					"in": "query",
					"name": "currencyCode",
					"description": "If the company's budget is in a different currency code than this one, thennthe converted budget is converted to this currency code"
				},
				{
					"in": "query",
					"name": "orderBy",
					"description": "How to order addresses within the returned company"
				},
				{
					"in": "query",
					"name": "requestMetadata.experimentIds",
					"description": "Experiment IDs the current request belongs to"
				},
				{
					"in": "query",
					"name": "requestMetadata.locale",
					"description": "Locale to use for the current request"
				},
				{
					"in": "query",
					"name": "requestMetadata.partnersSessionId",
					"description": "Google Partners session ID"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSourceId",
					"description": "Identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSubId",
					"description": "Second level identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.ipAddress",
					"description": "IP address to use instead of the user's geo-located IP address"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.userId",
					"description": "Logged-in user ID to impersonate instead of the user's ID"
				},
				{
					"in": "query",
					"name": "view",
					"description": "The view of `Company` resource to be returned"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Company"]
			}
		},
		"/v2/companies/{companyId}/leads": {
			"post": {
				"summary": "Get Company Leads",
				"description": "Creates an advertiser lead for the given company ID",
				"operationId": "partners.companies.leads.create",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "companyId",
					"description": "The ID of the company to contact"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Lead"]
			}
		},
		"/v2/exams/{examType}/token": {
			"get": {
				"summary": "Get Exam Token",
				"description": "Gets an Exam Token for a Partner's user to take an exam in the Exams System",
				"operationId": "partners.exams.getToken",
				"parameters": [{
					"in": "path",
					"name": "examType",
					"description": "The exam type we are requesting a token for"
				},
				{
					"in": "query",
					"name": "requestMetadata.experimentIds",
					"description": "Experiment IDs the current request belongs to"
				},
				{
					"in": "query",
					"name": "requestMetadata.locale",
					"description": "Locale to use for the current request"
				},
				{
					"in": "query",
					"name": "requestMetadata.partnersSessionId",
					"description": "Google Partners session ID"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSourceId",
					"description": "Identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSubId",
					"description": "Second level identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.ipAddress",
					"description": "IP address to use instead of the user's geo-located IP address"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.userId",
					"description": "Logged-in user ID to impersonate instead of the user's ID"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Token"]
			}
		},
		"/v2/leads": {
			"get": {
				"summary": "Get Leads",
				"description": "Lists advertiser leads for a user's associated company",
				"operationId": "partners.leads.list",
				"parameters": [{
					"in": "query",
					"name": "orderBy",
					"description": "How to order Leads"
				},
				{
					"in": "query",
					"name": "pageSize",
					"description": "Requested page size"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A token identifying a page of results that the server returns"
				},
				{
					"in": "query",
					"name": "requestMetadata.experimentIds",
					"description": "Experiment IDs the current request belongs to"
				},
				{
					"in": "query",
					"name": "requestMetadata.locale",
					"description": "Locale to use for the current request"
				},
				{
					"in": "query",
					"name": "requestMetadata.partnersSessionId",
					"description": "Google Partners session ID"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSourceId",
					"description": "Identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSubId",
					"description": "Second level identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.ipAddress",
					"description": "IP address to use instead of the user's geo-located IP address"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.userId",
					"description": "Logged-in user ID to impersonate instead of the user's ID"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Lead"]
			},
			"patch": {
				"summary": "Update Lead",
				"description": "Updates the specified lead",
				"operationId": "partners.updateLeads",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "query",
					"name": "requestMetadata.experimentIds",
					"description": "Experiment IDs the current request belongs to"
				},
				{
					"in": "query",
					"name": "requestMetadata.locale",
					"description": "Locale to use for the current request"
				},
				{
					"in": "query",
					"name": "requestMetadata.partnersSessionId",
					"description": "Google Partners session ID"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSourceId",
					"description": "Identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSubId",
					"description": "Second level identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.ipAddress",
					"description": "IP address to use instead of the user's geo-located IP address"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.userId",
					"description": "Logged-in user ID to impersonate instead of the user's ID"
				},
				{
					"in": "query",
					"name": "updateMask",
					"description": "Standard field mask for the set of fields to be updated"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Lead"]
			}
		},
		"/v2/offers": {
			"get": {
				"summary": "Get Offers",
				"description": "Lists the Offers available for the current user",
				"operationId": "partners.offers.list",
				"parameters": [{
					"in": "query",
					"name": "requestMetadata.experimentIds",
					"description": "Experiment IDs the current request belongs to"
				},
				{
					"in": "query",
					"name": "requestMetadata.locale",
					"description": "Locale to use for the current request"
				},
				{
					"in": "query",
					"name": "requestMetadata.partnersSessionId",
					"description": "Google Partners session ID"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSourceId",
					"description": "Identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSubId",
					"description": "Second level identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.ipAddress",
					"description": "IP address to use instead of the user's geo-located IP address"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.userId",
					"description": "Logged-in user ID to impersonate instead of the user's ID"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Offer"]
			}
		},
		"/v2/offers/history": {
			"get": {
				"summary": "Get Historical Offers",
				"description": "Lists the Historical Offers for the current user (or user's entire company)",
				"operationId": "partners.offers.history.list",
				"parameters": [{
					"in": "query",
					"name": "entireCompany",
					"description": "if true, show history for the entire company"
				},
				{
					"in": "query",
					"name": "orderBy",
					"description": "Comma-separated list of fields to order by, e"
				},
				{
					"in": "query",
					"name": "pageSize",
					"description": "Maximum number of rows to return per page"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Token to retrieve a specific page"
				},
				{
					"in": "query",
					"name": "requestMetadata.experimentIds",
					"description": "Experiment IDs the current request belongs to"
				},
				{
					"in": "query",
					"name": "requestMetadata.locale",
					"description": "Locale to use for the current request"
				},
				{
					"in": "query",
					"name": "requestMetadata.partnersSessionId",
					"description": "Google Partners session ID"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSourceId",
					"description": "Identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSubId",
					"description": "Second level identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.ipAddress",
					"description": "IP address to use instead of the user's geo-located IP address"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.userId",
					"description": "Logged-in user ID to impersonate instead of the user's ID"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Lead"]
			}
		},
		"/v2/partnersstatus": {
			"get": {
				"summary": "Get Partner Status",
				"description": "Gets Partners Status of the logged in user's agency",
				"operationId": "partners.getPartnersstatus",
				"parameters": [{
					"in": "query",
					"name": "requestMetadata.experimentIds",
					"description": "Experiment IDs the current request belongs to"
				},
				{
					"in": "query",
					"name": "requestMetadata.locale",
					"description": "Locale to use for the current request"
				},
				{
					"in": "query",
					"name": "requestMetadata.partnersSessionId",
					"description": "Google Partners session ID"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSourceId",
					"description": "Identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSubId",
					"description": "Second level identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.ipAddress",
					"description": "IP address to use instead of the user's geo-located IP address"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.userId",
					"description": "Logged-in user ID to impersonate instead of the user's ID"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Status"]
			}
		},
		"/v2/userEvents:log": {
			"post": {
				"summary": "Log User Event",
				"description": "Logs a user event",
				"operationId": "partners.userEvents.log",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Log"]
			}
		},
		"/v2/users/profile": {
			"patch": {
				"summary": "Update User Profile",
				"description": "Updates a user's profile",
				"operationId": "partners.users.updateProfile",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "query",
					"name": "requestMetadata.experimentIds",
					"description": "Experiment IDs the current request belongs to"
				},
				{
					"in": "query",
					"name": "requestMetadata.locale",
					"description": "Locale to use for the current request"
				},
				{
					"in": "query",
					"name": "requestMetadata.partnersSessionId",
					"description": "Google Partners session ID"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSourceId",
					"description": "Identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSubId",
					"description": "Second level identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.ipAddress",
					"description": "IP address to use instead of the user's geo-located IP address"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.userId",
					"description": "Logged-in user ID to impersonate instead of the user's ID"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Profile"]
			}
		},
		"/v2/users/{userId}": {
			"get": {
				"summary": "Get User",
				"description": "Gets a user",
				"operationId": "partners.users.get",
				"parameters": [{
					"in": "query",
					"name": "requestMetadata.experimentIds",
					"description": "Experiment IDs the current request belongs to"
				},
				{
					"in": "query",
					"name": "requestMetadata.locale",
					"description": "Locale to use for the current request"
				},
				{
					"in": "query",
					"name": "requestMetadata.partnersSessionId",
					"description": "Google Partners session ID"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSourceId",
					"description": "Identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSubId",
					"description": "Second level identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.ipAddress",
					"description": "IP address to use instead of the user's geo-located IP address"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.userId",
					"description": "Logged-in user ID to impersonate instead of the user's ID"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "Identifier of the user"
				},
				{
					"in": "query",
					"name": "userView",
					"description": "Specifies what parts of the user information to return"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["User"]
			}
		},
		"/v2/users/{userId}/companyRelation": {
			"delete": {
				"summary": "Delete user Company Relation",
				"description": "Deletes a user's company relation",
				"operationId": "partners.users.deleteCompanyRelation",
				"parameters": [{
					"in": "query",
					"name": "requestMetadata.experimentIds",
					"description": "Experiment IDs the current request belongs to"
				},
				{
					"in": "query",
					"name": "requestMetadata.locale",
					"description": "Locale to use for the current request"
				},
				{
					"in": "query",
					"name": "requestMetadata.partnersSessionId",
					"description": "Google Partners session ID"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSourceId",
					"description": "Identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSubId",
					"description": "Second level identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.ipAddress",
					"description": "IP address to use instead of the user's geo-located IP address"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.userId",
					"description": "Logged-in user ID to impersonate instead of the user's ID"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "The ID of the user"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Relation"]
			},
			"put": {
				"summary": "Create user Company Relation",
				"description": "Creates a user's company relation",
				"operationId": "partners.users.createCompanyRelation",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "query",
					"name": "requestMetadata.experimentIds",
					"description": "Experiment IDs the current request belongs to"
				},
				{
					"in": "query",
					"name": "requestMetadata.locale",
					"description": "Locale to use for the current request"
				},
				{
					"in": "query",
					"name": "requestMetadata.partnersSessionId",
					"description": "Google Partners session ID"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSourceId",
					"description": "Identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSubId",
					"description": "Second level identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.ipAddress",
					"description": "IP address to use instead of the user's geo-located IP address"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.userId",
					"description": "Logged-in user ID to impersonate instead of the user's ID"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "The ID of the user"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Relation"]
			}
		},
		"/v2/userStates": {
			"get": {
				"summary": "Get States For User",
				"description": "Lists states for current user",
				"operationId": "partners.userStates.list",
				"parameters": [{
					"in": "query",
					"name": "requestMetadata.experimentIds",
					"description": "Experiment IDs the current request belongs to"
				},
				{
					"in": "query",
					"name": "requestMetadata.locale",
					"description": "Locale to use for the current request"
				},
				{
					"in": "query",
					"name": "requestMetadata.partnersSessionId",
					"description": "Google Partners session ID"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSourceId",
					"description": "Identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.trafficSource.trafficSubId",
					"description": "Second level identifier to indicate where the traffic comes from"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.ipAddress",
					"description": "IP address to use instead of the user's geo-located IP address"
				},
				{
					"in": "query",
					"name": "requestMetadata.userOverrides.userId",
					"description": "Logged-in user ID to impersonate instead of the user's ID"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["User"]
			}
		}
	},
	"definitions": {
		"AdWordsManagerAccountInfo": {
			"properties": {
				"customerName": {
					"description": "This is a default description.",
					"type": "put"
				},
				"id": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"Analytics": {
			"properties": []
		},
		"AnalyticsDataPoint": {
			"properties": {
				"eventCount": {
					"description": "This is a default description.",
					"type": "put"
				},
				"eventLocations": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"AnalyticsSummary": {
			"properties": {
				"contactsCount": {
					"description": "This is a default description.",
					"type": "put"
				},
				"profileViewsCount": {
					"description": "This is a default description.",
					"type": "put"
				},
				"searchViewsCount": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"AvailableOffer": {
			"properties": {
				"available": {
					"description": "This is a default description.",
					"type": "put"
				},
				"countryOfferInfos": {
					"description": "This is a default description.",
					"type": "put"
				},
				"description": {
					"description": "This is a default description.",
					"type": "put"
				},
				"id": {
					"description": "This is a default description.",
					"type": "put"
				},
				"maxAccountAge": {
					"description": "This is a default description.",
					"type": "put"
				},
				"name": {
					"description": "This is a default description.",
					"type": "put"
				},
				"offerLevel": {
					"description": "This is a default description.",
					"type": "put"
				},
				"offerType": {
					"description": "This is a default description.",
					"type": "put"
				},
				"qualifiedCustomer": {
					"description": "This is a default description.",
					"type": "put"
				},
				"qualifiedCustomersComplete": {
					"description": "This is a default description.",
					"type": "put"
				},
				"showSpecialOfferCopy": {
					"description": "This is a default description.",
					"type": "put"
				},
				"terms": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"Certification": {
			"properties": {
				"achieved": {
					"description": "This is a default description.",
					"type": "put"
				},
				"certificationType": {
					"description": "This is a default description.",
					"type": "put"
				},
				"expiration": {
					"description": "This is a default description.",
					"type": "put"
				},
				"lastAchieved": {
					"description": "This is a default description.",
					"type": "put"
				},
				"warning": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"CertificationExamStatus": {
			"properties": {
				"numberUsersPass": {
					"description": "This is a default description.",
					"type": "put"
				},
				"type": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"CertificationStatus": {
			"properties": {
				"examStatuses": {
					"description": "This is a default description.",
					"type": "put"
				},
				"isCertified": {
					"description": "This is a default description.",
					"type": "put"
				},
				"type": {
					"description": "This is a default description.",
					"type": "put"
				},
				"userCount": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"Company": {
			"properties": {
				"additionalWebsites": {
					"description": "This is a default description.",
					"type": "put"
				},
				"autoApprovalEmailDomains": {
					"description": "This is a default description.",
					"type": "put"
				},
				"badgeTier": {
					"description": "This is a default description.",
					"type": "put"
				},
				"certificationStatuses": {
					"description": "This is a default description.",
					"type": "put"
				},
				"companyTypes": {
					"description": "This is a default description.",
					"type": "put"
				},
				"id": {
					"description": "This is a default description.",
					"type": "put"
				},
				"industries": {
					"description": "This is a default description.",
					"type": "put"
				},
				"localizedInfos": {
					"description": "This is a default description.",
					"type": "put"
				},
				"locations": {
					"description": "This is a default description.",
					"type": "put"
				},
				"name": {
					"description": "This is a default description.",
					"type": "put"
				},
				"primaryAdwordsManagerAccountId": {
					"description": "This is a default description.",
					"type": "put"
				},
				"primaryLanguageCode": {
					"description": "This is a default description.",
					"type": "put"
				},
				"profileStatus": {
					"description": "This is a default description.",
					"type": "put"
				},
				"ranks": {
					"description": "This is a default description.",
					"type": "put"
				},
				"services": {
					"description": "This is a default description.",
					"type": "put"
				},
				"specializationStatus": {
					"description": "This is a default description.",
					"type": "put"
				},
				"websiteUrl": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"CompanyRelation": {
			"properties": {
				"address": {
					"description": "This is a default description.",
					"type": "put"
				},
				"badgeTier": {
					"description": "This is a default description.",
					"type": "put"
				},
				"companyAdmin": {
					"description": "This is a default description.",
					"type": "put"
				},
				"companyId": {
					"description": "This is a default description.",
					"type": "put"
				},
				"creationTime": {
					"description": "This is a default description.",
					"type": "put"
				},
				"isPending": {
					"description": "This is a default description.",
					"type": "put"
				},
				"logoUrl": {
					"description": "This is a default description.",
					"type": "put"
				},
				"managerAccount": {
					"description": "This is a default description.",
					"type": "put"
				},
				"name": {
					"description": "This is a default description.",
					"type": "put"
				},
				"phoneNumber": {
					"description": "This is a default description.",
					"type": "put"
				},
				"resolvedTimestamp": {
					"description": "This is a default description.",
					"type": "put"
				},
				"segment": {
					"description": "This is a default description.",
					"type": "put"
				},
				"specializationStatus": {
					"description": "This is a default description.",
					"type": "put"
				},
				"state": {
					"description": "This is a default description.",
					"type": "put"
				},
				"website": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"CountryOfferInfo": {
			"properties": {
				"getYAmount": {
					"description": "This is a default description.",
					"type": "put"
				},
				"offerCountryCode": {
					"description": "This is a default description.",
					"type": "put"
				},
				"offerType": {
					"description": "This is a default description.",
					"type": "put"
				},
				"spendXAmount": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"CreateLeadRequest": {
			"properties": []
		},
		"CreateLeadResponse": {
			"properties": {
				"recaptchaStatus": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"Date": {
			"properties": {
				"day": {
					"description": "This is a default description.",
					"type": "put"
				},
				"month": {
					"description": "This is a default description.",
					"type": "put"
				},
				"year": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"DebugInfo": {
			"properties": {
				"serverInfo": {
					"description": "This is a default description.",
					"type": "put"
				},
				"serverTraceInfo": {
					"description": "This is a default description.",
					"type": "put"
				},
				"serviceUrl": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"Empty": {
			"properties": []
		},
		"EventData": {
			"properties": {
				"key": {
					"description": "This is a default description.",
					"type": "put"
				},
				"values": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"ExamStatus": {
			"properties": {
				"examType": {
					"description": "This is a default description.",
					"type": "put"
				},
				"expiration": {
					"description": "This is a default description.",
					"type": "put"
				},
				"lastPassed": {
					"description": "This is a default description.",
					"type": "put"
				},
				"passed": {
					"description": "This is a default description.",
					"type": "put"
				},
				"taken": {
					"description": "This is a default description.",
					"type": "put"
				},
				"warning": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"ExamToken": {
			"properties": {
				"examId": {
					"description": "This is a default description.",
					"type": "put"
				},
				"examType": {
					"description": "This is a default description.",
					"type": "put"
				},
				"token": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"GetCompanyResponse": {
			"properties": []
		},
		"GetPartnersStatusResponse": {
			"properties": []
		},
		"HistoricalOffer": {
			"properties": {
				"adwordsUrl": {
					"description": "This is a default description.",
					"type": "put"
				},
				"clientEmail": {
					"description": "This is a default description.",
					"type": "put"
				},
				"clientId": {
					"description": "This is a default description.",
					"type": "put"
				},
				"clientName": {
					"description": "This is a default description.",
					"type": "put"
				},
				"creationTime": {
					"description": "This is a default description.",
					"type": "put"
				},
				"expirationTime": {
					"description": "This is a default description.",
					"type": "put"
				},
				"lastModifiedTime": {
					"description": "This is a default description.",
					"type": "put"
				},
				"offerCode": {
					"description": "This is a default description.",
					"type": "put"
				},
				"offerCountryCode": {
					"description": "This is a default description.",
					"type": "put"
				},
				"offerType": {
					"description": "This is a default description.",
					"type": "put"
				},
				"senderName": {
					"description": "This is a default description.",
					"type": "put"
				},
				"status": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"LatLng": {
			"properties": {
				"latitude": {
					"description": "This is a default description.",
					"type": "put"
				},
				"longitude": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"Lead": {
			"properties": {
				"adwordsCustomerId": {
					"description": "This is a default description.",
					"type": "put"
				},
				"comments": {
					"description": "This is a default description.",
					"type": "put"
				},
				"createTime": {
					"description": "This is a default description.",
					"type": "put"
				},
				"email": {
					"description": "This is a default description.",
					"type": "put"
				},
				"familyName": {
					"description": "This is a default description.",
					"type": "put"
				},
				"givenName": {
					"description": "This is a default description.",
					"type": "put"
				},
				"gpsMotivations": {
					"description": "This is a default description.",
					"type": "put"
				},
				"id": {
					"description": "This is a default description.",
					"type": "put"
				},
				"languageCode": {
					"description": "This is a default description.",
					"type": "put"
				},
				"marketingOptIn": {
					"description": "This is a default description.",
					"type": "put"
				},
				"phoneNumber": {
					"description": "This is a default description.",
					"type": "put"
				},
				"state": {
					"description": "This is a default description.",
					"type": "put"
				},
				"type": {
					"description": "This is a default description.",
					"type": "put"
				},
				"websiteUrl": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"ListAnalyticsResponse": {
			"properties": {
				"analytics": {
					"description": "This is a default description.",
					"type": "put"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"ListCompaniesResponse": {
			"properties": {
				"companies": {
					"description": "This is a default description.",
					"type": "put"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"ListLeadsResponse": {
			"properties": {
				"leads": {
					"description": "This is a default description.",
					"type": "put"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "put"
				},
				"totalSize": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"ListOffersHistoryResponse": {
			"properties": {
				"canShowEntireCompany": {
					"description": "This is a default description.",
					"type": "put"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "put"
				},
				"offers": {
					"description": "This is a default description.",
					"type": "put"
				},
				"showingEntireCompany": {
					"description": "This is a default description.",
					"type": "put"
				},
				"totalResults": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"ListOffersResponse": {
			"properties": {
				"availableOffers": {
					"description": "This is a default description.",
					"type": "put"
				},
				"noOfferReason": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"ListUserStatesResponse": {
			"properties": {
				"userStates": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"LocalizedCompanyInfo": {
			"properties": {
				"countryCodes": {
					"description": "This is a default description.",
					"type": "put"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "put"
				},
				"languageCode": {
					"description": "This is a default description.",
					"type": "put"
				},
				"overview": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"Location": {
			"properties": {
				"address": {
					"description": "This is a default description.",
					"type": "put"
				},
				"addressLine": {
					"description": "This is a default description.",
					"type": "put"
				},
				"administrativeArea": {
					"description": "This is a default description.",
					"type": "put"
				},
				"dependentLocality": {
					"description": "This is a default description.",
					"type": "put"
				},
				"languageCode": {
					"description": "This is a default description.",
					"type": "put"
				},
				"locality": {
					"description": "This is a default description.",
					"type": "put"
				},
				"postalCode": {
					"description": "This is a default description.",
					"type": "put"
				},
				"regionCode": {
					"description": "This is a default description.",
					"type": "put"
				},
				"sortingCode": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"LogMessageRequest": {
			"properties": {
				"clientInfo": {
					"description": "This is a default description.",
					"type": "put"
				},
				"details": {
					"description": "This is a default description.",
					"type": "put"
				},
				"level": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"LogMessageResponse": {
			"properties": []
		},
		"LogUserEventRequest": {
			"properties": {
				"eventAction": {
					"description": "This is a default description.",
					"type": "put"
				},
				"eventCategory": {
					"description": "This is a default description.",
					"type": "put"
				},
				"eventDatas": {
					"description": "This is a default description.",
					"type": "put"
				},
				"eventScope": {
					"description": "This is a default description.",
					"type": "put"
				},
				"url": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"LogUserEventResponse": {
			"properties": []
		},
		"Money": {
			"properties": {
				"currencyCode": {
					"description": "This is a default description.",
					"type": "put"
				},
				"nanos": {
					"description": "This is a default description.",
					"type": "put"
				},
				"units": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"OfferCustomer": {
			"properties": {
				"adwordsUrl": {
					"description": "This is a default description.",
					"type": "put"
				},
				"countryCode": {
					"description": "This is a default description.",
					"type": "put"
				},
				"creationTime": {
					"description": "This is a default description.",
					"type": "put"
				},
				"eligibilityDaysLeft": {
					"description": "This is a default description.",
					"type": "put"
				},
				"externalCid": {
					"description": "This is a default description.",
					"type": "put"
				},
				"getYAmount": {
					"description": "This is a default description.",
					"type": "put"
				},
				"name": {
					"description": "This is a default description.",
					"type": "put"
				},
				"offerType": {
					"description": "This is a default description.",
					"type": "put"
				},
				"spendXAmount": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"OptIns": {
			"properties": {
				"marketComm": {
					"description": "This is a default description.",
					"type": "put"
				},
				"performanceSuggestions": {
					"description": "This is a default description.",
					"type": "put"
				},
				"phoneContact": {
					"description": "This is a default description.",
					"type": "put"
				},
				"physicalMail": {
					"description": "This is a default description.",
					"type": "put"
				},
				"specialOffers": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"PublicProfile": {
			"properties": {
				"displayImageUrl": {
					"description": "This is a default description.",
					"type": "put"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "put"
				},
				"id": {
					"description": "This is a default description.",
					"type": "put"
				},
				"profileImage": {
					"description": "This is a default description.",
					"type": "put"
				},
				"url": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"Rank": {
			"properties": {
				"type": {
					"description": "This is a default description.",
					"type": "put"
				},
				"value": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"RecaptchaChallenge": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "put"
				},
				"response": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"RequestMetadata": {
			"properties": {
				"experimentIds": {
					"description": "This is a default description.",
					"type": "put"
				},
				"locale": {
					"description": "This is a default description.",
					"type": "put"
				},
				"partnersSessionId": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"ResponseMetadata": {
			"properties": []
		},
		"SpecializationStatus": {
			"properties": {
				"badgeSpecialization": {
					"description": "This is a default description.",
					"type": "put"
				},
				"badgeSpecializationState": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"TrafficSource": {
			"properties": {
				"trafficSourceId": {
					"description": "This is a default description.",
					"type": "put"
				},
				"trafficSubId": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"User": {
			"properties": {
				"availableAdwordsManagerAccounts": {
					"description": "This is a default description.",
					"type": "put"
				},
				"certificationStatus": {
					"description": "This is a default description.",
					"type": "put"
				},
				"companyVerificationEmail": {
					"description": "This is a default description.",
					"type": "put"
				},
				"examStatus": {
					"description": "This is a default description.",
					"type": "put"
				},
				"id": {
					"description": "This is a default description.",
					"type": "put"
				},
				"lastAccessTime": {
					"description": "This is a default description.",
					"type": "put"
				},
				"primaryEmails": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"UserOverrides": {
			"properties": {
				"ipAddress": {
					"description": "This is a default description.",
					"type": "put"
				},
				"userId": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		},
		"UserProfile": {
			"properties": {
				"adwordsManagerAccount": {
					"description": "This is a default description.",
					"type": "put"
				},
				"channels": {
					"description": "This is a default description.",
					"type": "put"
				},
				"emailAddress": {
					"description": "This is a default description.",
					"type": "put"
				},
				"familyName": {
					"description": "This is a default description.",
					"type": "put"
				},
				"givenName": {
					"description": "This is a default description.",
					"type": "put"
				},
				"industries": {
					"description": "This is a default description.",
					"type": "put"
				},
				"jobFunctions": {
					"description": "This is a default description.",
					"type": "put"
				},
				"languages": {
					"description": "This is a default description.",
					"type": "put"
				},
				"markets": {
					"description": "This is a default description.",
					"type": "put"
				},
				"phoneNumber": {
					"description": "This is a default description.",
					"type": "put"
				},
				"primaryCountryCode": {
					"description": "This is a default description.",
					"type": "put"
				},
				"profilePublic": {
					"description": "This is a default description.",
					"type": "put"
				}
			}
		}
	}
}