
  {
	"swagger": "2.0",
	"info": {
		"title": "Google Cloud Dataproc",
		"description": "Manages Hadoop-based clusters and jobs on Google Cloud Platform.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "dataproc.googleapis.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/v1/projects/{projectId}/regions/{region}/clusters": {
			"get": {
				"summary": "Get Region Clusters",
				"description": "Lists all regions/{region}/clusters in a project",
				"operationId": "dataproc.projects.regions.clusters.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Optional A filter constraining the clusters to list"
				},
				{
					"in": "query",
					"name": "pageSize",
					"description": "Optional The standard List page size"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Optional The standard List page token"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Required The ID of the Google Cloud Platform project that the cluster belongs to"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Required The Cloud Dataproc region in which to handle the request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Cluster"]
			},
			"post": {
				"summary": "Create Cluster",
				"description": "Creates a cluster in a project",
				"operationId": "dataproc.projects.regions.clusters.create",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Required The ID of the Google Cloud Platform project that the cluster belongs to"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Required The Cloud Dataproc region in which to handle the request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Cluster"]
			}
		},
		"/v1/projects/{projectId}/regions/{region}/clusters/{clusterName}": {
			"delete": {
				"summary": "Delete Cluster",
				"description": "Deletes a cluster in a project",
				"operationId": "dataproc.projects.regions.clusters.delete",
				"parameters": [{
					"in": "path",
					"name": "clusterName",
					"description": "Required The cluster name"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Required The ID of the Google Cloud Platform project that the cluster belongs to"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Required The Cloud Dataproc region in which to handle the request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Cluster"]
			},
			"get": {
				"summary": "Get Cluster",
				"description": "Gets the resource representation for a cluster in a project",
				"operationId": "dataproc.projects.regions.clusters.get",
				"parameters": [{
					"in": "path",
					"name": "clusterName",
					"description": "Required The cluster name"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Required The ID of the Google Cloud Platform project that the cluster belongs to"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Required The Cloud Dataproc region in which to handle the request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Cluster"]
			},
			"patch": {
				"summary": "Update Cluster",
				"description": "Updates a cluster in a project",
				"operationId": "dataproc.projects.regions.clusters.patch",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "clusterName",
					"description": "Required The cluster name"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Required The ID of the Google Cloud Platform project the cluster belongs to"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Required The Cloud Dataproc region in which to handle the request"
				},
				{
					"in": "query",
					"name": "updateMask",
					"description": "Required Specifies the path, relative to <code>Cluster</code>, of the field to update"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Cluster"]
			}
		},
		"/v1/projects/{projectId}/regions/{region}/clusters/{clusterName}:diagnose": {
			"post": {
				"summary": "Get Cluster Diagnostic",
				"description": "Gets cluster diagnostic information",
				"operationId": "dataproc.projects.regions.clusters.diagnose",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "clusterName",
					"description": "Required The cluster name"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Required The ID of the Google Cloud Platform project that the cluster belongs to"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Required The Cloud Dataproc region in which to handle the request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Cluster"]
			}
		},
		"/v1/projects/{projectId}/regions/{region}/jobs": {
			"get": {
				"summary": "Get Region Jobs",
				"description": "Lists regions/{region}/jobs in a project",
				"operationId": "dataproc.projects.regions.jobs.list",
				"parameters": [{
					"in": "query",
					"name": "clusterName",
					"description": "Optional If set, the returned jobs list includes only jobs that were submitted to the named cluster"
				},
				{
					"in": "query",
					"name": "filter",
					"description": "Optional A filter constraining the jobs to list"
				},
				{
					"in": "query",
					"name": "jobStateMatcher",
					"description": "Optional Specifies enumerated categories of jobs to list (default = match ALL jobs)"
				},
				{
					"in": "query",
					"name": "pageSize",
					"description": "Optional The number of results to return in each response"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Optional The page token, returned by a previous call, to request the next page of results"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Required The ID of the Google Cloud Platform project that the job belongs to"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Required The Cloud Dataproc region in which to handle the request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Job"]
			}
		},
		"/v1/projects/{projectId}/regions/{region}/jobs/{jobId}": {
			"delete": {
				"summary": "Delete Job",
				"description": "Deletes the job from the project",
				"operationId": "dataproc.projects.regions.jobs.delete",
				"parameters": [{
					"in": "path",
					"name": "jobId",
					"description": "Required The job ID"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Required The ID of the Google Cloud Platform project that the job belongs to"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Required The Cloud Dataproc region in which to handle the request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Job"]
			},
			"get": {
				"summary": "Get Job",
				"description": "Gets the resource representation for a job in a project",
				"operationId": "dataproc.projects.regions.jobs.get",
				"parameters": [{
					"in": "path",
					"name": "jobId",
					"description": "Required The job ID"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Required The ID of the Google Cloud Platform project that the job belongs to"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Required The Cloud Dataproc region in which to handle the request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Job"]
			},
			"patch": {
				"summary": "Update Job",
				"description": "Updates a job in a project",
				"operationId": "dataproc.projects.regions.jobs.patch",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "jobId",
					"description": "Required The job ID"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Required The ID of the Google Cloud Platform project that the job belongs to"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Required The Cloud Dataproc region in which to handle the request"
				},
				{
					"in": "query",
					"name": "updateMask",
					"description": "Required Specifies the path, relative to <code>Job</code>, of the field to update"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Job"]
			}
		},
		"/v1/projects/{projectId}/regions/{region}/jobs/{jobId}:cancel": {
			"post": {
				"summary": "Cancel Job",
				"description": "Starts a job cancellation request",
				"operationId": "dataproc.projects.regions.jobs.cancel",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "jobId",
					"description": "Required The job ID"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Required The ID of the Google Cloud Platform project that the job belongs to"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Required The Cloud Dataproc region in which to handle the request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Job"]
			}
		},
		"/v1/projects/{projectId}/regions/{region}/jobs:submit": {
			"post": {
				"summary": "Submit Job",
				"description": "Submits a job to a cluster",
				"operationId": "dataproc.projects.regions.jobs.submit",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Required The ID of the Google Cloud Platform project that the job belongs to"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Required The Cloud Dataproc region in which to handle the request"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Job"]
			}
		},
		"/v1/{name}": {
			"delete": {
				"summary": "Delete Operation",
				"description": "Deletes a long-running operation",
				"operationId": "dataproc.projects.regions.operations.delete",
				"parameters": [{
					"in": "path",
					"name": "name",
					"description": "The name of the operation resource to be deleted"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Operation"]
			},
			"get": {
				"summary": "Get Operation State",
				"description": "Gets the latest state of a long-running operation",
				"operationId": "dataproc.projects.regions.operations.get",
				"parameters": [{
					"in": "path",
					"name": "name",
					"description": "The name of the operation resource"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Operation"]
			}
		},
		"/v1/{name}:cancel": {
			"post": {
				"summary": "Start Cancellation",
				"description": "Starts asynchronous cancellation on a long-running operation",
				"operationId": "dataproc.projects.regions.operations.cancel",
				"parameters": [{
					"in": "path",
					"name": "name",
					"description": "The name of the operation resource to be cancelled"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Operation"]
			}
		}
	},
	"definitions": {
		"AcceleratorConfig": {
			"properties": {
				"acceleratorCount": {
					"description": "This is a default description.",
					"type": "post"
				},
				"acceleratorTypeUri": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"CancelJobRequest": {
			"properties": []
		},
		"Cluster": {
			"properties": {
				"clusterName": {
					"description": "This is a default description.",
					"type": "post"
				},
				"clusterUuid": {
					"description": "This is a default description.",
					"type": "post"
				},
				"labels": {
					"description": "This is a default description.",
					"type": "post"
				},
				"projectId": {
					"description": "This is a default description.",
					"type": "post"
				},
				"statusHistory": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"ClusterConfig": {
			"properties": {
				"configBucket": {
					"description": "This is a default description.",
					"type": "post"
				},
				"initializationActions": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"ClusterMetrics": {
			"properties": {
				"hdfsMetrics": {
					"description": "This is a default description.",
					"type": "post"
				},
				"yarnMetrics": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"ClusterOperationMetadata": {
			"properties": {
				"clusterName": {
					"description": "This is a default description.",
					"type": "post"
				},
				"clusterUuid": {
					"description": "This is a default description.",
					"type": "post"
				},
				"description": {
					"description": "This is a default description.",
					"type": "post"
				},
				"labels": {
					"description": "This is a default description.",
					"type": "post"
				},
				"operationType": {
					"description": "This is a default description.",
					"type": "post"
				},
				"statusHistory": {
					"description": "This is a default description.",
					"type": "post"
				},
				"warnings": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"ClusterOperationStatus": {
			"properties": {
				"details": {
					"description": "This is a default description.",
					"type": "post"
				},
				"innerState": {
					"description": "This is a default description.",
					"type": "post"
				},
				"state": {
					"description": "This is a default description.",
					"type": "post"
				},
				"stateStartTime": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"ClusterStatus": {
			"properties": {
				"detail": {
					"description": "This is a default description.",
					"type": "post"
				},
				"state": {
					"description": "This is a default description.",
					"type": "post"
				},
				"stateStartTime": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"DiagnoseClusterOutputLocation": {
			"properties": {
				"outputUri": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"DiagnoseClusterRequest": {
			"properties": []
		},
		"DiagnoseClusterResults": {
			"properties": {
				"outputUri": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"DiskConfig": {
			"properties": {
				"bootDiskSizeGb": {
					"description": "This is a default description.",
					"type": "post"
				},
				"numLocalSsds": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"Empty": {
			"properties": []
		},
		"GceClusterConfig": {
			"properties": {
				"internalIpOnly": {
					"description": "This is a default description.",
					"type": "post"
				},
				"metadata": {
					"description": "This is a default description.",
					"type": "post"
				},
				"networkUri": {
					"description": "This is a default description.",
					"type": "post"
				},
				"serviceAccount": {
					"description": "This is a default description.",
					"type": "post"
				},
				"serviceAccountScopes": {
					"description": "This is a default description.",
					"type": "post"
				},
				"subnetworkUri": {
					"description": "This is a default description.",
					"type": "post"
				},
				"tags": {
					"description": "This is a default description.",
					"type": "post"
				},
				"zoneUri": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"HadoopJob": {
			"properties": {
				"archiveUris": {
					"description": "This is a default description.",
					"type": "post"
				},
				"args": {
					"description": "This is a default description.",
					"type": "post"
				},
				"fileUris": {
					"description": "This is a default description.",
					"type": "post"
				},
				"jarFileUris": {
					"description": "This is a default description.",
					"type": "post"
				},
				"mainClass": {
					"description": "This is a default description.",
					"type": "post"
				},
				"mainJarFileUri": {
					"description": "This is a default description.",
					"type": "post"
				},
				"properties": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"HiveJob": {
			"properties": {
				"continueOnFailure": {
					"description": "This is a default description.",
					"type": "post"
				},
				"jarFileUris": {
					"description": "This is a default description.",
					"type": "post"
				},
				"properties": {
					"description": "This is a default description.",
					"type": "post"
				},
				"queryFileUri": {
					"description": "This is a default description.",
					"type": "post"
				},
				"scriptVariables": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"InstanceGroupConfig": {
			"properties": {
				"accelerators": {
					"description": "This is a default description.",
					"type": "post"
				},
				"imageUri": {
					"description": "This is a default description.",
					"type": "post"
				},
				"instanceNames": {
					"description": "This is a default description.",
					"type": "post"
				},
				"isPreemptible": {
					"description": "This is a default description.",
					"type": "post"
				},
				"machineTypeUri": {
					"description": "This is a default description.",
					"type": "post"
				},
				"numInstances": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"Job": {
			"properties": {
				"driverControlFilesUri": {
					"description": "This is a default description.",
					"type": "post"
				},
				"driverOutputResourceUri": {
					"description": "This is a default description.",
					"type": "post"
				},
				"labels": {
					"description": "This is a default description.",
					"type": "post"
				},
				"statusHistory": {
					"description": "This is a default description.",
					"type": "post"
				},
				"yarnApplications": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"JobPlacement": {
			"properties": {
				"clusterName": {
					"description": "This is a default description.",
					"type": "post"
				},
				"clusterUuid": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"JobReference": {
			"properties": {
				"jobId": {
					"description": "This is a default description.",
					"type": "post"
				},
				"projectId": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"JobScheduling": {
			"properties": {
				"maxFailuresPerHour": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"JobStatus": {
			"properties": {
				"details": {
					"description": "This is a default description.",
					"type": "post"
				},
				"state": {
					"description": "This is a default description.",
					"type": "post"
				},
				"stateStartTime": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"ListClustersResponse": {
			"properties": {
				"clusters": {
					"description": "This is a default description.",
					"type": "post"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"ListJobsResponse": {
			"properties": {
				"jobs": {
					"description": "This is a default description.",
					"type": "post"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"ListOperationsResponse": {
			"properties": {
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "post"
				},
				"operations": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"LoggingConfig": {
			"properties": {
				"driverLogLevels": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"ManagedGroupConfig": {
			"properties": {
				"instanceGroupManagerName": {
					"description": "This is a default description.",
					"type": "post"
				},
				"instanceTemplateName": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"NodeInitializationAction": {
			"properties": {
				"executableFile": {
					"description": "This is a default description.",
					"type": "post"
				},
				"executionTimeout": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"Operation": {
			"properties": {
				"done": {
					"description": "This is a default description.",
					"type": "post"
				},
				"metadata": {
					"description": "This is a default description.",
					"type": "post"
				},
				"name": {
					"description": "This is a default description.",
					"type": "post"
				},
				"response": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"OperationMetadata": {
			"properties": {
				"clusterName": {
					"description": "This is a default description.",
					"type": "post"
				},
				"clusterUuid": {
					"description": "This is a default description.",
					"type": "post"
				},
				"description": {
					"description": "This is a default description.",
					"type": "post"
				},
				"details": {
					"description": "This is a default description.",
					"type": "post"
				},
				"endTime": {
					"description": "This is a default description.",
					"type": "post"
				},
				"innerState": {
					"description": "This is a default description.",
					"type": "post"
				},
				"insertTime": {
					"description": "This is a default description.",
					"type": "post"
				},
				"operationType": {
					"description": "This is a default description.",
					"type": "post"
				},
				"startTime": {
					"description": "This is a default description.",
					"type": "post"
				},
				"state": {
					"description": "This is a default description.",
					"type": "post"
				},
				"statusHistory": {
					"description": "This is a default description.",
					"type": "post"
				},
				"warnings": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"OperationStatus": {
			"properties": {
				"details": {
					"description": "This is a default description.",
					"type": "post"
				},
				"innerState": {
					"description": "This is a default description.",
					"type": "post"
				},
				"state": {
					"description": "This is a default description.",
					"type": "post"
				},
				"stateStartTime": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"PigJob": {
			"properties": {
				"continueOnFailure": {
					"description": "This is a default description.",
					"type": "post"
				},
				"jarFileUris": {
					"description": "This is a default description.",
					"type": "post"
				},
				"properties": {
					"description": "This is a default description.",
					"type": "post"
				},
				"queryFileUri": {
					"description": "This is a default description.",
					"type": "post"
				},
				"scriptVariables": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"PySparkJob": {
			"properties": {
				"archiveUris": {
					"description": "This is a default description.",
					"type": "post"
				},
				"args": {
					"description": "This is a default description.",
					"type": "post"
				},
				"fileUris": {
					"description": "This is a default description.",
					"type": "post"
				},
				"jarFileUris": {
					"description": "This is a default description.",
					"type": "post"
				},
				"mainPythonFileUri": {
					"description": "This is a default description.",
					"type": "post"
				},
				"properties": {
					"description": "This is a default description.",
					"type": "post"
				},
				"pythonFileUris": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"QueryList": {
			"properties": {
				"queries": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"SoftwareConfig": {
			"properties": {
				"imageVersion": {
					"description": "This is a default description.",
					"type": "post"
				},
				"properties": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"SparkJob": {
			"properties": {
				"archiveUris": {
					"description": "This is a default description.",
					"type": "post"
				},
				"args": {
					"description": "This is a default description.",
					"type": "post"
				},
				"fileUris": {
					"description": "This is a default description.",
					"type": "post"
				},
				"jarFileUris": {
					"description": "This is a default description.",
					"type": "post"
				},
				"mainClass": {
					"description": "This is a default description.",
					"type": "post"
				},
				"mainJarFileUri": {
					"description": "This is a default description.",
					"type": "post"
				},
				"properties": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"SparkSqlJob": {
			"properties": {
				"jarFileUris": {
					"description": "This is a default description.",
					"type": "post"
				},
				"properties": {
					"description": "This is a default description.",
					"type": "post"
				},
				"queryFileUri": {
					"description": "This is a default description.",
					"type": "post"
				},
				"scriptVariables": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"Status": {
			"properties": {
				"code": {
					"description": "This is a default description.",
					"type": "post"
				},
				"details": {
					"description": "This is a default description.",
					"type": "post"
				},
				"message": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"SubmitJobRequest": {
			"properties": []
		},
		"YarnApplication": {
			"properties": {
				"name": {
					"description": "This is a default description.",
					"type": "post"
				},
				"progress": {
					"description": "This is a default description.",
					"type": "post"
				},
				"state": {
					"description": "This is a default description.",
					"type": "post"
				},
				"trackingUrl": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		}
	}
}