swagger: "2.0"
info:
  title: QPX Express
  description: Finds the least expensive flights between an origin and a destination.
  contact:
    name: Google
    url: https://google.com
  version: v1
host: www.googleapis.com
basePath: /qpxExpress/v1/trips
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /search:
    post:
      summary: Search Flights
      description: Returns a list of flights
      operationId: qpxExpress.trips.search
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      responses:
        200:
          description: OK
      tags:
      - Flights
definitions:
  AircraftData:
    properties:
      code:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      name:
        description: This is a default description.
        type: post
  AirportData:
    properties:
      city:
        description: This is a default description.
        type: post
      code:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      name:
        description: This is a default description.
        type: post
  BagDescriptor:
    properties:
      commercialName:
        description: This is a default description.
        type: post
      count:
        description: This is a default description.
        type: post
      description:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      subcode:
        description: This is a default description.
        type: post
  CarrierData:
    properties:
      code:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      name:
        description: This is a default description.
        type: post
  CityData:
    properties:
      code:
        description: This is a default description.
        type: post
      country:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      name:
        description: This is a default description.
        type: post
  Data:
    properties:
      aircraft:
        description: This is a default description.
        type: post
      airport:
        description: This is a default description.
        type: post
      carrier:
        description: This is a default description.
        type: post
      city:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      tax:
        description: This is a default description.
        type: post
  FareInfo:
    properties:
      basisCode:
        description: This is a default description.
        type: post
      carrier:
        description: This is a default description.
        type: post
      destination:
        description: This is a default description.
        type: post
      id:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      origin:
        description: This is a default description.
        type: post
      private:
        description: This is a default description.
        type: post
  FlightInfo:
    properties:
      carrier:
        description: This is a default description.
        type: post
      number:
        description: This is a default description.
        type: post
  FreeBaggageAllowance:
    properties:
      bagDescriptor:
        description: This is a default description.
        type: post
      kilos:
        description: This is a default description.
        type: post
      kilosPerPiece:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      pieces:
        description: This is a default description.
        type: post
      pounds:
        description: This is a default description.
        type: post
  LegInfo:
    properties:
      aircraft:
        description: This is a default description.
        type: post
      arrivalTime:
        description: This is a default description.
        type: post
      changePlane:
        description: This is a default description.
        type: post
      connectionDuration:
        description: This is a default description.
        type: post
      departureTime:
        description: This is a default description.
        type: post
      destination:
        description: This is a default description.
        type: post
      destinationTerminal:
        description: This is a default description.
        type: post
      duration:
        description: This is a default description.
        type: post
      id:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      meal:
        description: This is a default description.
        type: post
      mileage:
        description: This is a default description.
        type: post
      onTimePerformance:
        description: This is a default description.
        type: post
      operatingDisclosure:
        description: This is a default description.
        type: post
      origin:
        description: This is a default description.
        type: post
      originTerminal:
        description: This is a default description.
        type: post
      secure:
        description: This is a default description.
        type: post
  PassengerCounts:
    properties:
      adultCount:
        description: This is a default description.
        type: post
      childCount:
        description: This is a default description.
        type: post
      infantInLapCount:
        description: This is a default description.
        type: post
      infantInSeatCount:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      seniorCount:
        description: This is a default description.
        type: post
  PricingInfo:
    properties:
      baseFareTotal:
        description: This is a default description.
        type: post
      fare:
        description: This is a default description.
        type: post
      fareCalculation:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      latestTicketingTime:
        description: This is a default description.
        type: post
      ptc:
        description: This is a default description.
        type: post
      refundable:
        description: This is a default description.
        type: post
      saleFareTotal:
        description: This is a default description.
        type: post
      saleTaxTotal:
        description: This is a default description.
        type: post
      saleTotal:
        description: This is a default description.
        type: post
      segmentPricing:
        description: This is a default description.
        type: post
      tax:
        description: This is a default description.
        type: post
  SegmentInfo:
    properties:
      bookingCode:
        description: This is a default description.
        type: post
      bookingCodeCount:
        description: This is a default description.
        type: post
      cabin:
        description: This is a default description.
        type: post
      connectionDuration:
        description: This is a default description.
        type: post
      duration:
        description: This is a default description.
        type: post
      id:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      leg:
        description: This is a default description.
        type: post
      marriedSegmentGroup:
        description: This is a default description.
        type: post
      subjectToGovernmentApproval:
        description: This is a default description.
        type: post
  SegmentPricing:
    properties:
      fareId:
        description: This is a default description.
        type: post
      freeBaggageOption:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      segmentId:
        description: This is a default description.
        type: post
  SliceInfo:
    properties:
      duration:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      segment:
        description: This is a default description.
        type: post
  SliceInput:
    properties:
      alliance:
        description: This is a default description.
        type: post
      date:
        description: This is a default description.
        type: post
      destination:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      maxConnectionDuration:
        description: This is a default description.
        type: post
      maxStops:
        description: This is a default description.
        type: post
      origin:
        description: This is a default description.
        type: post
      permittedCarrier:
        description: This is a default description.
        type: post
      preferredCabin:
        description: This is a default description.
        type: post
      prohibitedCarrier:
        description: This is a default description.
        type: post
  TaxData:
    properties:
      id:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      name:
        description: This is a default description.
        type: post
  TaxInfo:
    properties:
      chargeType:
        description: This is a default description.
        type: post
      code:
        description: This is a default description.
        type: post
      country:
        description: This is a default description.
        type: post
      id:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      salePrice:
        description: This is a default description.
        type: post
  TimeOfDayRange:
    properties:
      earliestTime:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      latestTime:
        description: This is a default description.
        type: post
  TripOption:
    properties:
      id:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      pricing:
        description: This is a default description.
        type: post
      saleTotal:
        description: This is a default description.
        type: post
      slice:
        description: This is a default description.
        type: post
  TripOptionsRequest:
    properties:
      maxPrice:
        description: This is a default description.
        type: post
      refundable:
        description: This is a default description.
        type: post
      saleCountry:
        description: This is a default description.
        type: post
      slice:
        description: This is a default description.
        type: post
      solutions:
        description: This is a default description.
        type: post
      ticketingCountry:
        description: This is a default description.
        type: post
  TripOptionsResponse:
    properties:
      kind:
        description: This is a default description.
        type: post
      requestId:
        description: This is a default description.
        type: post
      tripOption:
        description: This is a default description.
        type: post
  TripsSearchRequest:
    properties: []
  TripsSearchResponse:
    properties:
      kind:
        description: This is a default description.
        type: post