
  {
	"swagger": "2.0",
	"info": {
		"title": "Google+ Domains",
		"description": "Builds on top of the Google+ platform for Google Apps Domains.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/plusDomains/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/activities/{activityId}": {
			"get": {
				"summary": "Get Activity",
				"description": "Get an activity",
				"operationId": "plusDomains.activities.get",
				"parameters": [{
					"in": "path",
					"name": "activityId",
					"description": "The ID of the activity to get"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Activity"]
			}
		},
		"/activities/{activityId}/comments": {
			"get": {
				"summary": "Get Activity Commenets",
				"description": "List all of the comments for an activity",
				"operationId": "plusDomains.comments.list",
				"parameters": [{
					"in": "path",
					"name": "activityId",
					"description": "The ID of the activity to get comments for"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of comments to include in the response, which is used for paging"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "The order in which to sort the list of comments"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Activity"]
			},
			"post": {
				"summary": "Create Activity Comment",
				"description": "Create a new comment in reply to an activity",
				"operationId": "plusDomains.comments.insert",
				"parameters": [{
					"in": "path",
					"name": "activityId",
					"description": "The ID of the activity to reply to"
				},
				{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Activity"]
			}
		},
		"/activities/{activityId}/people/{collection}": {
			"get": {
				"summary": "Get People In Collection",
				"description": "List all of the people in the specified collection for a particular activity",
				"operationId": "plusDomains.people.listByActivity",
				"parameters": [{
					"in": "path",
					"name": "activityId",
					"description": "The ID of the activity to get the list of people for"
				},
				{
					"in": "path",
					"name": "collection",
					"description": "The collection of people to list"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of people to include in the response, which is used for paging"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Person"]
			}
		},
		"/circles/{circleId}": {
			"delete": {
				"summary": "Delete Circle",
				"description": "Delete a circle",
				"operationId": "plusDomains.circles.remove",
				"parameters": [{
					"in": "path",
					"name": "circleId",
					"description": "The ID of the circle to delete"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Circle"]
			},
			"get": {
				"summary": "Get Circle",
				"description": "Get a circle",
				"operationId": "plusDomains.circles.get",
				"parameters": [{
					"in": "path",
					"name": "circleId",
					"description": "The ID of the circle to get"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Circle"]
			},
			"patch": {
				"summary": "Update Circle",
				"description": "Update a circle's description",
				"operationId": "plusDomains.circles.patch",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "circleId",
					"description": "The ID of the circle to update"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Circle"]
			},
			"put": {
				"summary": "Update Circle",
				"description": "Update a circle's description",
				"operationId": "plusDomains.circles.update",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "circleId",
					"description": "The ID of the circle to update"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Circle"]
			}
		},
		"/circles/{circleId}/people": {
			"delete": {
				"summary": "Delete Circle",
				"description": "Remove a person from a circle",
				"operationId": "plusDomains.circles.removePeople",
				"parameters": [{
					"in": "path",
					"name": "circleId",
					"description": "The ID of the circle to remove the person from"
				},
				{
					"in": "query",
					"name": "email",
					"description": "Email of the people to add to the circle"
				},
				{
					"in": "query",
					"name": "userId",
					"description": "IDs of the people to remove from the circle"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Circle"]
			},
			"get": {
				"summary": "Get People in Circle",
				"description": "List all of the people who are members of a circle",
				"operationId": "plusDomains.people.listByCircle",
				"parameters": [{
					"in": "path",
					"name": "circleId",
					"description": "The ID of the circle to get the members of"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of people to include in the response, which is used for paging"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Person"]
			},
			"put": {
				"summary": "Update People in Circle",
				"description": "Add a person to a circle",
				"operationId": "plusDomains.circles.addPeople",
				"parameters": [{
					"in": "path",
					"name": "circleId",
					"description": "The ID of the circle to add the person to"
				},
				{
					"in": "query",
					"name": "email",
					"description": "Email of the people to add to the circle"
				},
				{
					"in": "query",
					"name": "userId",
					"description": "IDs of the people to add to the circle"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Person"]
			}
		},
		"/comments/{commentId}": {
			"get": {
				"summary": "Get Comment",
				"description": "Get a comment",
				"operationId": "plusDomains.comments.get",
				"parameters": [{
					"in": "path",
					"name": "commentId",
					"description": "The ID of the comment to get"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Comment"]
			}
		},
		"/people/{userId}": {
			"get": {
				"summary": "Get Person Profile",
				"description": "Get a person's profile",
				"operationId": "plusDomains.people.get",
				"parameters": [{
					"in": "path",
					"name": "userId",
					"description": "The ID of the person to get the profile for"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Person"]
			}
		},
		"/people/{userId}/activities": {
			"post": {
				"summary": "Create Activity",
				"description": "Create a new activity for the authenticated user",
				"operationId": "plusDomains.activities.insert",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "query",
					"name": "preview",
					"description": "If "true", extract the potential media attachments for a URL"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "The ID of the user to create the activity on behalf of"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Activity"]
			}
		},
		"/people/{userId}/activities/{collection}": {
			"get": {
				"summary": "Get Activities",
				"description": "List all of the activities in the specified collection for a particular user",
				"operationId": "plusDomains.activities.list",
				"parameters": [{
					"in": "path",
					"name": "collection",
					"description": "The collection of activities to list"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of activities to include in the response, which is used for paging"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "The ID of the user to get activities for"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Activity"]
			}
		},
		"/people/{userId}/audiences": {
			"get": {
				"summary": "Get Audience",
				"description": "List all of the audiences to which a user can share",
				"operationId": "plusDomains.audiences.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of circles to include in the response, which is used for paging"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "The ID of the user to get audiences for"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Audience"]
			}
		},
		"/people/{userId}/circles": {
			"get": {
				"summary": "Get Circles",
				"description": "List all of the circles for a user",
				"operationId": "plusDomains.circles.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of circles to include in the response, which is used for paging"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "The ID of the user to get circles for"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Circle"]
			},
			"post": {
				"summary": "Create New Circle",
				"description": "Create a new circle for the authenticated user",
				"operationId": "plusDomains.circles.insert",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "userId",
					"description": "The ID of the user to create the circle on behalf of"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Circle"]
			}
		},
		"/people/{userId}/media/{collection}": {
			"post": {
				"summary": "Add Media To Collection",
				"description": "Add a new media item to an album",
				"operationId": "plusDomains.media.insert",
				"parameters": [{
					"in": "body",
					"name": "body",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				},
				{
					"in": "path",
					"name": "collection"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "The ID of the user to create the activity on behalf of"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Media"]
			}
		},
		"/people/{userId}/people/{collection}": {
			"get": {
				"summary": "Get People In Collection",
				"description": "List all of the people in the specified collection",
				"operationId": "plusDomains.people.list",
				"parameters": [{
					"in": "path",
					"name": "collection",
					"description": "The collection of people to list"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of people to include in the response, which is used for paging"
				},
				{
					"in": "query",
					"name": "orderBy",
					"description": "The order to return people in"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "Get the collection of people for the person identified"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Person"]
			}
		}
	},
	"definitions": {
		"Acl": {
			"properties": {
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"domainRestricted": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Activity": {
			"properties": {
				"actor": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"address": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"annotation": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"crosspostSource": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"geocode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"object": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"placeId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"placeName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"provider": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"published": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"radius": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"url": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"verb": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ActivityFeed": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Audience": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"memberCount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"visibility": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AudiencesFeed": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalItems": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Circle": {
			"properties": {
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"people": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CircleFeed": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalItems": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Comment": {
			"properties": {
				"actor": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"inReplyTo": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"object": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"plusoners": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"published": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"verb": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CommentFeed": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Media": {
			"properties": {
				"author": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"exif": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"height": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"mediaCreatedTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"mediaUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"published": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sizeBytes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"streams": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"summary": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"url": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"videoDuration": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"videoStatus": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"width": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PeopleFeed": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalItems": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Person": {
			"properties": {
				"aboutMe": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"birthday": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"braggingRights": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"circledByCount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"cover": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"currentLocation": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"domain": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"emails": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"gender": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"image": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isPlusUser": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nickname": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"objectType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"occupation": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"organizations": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"placesLived": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"plusOneCount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"relationshipStatus": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"skills": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tagline": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"url": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"urls": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"verified": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Place": {
			"properties": {
				"address": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"position": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlusDomainsAclentryResource": {
			"properties": {
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Videostream": {
			"properties": {
				"height": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"url": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"width": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}