swagger: "2.0"
info:
  title: Cloud User Accounts
  description: Creates and manages users and groups for accessing Google Compute Engine
    virtual machines.
  contact:
    name: Google
    url: https://google.com
  version: vm_alpha
host: www.googleapis.com
basePath: /clouduseraccounts/vm_alpha/projects
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /{project}/global/groups:
    get:
      summary: Get Groups
      description: Retrieves the list of groups contained within the specified project
      operationId: clouduseraccounts.groups.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Group
    post:
      summary: Create Group
      description: Creates a Group resource in the specified project using the data
        included in the request
      operationId: clouduseraccounts.groups.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Group
  /{project}/global/groups/{groupName}:
    delete:
      summary: Delete Group
      description: Deletes the specified Group resource
      operationId: clouduseraccounts.groups.delete
      parameters:
      - in: path
        name: groupName
        description: Name of the Group resource to delete
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Group
    get:
      summary: Get Group
      description: Returns the specified Group resource
      operationId: clouduseraccounts.groups.get
      parameters:
      - in: path
        name: groupName
        description: Name of the Group resource to return
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Group
  /{project}/global/groups/{groupName}/addMember:
    post:
      summary: Add User To Group
      description: Adds users to the specified group
      operationId: clouduseraccounts.groups.addMember
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: groupName
        description: Name of the group for this request
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - User
  /{project}/global/groups/{groupName}/removeMember:
    post:
      summary: Remove Use From Group
      description: Removes users from the specified group
      operationId: clouduseraccounts.groups.removeMember
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: groupName
        description: Name of the group for this request
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - User
  /{project}/global/groups/{resource}/getIamPolicy:
    get:
      summary: Get IAM Policy
      description: Gets the access control policy for a resource
      operationId: clouduseraccounts.groups.getIamPolicy
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: resource
        description: Name of the resource for this request
      responses:
        200:
          description: OK
      tags:
      - IAM
  /{project}/global/groups/{resource}/setIamPolicy:
    post:
      summary: Set IAM Policy
      description: Sets the access control policy on the specified resource
      operationId: clouduseraccounts.groups.setIamPolicy
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: resource
        description: Name of the resource for this request
      responses:
        200:
          description: OK
      tags:
      - IAM
  /{project}/global/groups/{resource}/testIamPermissions:
    post:
      summary: Test IAM Permissions
      description: Returns permissions that a caller has on the specified resource
      operationId: clouduseraccounts.groups.testIamPermissions
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: resource
        description: Name of the resource for this request
      responses:
        200:
          description: OK
      tags:
      - IAM
  /{project}/global/operations:
    get:
      summary: Get Operations
      description: Retrieves the list of operation resources contained within the
        specified project
      operationId: clouduseraccounts.globalAccountsOperations.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Operation
  /{project}/global/operations/{operation}:
    delete:
      summary: Delete Operation
      description: Deletes the specified operation resource
      operationId: clouduseraccounts.globalAccountsOperations.delete
      parameters:
      - in: path
        name: operation
        description: Name of the Operations resource to delete
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Operation
    get:
      summary: Get Operation
      description: Retrieves the specified operation resource
      operationId: clouduseraccounts.globalAccountsOperations.get
      parameters:
      - in: path
        name: operation
        description: Name of the Operations resource to return
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - Operation
  /{project}/global/users:
    get:
      summary: Get Users
      description: Retrieves a list of users contained within the specified project
      operationId: clouduseraccounts.users.list
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - User
    post:
      summary: Create User
      description: Creates a User resource in the specified project using the data
        included in the request
      operationId: clouduseraccounts.users.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      responses:
        200:
          description: OK
      tags:
      - User
  /{project}/global/users/{resource}/getIamPolicy:
    get:
      summary: Get User IAM Policy
      description: Gets the access control policy for a resource
      operationId: clouduseraccounts.users.getIamPolicy
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: resource
        description: Name of the resource for this request
      responses:
        200:
          description: OK
      tags:
      - User IAM
  /{project}/global/users/{resource}/setIamPolicy:
    post:
      summary: Set User IAM Policy
      description: Sets the access control policy on the specified resource
      operationId: clouduseraccounts.users.setIamPolicy
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: resource
        description: Name of the resource for this request
      responses:
        200:
          description: OK
      tags:
      - User IAM
  /{project}/global/users/{resource}/testIamPermissions:
    post:
      summary: Test User IAM Permissions
      description: Returns permissions that a caller has on the specified resource
      operationId: clouduseraccounts.users.testIamPermissions
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: resource
        description: Name of the resource for this request
      responses:
        200:
          description: OK
      tags:
      - User IAM
  /{project}/global/users/{user}:
    delete:
      summary: Delete User
      description: Deletes the specified User resource
      operationId: clouduseraccounts.users.delete
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: user
        description: Name of the user resource to delete
      responses:
        200:
          description: OK
      tags:
      - User
    get:
      summary: Get User
      description: Returns the specified User resource
      operationId: clouduseraccounts.users.get
      parameters:
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: user
        description: Name of the user resource to return
      responses:
        200:
          description: OK
      tags:
      - User
  /{project}/global/users/{user}/addPublicKey:
    post:
      summary: Add Public Key
      description: Adds a public key to the specified User resource with the data
        included in the request
      operationId: clouduseraccounts.users.addPublicKey
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: user
        description: Name of the user for this request
      responses:
        200:
          description: OK
      tags:
      - Public Key
  /{project}/global/users/{user}/removePublicKey:
    post:
      summary: Remove Public Key
      description: Removes the specified public key from the user
      operationId: clouduseraccounts.users.removePublicKey
      parameters:
      - in: query
        name: fingerprint
        description: The fingerprint of the public key to delete
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: user
        description: Name of the user for this request
      responses:
        200:
          description: OK
      tags:
      - Public Key
  /{project}/zones/{zone}/authorizedKeysView/{user}:
    post:
      summary: Get Public Keys
      description: Returns a list of authorized public keys for a specific user account
      operationId: clouduseraccounts.linux.getAuthorizedKeysView
      parameters:
      - in: query
        name: instance
        description: The fully-qualified URL of the virtual machine requesting the
          view
      - in: query
        name: login
        description: Whether the view was requested as part of a user-initiated login
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: user
        description: The user account for which you want to get a list of authorized
          public keys
      - in: path
        name: zone
        description: Name of the zone for this request
      responses:
        200:
          description: OK
      tags:
      - Public Key
  /{project}/zones/{zone}/linuxAccountViews:
    post:
      summary: Get Linux Account Views
      description: Retrieves a list of user accounts for an instance within a specific
        project
      operationId: clouduseraccounts.linux.getLinuxAccountViews
      parameters:
      - in: query
        name: filter
        description: Sets a filter expression for filtering listed resources, in the
          form filter={expression}
      - in: query
        name: instance
        description: The fully-qualified URL of the virtual machine requesting the
          views
      - in: query
        name: maxResults
        description: The maximum number of results per page that should be returned
      - in: query
        name: orderBy
        description: Sorts list results by a certain order
      - in: query
        name: pageToken
        description: Specifies a page token to use
      - in: path
        name: project
        description: Project ID for this request
      - in: path
        name: zone
        description: Name of the zone for this request
      responses:
        200:
          description: OK
      tags:
      - Public Key
definitions:
  AuditConfig:
    properties:
      exemptedMembers:
        description: This is a default description.
        type: post
      service:
        description: This is a default description.
        type: post
  AuthorizedKeysView:
    properties:
      keys:
        description: This is a default description.
        type: post
      sudoer:
        description: This is a default description.
        type: post
  Binding:
    properties:
      members:
        description: This is a default description.
        type: post
      role:
        description: This is a default description.
        type: post
  Condition:
    properties:
      iam:
        description: This is a default description.
        type: post
      op:
        description: This is a default description.
        type: post
      svc:
        description: This is a default description.
        type: post
      sys:
        description: This is a default description.
        type: post
      value:
        description: This is a default description.
        type: post
      values:
        description: This is a default description.
        type: post
  Group:
    properties:
      creationTimestamp:
        description: This is a default description.
        type: post
      description:
        description: This is a default description.
        type: post
      id:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      members:
        description: This is a default description.
        type: post
      name:
        description: This is a default description.
        type: post
      selfLink:
        description: This is a default description.
        type: post
  GroupList:
    properties:
      id:
        description: This is a default description.
        type: post
      items:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      nextPageToken:
        description: This is a default description.
        type: post
      selfLink:
        description: This is a default description.
        type: post
  GroupsAddMemberRequest:
    properties:
      users:
        description: This is a default description.
        type: post
  GroupsRemoveMemberRequest:
    properties:
      users:
        description: This is a default description.
        type: post
  LinuxAccountViews:
    properties:
      groupViews:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      userViews:
        description: This is a default description.
        type: post
  LinuxGetAuthorizedKeysViewResponse:
    properties: []
  LinuxGetLinuxAccountViewsResponse:
    properties: []
  LinuxGroupView:
    properties:
      gid:
        description: This is a default description.
        type: post
      groupName:
        description: This is a default description.
        type: post
      members:
        description: This is a default description.
        type: post
  LinuxUserView:
    properties:
      gecos:
        description: This is a default description.
        type: post
      gid:
        description: This is a default description.
        type: post
      homeDirectory:
        description: This is a default description.
        type: post
      shell:
        description: This is a default description.
        type: post
      uid:
        description: This is a default description.
        type: post
      username:
        description: This is a default description.
        type: post
  LogConfig:
    properties: []
  LogConfigCounterOptions:
    properties:
      field:
        description: This is a default description.
        type: post
      metric:
        description: This is a default description.
        type: post
  Operation:
    properties:
      clientOperationId:
        description: This is a default description.
        type: post
      creationTimestamp:
        description: This is a default description.
        type: post
      description:
        description: This is a default description.
        type: post
      endTime:
        description: This is a default description.
        type: post
      error:
        description: This is a default description.
        type: post
      httpErrorMessage:
        description: This is a default description.
        type: post
      httpErrorStatusCode:
        description: This is a default description.
        type: post
      id:
        description: This is a default description.
        type: post
      insertTime:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      name:
        description: This is a default description.
        type: post
      operationType:
        description: This is a default description.
        type: post
      progress:
        description: This is a default description.
        type: post
      region:
        description: This is a default description.
        type: post
      selfLink:
        description: This is a default description.
        type: post
      startTime:
        description: This is a default description.
        type: post
      status:
        description: This is a default description.
        type: post
      statusMessage:
        description: This is a default description.
        type: post
      targetId:
        description: This is a default description.
        type: post
      targetLink:
        description: This is a default description.
        type: post
      user:
        description: This is a default description.
        type: post
      warnings:
        description: This is a default description.
        type: post
      zone:
        description: This is a default description.
        type: post
  OperationList:
    properties:
      id:
        description: This is a default description.
        type: post
      items:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      nextPageToken:
        description: This is a default description.
        type: post
      selfLink:
        description: This is a default description.
        type: post
  Policy:
    properties:
      auditConfigs:
        description: This is a default description.
        type: post
      bindings:
        description: This is a default description.
        type: post
      etag:
        description: This is a default description.
        type: post
      iamOwned:
        description: This is a default description.
        type: post
      rules:
        description: This is a default description.
        type: post
      version:
        description: This is a default description.
        type: post
  PublicKey:
    properties:
      creationTimestamp:
        description: This is a default description.
        type: post
      description:
        description: This is a default description.
        type: post
      expirationTimestamp:
        description: This is a default description.
        type: post
      fingerprint:
        description: This is a default description.
        type: post
      key:
        description: This is a default description.
        type: post
  Rule:
    properties:
      action:
        description: This is a default description.
        type: post
      conditions:
        description: This is a default description.
        type: post
      description:
        description: This is a default description.
        type: post
      ins:
        description: This is a default description.
        type: post
      logConfigs:
        description: This is a default description.
        type: post
      notIns:
        description: This is a default description.
        type: post
      permissions:
        description: This is a default description.
        type: post
  TestPermissionsRequest:
    properties:
      permissions:
        description: This is a default description.
        type: post
  TestPermissionsResponse:
    properties:
      permissions:
        description: This is a default description.
        type: post
  User:
    properties:
      creationTimestamp:
        description: This is a default description.
        type: post
      description:
        description: This is a default description.
        type: post
      groups:
        description: This is a default description.
        type: post
      id:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      name:
        description: This is a default description.
        type: post
      owner:
        description: This is a default description.
        type: post
      publicKeys:
        description: This is a default description.
        type: post
      selfLink:
        description: This is a default description.
        type: post
  UserList:
    properties:
      id:
        description: This is a default description.
        type: post
      items:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      nextPageToken:
        description: This is a default description.
        type: post
      selfLink:
        description: This is a default description.
        type: post