---
layout: page
title: The API Stack
---

<table cellpadding="3" cellspacing="2" width="90%" border="0" style="margin-top: 10px;">
{% for folder in site.data %}
  {% for item in folder %}
    {% assign file = item %}
    {% if file.apis != null %}
      {% assign masterapisjson = file.apis %}

      {% assign common_api_action_url = '' %}

      {% for apisjson in masterapisjson %}

        {% if apisjson.specificationVersion != null %}

          {% assign blog_url = '' %}
          {% assign blogrss_url = '' %}
          {% assign portal_url = '' %}
          {% assign gitub_url = '' %}
          {% assign twitter_url = '' %}
          {% assign website_url = '' %}

          {% for common in apisjson.x-common %}
            {% if common.type == 'x-blog' %}
              {% assign blog_url = common.url %}
            {% endif %}
            {% if common.type == 'x-blog-rss-feed' %}
              {% assign blogrss_url = common.url %}
            {% endif %}
            {% if common.type == 'x-portal' %}
              {% assign portal_url = common.url %}
            {% endif %}
            {% if common.type == 'x-github' %}
              {% assign gitub_url = common.url %}
            {% endif %}
            {% if common.type == 'x-twitter' %}
              {% assign twitter_url = common.url %}
            {% endif %}
            {% if common.type == 'x-api-actions' %}
              {% assign common_api_action_url = common.url %}
            {% endif %}
          {% endfor %}

          {% if apisjson.humanURL == null %}
            {% assign website_url = portal_url %}
          {% else %}
            {% assign website_url = apisjson.humanURL %}
          {% endif %}
            <tr>
              <td>


                <table cellpading="10" cellspacing="10" width="100%" class="card" border="0">
            <tr>
              <td colspan="2" style="padding: 15px;">
                {% if apisjson.image != null %}
                  <a href="{{ website_url }}">
                    <img src="{{ apisjson.image }}" align="left" style="padding: 10px;" width="125" />
                  </a>
                {% endif %}
                <a href="{{ website_url }}" style="font-size: 22px;"><strong>{{ apisjson.name }}</strong></a><br />
                {{ apisjson.description }}
              </td>
            </tr>
            <tr>
              <td align="center" colspan="3" style="margin-left: 25px; margin-right: 25px;">
                <ul style="list-style: none; display: inline;">
                  {% if portal_url != '' %}
                    <li style="display: inline; padding-left: 15px; padding-right: 15px;">
                      <a href="{{ portal_url }}" target="_blank" title="Portal">
                        <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-portal-developers.jpg" width="26" align="center" />
                      </a>
                    </li>
                  {% endif %}
                  {% if blog_url != '' %}
                    <li style="display: inline; padding-left: 15px; padding-right: 15px;">
                      <a href="{{ blog_url }}" target="_blank" title="Blog">
                        <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-blog-icon.png" width="26" align="center" />
                      </a>
                    </li>
                  {% endif %}

                  {% if blogrss_url != '' %}
                    <li style="display: inline; padding-left: 15px; padding-right: 15px;">
                      <a href="{{ blogrss_url }}" target="_blank" title="Blog RSS">
                        <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-rss-icon.png" width="26" align="center" />
                      </a>
                    </li>
                  {% endif %}

                  {% if twitter_url != '' %}
                    <li style="display: inline; padding-left: 15px; padding-right: 15px;">
                      <a href="{{ twitter_url }}" target="_blank" title="Twitter">
                        <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-twitter-icon.png" width="45" align="center" />
                      </a>
                    </li>
                  {% endif %}

                  {% if gitub_url != '' %}
                    <li style="display: inline; padding-left: 15px; padding-right: 15px;">
                      <a href="{{ gitub_url }}" target="_blank" title="Github">
                        <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-github-icon.png" width="52" align="center" />
                      </a>
                    </li>
                  {% endif %}

                  {% if apisjson.url != null %}
                    <li style="display: inline; padding-left: 15px; padding-right: 15px;">
                      <a href="{{ apisjson.url }}" target="_blank" title="APIs.json">
                        <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-api-a.png" width="51" align="center" />
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </td>
            </tr>
            <tr>
              <td align="center" colspan="3" style="margin-left: 90px; margin-right: 90px;">
                  {% assign api_action_url = '' %}
                  {% assign numberofapis = apisjson.apis | size %}
                  {% if numberofapis == 0 %}

                  {% else %}

                    <p style="font-size: 18px; text-align: left; margin-left: 117px;"><strong>APIs:</strong></p>
                      {% assign api_action_url = '' %}
                      {% for api in apisjson.apis %}

                      <table cellpadding="3" cellspacing="2" width="70%" border="0" style="margin-bottom: 25px;">

                          {% assign api_action_spec = '' %}
                          {% assign api_action_url = '' %}
                          {% assign openapi_json_spec_url = '' %}
                          {% assign openapi_yaml_spec_url = '' %}
                          {% for property in api.properties %}


                            {% assign thisname = apisjson.name | downcase %}
                            {% assign thisname = thisname | append:'/' %}
                            {% assign thisname = thisname | replace: ' ','-' %}

                            {% if property.type == 'x-openapi-spec-json' %}

                              {% assign openapi_json_spec_url = property.url %}
                              {% assign pathname = openapi_json_spec_url | replace: site.url,'' %}
                              {% assign pathname = pathname | replace: '/data/','' %}
                              {% assign pathname = pathname | replace: thisname,'' %}
                              {% assign pathname = pathname | replace: '/','' %}
                              {% assign pathname = pathname | replace: '.json','' %}
                              {% assign openapi_spec_json = file | map: pathname %}

                            {% endif %}

                            {% if property.type == 'x-openapi-spec-yaml' %}
                              {% assign openapi_yaml_spec_url = property.url %}
                            {% endif %}

                            {% if property.type == 'x-postman' %}
                              {% assign postman_url = property.url %}
                            {% endif %}

                            {% if property.type == 'x-api-blueprint' %}
                              {% assign api_blueprint_url = property.url %}
                            {% endif %}

                            {% if property.type == 'x-api-actions' %}
                              {% assign api_action_url = property.url %}
                            {% endif %}

                          {% endfor %}

                          <tr>
                            <td align="left">
                              {{ api.name }}
                            </td>
                            <td align="right">
                                <a href="{{ openapi_json_spec_url }}" target="_blank" title="OpenAPI Spec JSON">
                                  <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-swagger-round.png" width="25" align="right" />
                                </a>
                                <a href="{{ openapi_yaml_spec_url }}" target="_blank" title="OpenAPI Spec Yaml">
                                  <img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-yaml.png" width="25" align="right" />
                                </a>
                            </td>
                          </tr>
                          <tr style="display: none;" id="methods-for-{{ pathname }}">
                            <td colspan="2" align="left" style="margin-left: 25px; margin-right: 25px;">

                              <ul>
                                {% for spec in openapi_spec_json %}

                                  {% for path in spec.paths %}

                                    {% assign method_json = path[1] %}

                                    {% for method in method_json %}

                                      {% assign verb = method[0] | upcase %}
                                      {% assign summary = method[1].summary %}
                                      <li style="font-size: 12px;">{{ path[0] }} <strong>[{{ verb }}]</strong> {{ summary }}</li>

                                    {% endfor %}

                                  {% endfor %}

                                {% endfor %}
                              </ul>
                            </td>
                          </tr>
                        </table>

                        {% if api_action_url != '' %}
                        <p style="font-size: 18px; text-align: left; margin-left: 117px; padding-top: 8px;"><strong>Actions:</strong></p>
                        <table cellpadding="3" cellspacing="2" width="70%" border="0">
                          {% assign pathname = api_action_url | replace: site.url,'' %}
                          {% assign pathname = pathname | replace: '/data/','' %}
                          {% assign pathname = pathname | replace: thisname,'' %}
                          {% assign pathname = pathname | replace: '/','' %}
                          {% assign pathname = pathname | replace: '.json','' %}
                          {% assign api_action_spec = file | map: pathname %}
                          <tr>
                            <td colspan="2" align="left" style="margin-left: 75px; margin-right: 75px; margin-top: 15px;">
                              <ul style="margin-left: 15px;">
                                {% for actions in api_action_spec %}
                                  {% for action in actions %}
                                    {% assign action_label = action.Action %}
                                    {% assign action_url = action.URL %}
                                    <li style="font-size: 14px; list-style: none;">
                                      <a href="{{ action_url }}">
                                        <img src="https://s3.amazonaws.com/kinlane-productions/api-evangelist/zapier/zapier-icon.png" width="30" style="margin-right: 5px;" />
                                        {{ action_label }}
                                      </a>
                                    </li>
                                  {% endfor %}
                                {% endfor %}
                              </ul>
                            </td>
                            </tr>
                          </table>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </td>
                </tr>
                {% if common_api_action_url != '' %}

                  {% assign pathname = common_api_action_url | replace: site.url,'' %}
                  {% assign pathname = pathname | replace: '/data/','' %}
                  {% assign pathname = pathname | replace: thisname,'' %}
                  {% assign pathname = pathname | replace: '/','' %}
                  {% assign pathname = pathname | replace: '.json','' %}
                  {% assign api_action_spec = file | map: pathname %}
                  <tr>
                    <td colspan="3" align="left" style="margin-left: 75px; margin-right: 75px; margin-top 15px;">
                      <p style="font-size: 18px; margin-left: 117px; padding-top: 5px;"><strong>Actions:</strong></p>
                      <ul style="margin-left: 125px;">
                        {% for actions in api_action_spec %}
                          {% for action in actions %}
                            {% assign action_label = action.Action %}
                            {% assign action_url = action.URL %}
                            <li style="font-size: 14px; list-style: none;">
                              <a href="{{ action_url }}">
                                <img src="https://s3.amazonaws.com/kinlane-productions/api-evangelist/zapier/zapier-icon.png" width="30" style="margin-right: 5px;" />
                                {{ action_label }}
                              </a>
                            </li>
                          {% endfor %}
                        {% endfor %}
                      </ul>
                    </td>
                  </tr>
              {% endif %}
          </table>
        </td>
      </tr>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endfor %}
</table>
