swagger: "2.0"
info:
  title: Prediction
  description: Lets you access a cloud hosted machine learning service that makes
    it easy to build smart apps
  contact:
    name: Google
    url: https://google.com
  version: v1.6
host: www.googleapis.com
basePath: /prediction/v1.6/projects
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /{project}/hostedmodels/{hostedModelName}/predict:
    post:
      summary: Predict Model
      description: Submit input and request an output against a hosted model
      operationId: prediction.hostedmodels.predict
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: hostedModelName
        description: The name of a hosted model
      - in: path
        name: project
        description: The project associated with the model
      responses:
        200:
          description: OK
      tags:
      - Model
  /{project}/trainedmodels:
    post:
      summary: Train Model
      description: Train a Prediction API model
      operationId: prediction.trainedmodels.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: project
        description: The project associated with the model
      responses:
        200:
          description: OK
      tags:
      - Model
  /{project}/trainedmodels/list:
    get:
      summary: List Models
      description: List available models
      operationId: prediction.trainedmodels.list
      parameters:
      - in: query
        name: maxResults
        description: Maximum number of results to return
      - in: query
        name: pageToken
        description: Pagination token
      - in: path
        name: project
        description: The project associated with the model
      responses:
        200:
          description: OK
      tags:
      - Model
  /{project}/trainedmodels/{id}:
    delete:
      summary: Delete Model
      description: Delete a trained model
      operationId: prediction.trainedmodels.delete
      parameters:
      - in: path
        name: id
        description: The unique name for the predictive model
      - in: path
        name: project
        description: The project associated with the model
      responses:
        200:
          description: OK
      tags:
      - Model
    get:
      summary: Model Status
      description: Check training status of your model
      operationId: prediction.trainedmodels.get
      parameters:
      - in: path
        name: id
        description: The unique name for the predictive model
      - in: path
        name: project
        description: The project associated with the model
      responses:
        200:
          description: OK
      tags:
      - Model
    put:
      summary: Add New Data
      description: Add new data to a trained model
      operationId: prediction.trainedmodels.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: id
        description: The unique name for the predictive model
      - in: path
        name: project
        description: The project associated with the model
      responses:
        200:
          description: OK
      tags:
      - Model
  /{project}/trainedmodels/{id}/analyze:
    get:
      summary: Analyze
      description: Get analysis of the model and the data the model was trained on
      operationId: prediction.trainedmodels.analyze
      parameters:
      - in: path
        name: id
        description: The unique name for the predictive model
      - in: path
        name: project
        description: The project associated with the model
      responses:
        200:
          description: OK
      tags:
      - Model
  /{project}/trainedmodels/{id}/predict:
    post:
      summary: Predict
      description: Submit model id and request a prediction
      operationId: prediction.trainedmodels.predict
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: id
        description: The unique name for the predictive model
      - in: path
        name: project
        description: The project associated with the model
      responses:
        200:
          description: OK
      tags:
      - Model
definitions:
  Analyze:
    properties:
      dataDescription:
        description: This is a default description.
        type: post
      errors:
        description: This is a default description.
        type: post
      id:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      modelDescription:
        description: This is a default description.
        type: post
      selfLink:
        description: This is a default description.
        type: post
  Input:
    properties:
      input:
        description: This is a default description.
        type: post
  Insert:
    properties:
      id:
        description: This is a default description.
        type: post
      modelType:
        description: This is a default description.
        type: post
      sourceModel:
        description: This is a default description.
        type: post
      storageDataLocation:
        description: This is a default description.
        type: post
      storagePMMLLocation:
        description: This is a default description.
        type: post
      storagePMMLModelLocation:
        description: This is a default description.
        type: post
      trainingInstances:
        description: This is a default description.
        type: post
      utility:
        description: This is a default description.
        type: post
  Insert2:
    properties:
      created:
        description: This is a default description.
        type: post
      id:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      modelInfo:
        description: This is a default description.
        type: post
      modelType:
        description: This is a default description.
        type: post
      selfLink:
        description: This is a default description.
        type: post
      storageDataLocation:
        description: This is a default description.
        type: post
      storagePMMLLocation:
        description: This is a default description.
        type: post
      storagePMMLModelLocation:
        description: This is a default description.
        type: post
      trainingComplete:
        description: This is a default description.
        type: post
      trainingStatus:
        description: This is a default description.
        type: post
  List:
    properties:
      items:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      nextPageToken:
        description: This is a default description.
        type: post
      selfLink:
        description: This is a default description.
        type: post
  Output:
    properties:
      id:
        description: This is a default description.
        type: post
      kind:
        description: This is a default description.
        type: post
      outputLabel:
        description: This is a default description.
        type: post
      outputMulti:
        description: This is a default description.
        type: post
      outputValue:
        description: This is a default description.
        type: post
      selfLink:
        description: This is a default description.
        type: post
  Update:
    properties:
      csvInstance:
        description: This is a default description.
        type: post
      output:
        description: This is a default description.
        type: post