swagger: "2.0"
info:
  title: Enterprise Apps Reseller
  description: Creates and manages your customers and their subscriptions.
  contact:
    name: Google
    url: https://google.com
  version: v1
host: www.googleapis.com
basePath: /apps/reseller/v1
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /customers:
    post:
      summary: Create Customer
      description: Order a new customer's account
      operationId: reseller.customers.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: customerAuthToken
        description: The customerAuthToken query string is required when creating
          a resold account that transfers a direct customer's subscription or transfers
          another reseller customer's subscription to your reseller management
      responses:
        200:
          description: OK
      tags:
      - Customer
  /customers/{customerId}:
    get:
      summary: Get Customer
      description: Get a customer account
      operationId: reseller.customers.get
      parameters:
      - in: path
        name: customerId
        description: Either the customer's primary domain name or the customer's unique
          identifier
      responses:
        200:
          description: OK
      tags:
      - Customer
    patch:
      summary: Update Customer
      description: Update a customer account's settings
      operationId: reseller.customers.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: customerId
        description: Either the customer's primary domain name or the customer's unique
          identifier
      responses:
        200:
          description: OK
      tags:
      - Customer
    put:
      summary: Update Customer
      description: Update a customer account's settings
      operationId: reseller.customers.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: customerId
        description: Either the customer's primary domain name or the customer's unique
          identifier
      responses:
        200:
          description: OK
      tags:
      - Customer
  /customers/{customerId}/subscriptions:
    post:
      summary: Create Subscription
      description: Create or transfer a subscription
      operationId: reseller.subscriptions.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: query
        name: customerAuthToken
        description: The customerAuthToken query string is required when creating
          a resold account that transfers a direct customer's subscription or transfers
          another reseller customer's subscription to your reseller management
      - in: path
        name: customerId
        description: Either the customer's primary domain name or the customer's unique
          identifier
      responses:
        200:
          description: OK
      tags:
      - Subscription
  /customers/{customerId}/subscriptions/{subscriptionId}:
    delete:
      summary: Cancel Subscription
      description: Cancel, suspend or transfer a subscription to direct
      operationId: reseller.subscriptions.delete
      parameters:
      - in: path
        name: customerId
        description: Either the customer's primary domain name or the customer's unique
          identifier
      - in: query
        name: deletionType
        description: The deletionType query string enables the cancellation, downgrade,
          or suspension of a subscription
      - in: path
        name: subscriptionId
        description: This is a required property
      responses:
        200:
          description: OK
      tags:
      - Subscription
    get:
      summary: Get Subscription
      description: Get a specific subscription
      operationId: reseller.subscriptions.get
      parameters:
      - in: path
        name: customerId
        description: Either the customer's primary domain name or the customer's unique
          identifier
      - in: path
        name: subscriptionId
        description: This is a required property
      responses:
        200:
          description: OK
      tags:
      - Subscription
  /customers/{customerId}/subscriptions/{subscriptionId}/activate:
    post:
      summary: Activate Subscription
      description: Activates a subscription previously suspended by the reseller
      operationId: reseller.subscriptions.activate
      parameters:
      - in: path
        name: customerId
        description: Either the customer's primary domain name or the customer's unique
          identifier
      - in: path
        name: subscriptionId
        description: This is a required property
      responses:
        200:
          description: OK
      tags:
      - Subscription
  /customers/{customerId}/subscriptions/{subscriptionId}/changePlan:
    post:
      summary: Update Subscription
      description: Update a subscription plan
      operationId: reseller.subscriptions.changePlan
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: customerId
        description: Either the customer's primary domain name or the customer's unique
          identifier
      - in: path
        name: subscriptionId
        description: This is a required property
      responses:
        200:
          description: OK
      tags:
      - Subscription
  /customers/{customerId}/subscriptions/{subscriptionId}/changeRenewalSettings:
    post:
      summary: Update User License
      description: Update a user license's renewal settings
      operationId: reseller.subscriptions.changeRenewalSettings
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: customerId
        description: Either the customer's primary domain name or the customer's unique
          identifier
      - in: path
        name: subscriptionId
        description: This is a required property
      responses:
        200:
          description: OK
      tags:
      - License
  /customers/{customerId}/subscriptions/{subscriptionId}/changeSeats:
    post:
      summary: Update Suscription License
      description: Update a subscription's user license settings
      operationId: reseller.subscriptions.changeSeats
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: customerId
        description: Either the customer's primary domain name or the customer's unique
          identifier
      - in: path
        name: subscriptionId
        description: This is a required property
      responses:
        200:
          description: OK
      tags:
      - License
  /customers/{customerId}/subscriptions/{subscriptionId}/startPaidService:
    post:
      summary: Upgrade Free Trial
      description: Immediately move a 30-day free trial subscription to a paid service
        subscription
      operationId: reseller.subscriptions.startPaidService
      parameters:
      - in: path
        name: customerId
        description: Either the customer's primary domain name or the customer's unique
          identifier
      - in: path
        name: subscriptionId
        description: This is a required property
      responses:
        200:
          description: OK
      tags:
      - Free Trial
  /customers/{customerId}/subscriptions/{subscriptionId}/suspend:
    post:
      summary: Suspect Subscription
      description: Suspends an active subscription
      operationId: reseller.subscriptions.suspend
      parameters:
      - in: path
        name: customerId
        description: Either the customer's primary domain name or the customer's unique
          identifier
      - in: path
        name: subscriptionId
        description: This is a required property
      responses:
        200:
          description: OK
      tags:
      - LicenseSubscription
  /resellernotify/getwatchdetails:
    get:
      summary: Get Watch Details
      description: Returns all the details of the watch corresponding to the reseller
      operationId: reseller.resellernotify.getwatchdetails
      responses:
        200:
          description: OK
      tags:
      - Notification
  /resellernotify/register:
    post:
      summary: Register Reseller
      description: Registers a Reseller for receiving notifications
      operationId: reseller.resellernotify.register
      parameters:
      - in: query
        name: serviceAccountEmailAddress
        description: The service account which will own the created Cloud-PubSub topic
      responses:
        200:
          description: OK
      tags:
      - Register
  /resellernotify/unregister:
    post:
      summary: Unregister Reseller
      description: Unregisters a Reseller for receiving notifications
      operationId: reseller.resellernotify.unregister
      parameters:
      - in: query
        name: serviceAccountEmailAddress
        description: The service account which owns the Cloud-PubSub topic
      responses:
        200:
          description: OK
      tags:
      - Register
  /subscriptions:
    get:
      summary: List Subscriptions
      description: List of subscriptions managed by the reseller
      operationId: reseller.subscriptions.list
      parameters:
      - in: query
        name: customerAuthToken
        description: The customerAuthToken query string is required when creating
          a resold account that transfers a direct customer's subscription or transfers
          another reseller customer's subscription to your reseller management
      - in: query
        name: customerId
        description: Either the customer's primary domain name or the customer's unique
          identifier
      - in: query
        name: customerNamePrefix
        description: When retrieving all of your subscriptions and filtering for specific
          customers, you can enter a prefix for a customer name
      - in: query
        name: maxResults
        description: When retrieving a large list, the maxResults is the maximum number
          of results per page
      - in: query
        name: pageToken
        description: Token to specify next page in the list
      responses:
        200:
          description: OK
      tags:
      - Subscription
definitions:
  Address:
    properties:
      addressLine1:
        description: This is a default description.
        type: parameters
      addressLine2:
        description: This is a default description.
        type: parameters
      addressLine3:
        description: This is a default description.
        type: parameters
      contactName:
        description: This is a default description.
        type: parameters
      countryCode:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
      locality:
        description: This is a default description.
        type: parameters
      organizationName:
        description: This is a default description.
        type: parameters
      postalCode:
        description: This is a default description.
        type: parameters
      region:
        description: This is a default description.
        type: parameters
  ChangePlanRequest:
    properties:
      dealCode:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
      planName:
        description: This is a default description.
        type: parameters
      purchaseOrderId:
        description: This is a default description.
        type: parameters
  Customer:
    properties:
      alternateEmail:
        description: This is a default description.
        type: parameters
      customerDomain:
        description: This is a default description.
        type: parameters
      customerDomainVerified:
        description: This is a default description.
        type: parameters
      customerId:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
      phoneNumber:
        description: This is a default description.
        type: parameters
      resourceUiUrl:
        description: This is a default description.
        type: parameters
  RenewalSettings:
    properties:
      kind:
        description: This is a default description.
        type: parameters
      renewalType:
        description: This is a default description.
        type: parameters
  ResellernotifyGetwatchdetailsResponse:
    properties:
      serviceAccountEmailAddresses:
        description: This is a default description.
        type: parameters
      topicName:
        description: This is a default description.
        type: parameters
  ResellernotifyResource:
    properties:
      topicName:
        description: This is a default description.
        type: parameters
  Seats:
    properties:
      kind:
        description: This is a default description.
        type: parameters
      licensedNumberOfSeats:
        description: This is a default description.
        type: parameters
      maximumNumberOfSeats:
        description: This is a default description.
        type: parameters
      numberOfSeats:
        description: This is a default description.
        type: parameters
  Subscription:
    properties:
      billingMethod:
        description: This is a default description.
        type: parameters
      creationTime:
        description: This is a default description.
        type: parameters
      customerDomain:
        description: This is a default description.
        type: parameters
      customerId:
        description: This is a default description.
        type: parameters
      dealCode:
        description: This is a default description.
        type: parameters
      kind:
        description: This is a default description.
        type: parameters
      plan:
        description: This is a default description.
        type: parameters
      purchaseOrderId:
        description: This is a default description.
        type: parameters
      resourceUiUrl:
        description: This is a default description.
        type: parameters
      skuId:
        description: This is a default description.
        type: parameters
      skuName:
        description: This is a default description.
        type: parameters
      status:
        description: This is a default description.
        type: parameters
      subscriptionId:
        description: This is a default description.
        type: parameters
      suspensionReasons:
        description: This is a default description.
        type: parameters
      transferInfo:
        description: This is a default description.
        type: parameters
      trialSettings:
        description: This is a default description.
        type: parameters
  Subscriptions:
    properties:
      kind:
        description: This is a default description.
        type: parameters
      nextPageToken:
        description: This is a default description.
        type: parameters
      subscriptions:
        description: This is a default description.
        type: parameters